<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sseju.java.prtprog.mapper.PrtProgMapper">
	<!-- R select 관련 쿼리 -->
		<!-- 생산 진행 현황의 첫번째 그리드 -->
	<select id="getPrtProgList" resultType="pprVO">
        SELECT prr.pre_no,
               pt.prt_name,
               pt.prt_code, 
               prr.prt_qty, 
               pe.ins_qty, 
               pe.pre_date, 
               pe.pre_manager,
               ee.emp_name
               
		FROM product pt
         JOIN produce pe
		   ON pt.prt_code = pe.prt_code
		 JOIN process_run prr
		   ON prr.pre_no = pe.pre_no
         JOIN process_inf pri
           ON pri.prs_no = prr.prs_no
		 JOIN employee ee
		   ON ee.emp_id = pe.pre_manager
		WHERE prr.prt_qty <![CDATA[ > ]]>0    
         AND pri.prs_st_hour IS NOT NULL
         AND pri.prs_sp_hour IS NULL
		ORDER BY prr.pre_no DESC
	</select>
	
		<!-- 생산 공정별 자재 상황 그리드용 쿼리 -->
	<select id="progPrtCondition" resultType="pprVO">
		SELECT bo.mat_code,
		       ma.mat_name,
		       mo.mat_out_qty
		FROM product pt
		 JOIN bom bo
		   ON bo.prt_code = pt.prt_code
		 JOIN material ma
		   ON bo.mat_code = ma.mat_code
		 JOIN process prs
		   ON ma.prs_code = prs.prs_code
		 JOIN process_run prr
		   ON prs.prs_code = prr.prs_code
		 JOIN mat_out mo
		   ON mo.mat_out_no = prr.mat_out_no
		 JOIN produce pe
		   ON pe.pre_no = prr.pre_no
		WHERE pe.pre_no = #{preNo}
		AND bo.prt_code = #{prtCode}
	</select>
</mapper>