<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>MatInputHistory</title>
<!-- 제이쿼리 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- 토스트UI -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<body>
	<article layout:fragment="content">
		<main id="main" class="main">
			<h4>자재 투입 내역 조회 / 관리</h4>
			<!-- Button trigger modal -->
			<button type="button" class="button" data-bs-toggle="modal"
				data-bs-target="#exampleModal">자재 발주 신청</button>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">자재 발주 신청</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">인풋태그, 셀렉트박스로 </div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary">확인</button>
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 그리드 -->
			<div id="mihGrid"></div>


			<script type="text/javascript">
				var mihGrid = new tui.Grid({
					el : document.getElementById('mihGrid'),
					data : [ {
						matOutDate : '2022-11-16',
						prsCode : 'EQM-BT / 공병분리기',
						matOutQty : '30000',
						lotQty : '30000',
						prsManager : '김준형' //id값으로 끌어와야함
					}, {
						matOutDate : '2022-11-20',
						prsCode : '자몽맛소주',
						matOutQty : '10000',
						lotQty : '10000',
						prsManager : '김두영'
					}
					// data 가져오는 법
					// data: {
					//    api: {
					//       readData: {
					//          url: '/api/readData',
					//          method: 'GET'
					//       }
					//    }
					// },
					],
					scrollX : false,
					scrollY : false,
					minBodyHeight : 30,
					pageOptions : {
						perPage : 5
					},
					columns : [ {
						header : '투입일자',
						name : 'matOutDate'
					}, {
						header : '공정코드', //각 자재별로 어느 공정에 투입되었는지
						name : 'prsCode',
						filter : 'select'
					}, {
						header : '투입수량', //각 공정에 몇개씩 투입되었는지=이거는 필요한가? 다똑같이 투입될건데
						name : 'matOutQty'
					}, {
						header : '재고수량',
						name : 'lotQty'
					}, {
						header : '자재 출고 담당자',
						name : 'prsManager'
					} ]
				});
			</script>

		</main>
	</article>
</body>
</html>