<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>자재 투입 내역</title>
</head>
<body>
	<article layout:fragment="content">
		<main id="main" class="main">
			<h4>자재 투입 내역 조회</h4>
			<div id="mihGrid"></div>

			<script type="text/javascript">
			showMihList();
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
				var mihGrid = new tui.Grid({
					el : document.getElementById('mihGrid'),
					scrollX : false,
					scrollY : false,
			        pageOptions: {
			            useClient: true,
			            perPage: 10
			        },
					columns : [ {
						header : '투입일자',
						name : 'matOutDate',
						align : 'center',
						formatter({value}) {
					      return `${value.substring(0,10)}`;
					    },
					    filter: {
	                        type: 'date',
	                        options: {
	                          format: 'yyyy-MM-dd'
	                        }
	                     },
					}, {
						header : '작업 지시 번호',
						name : 'preNo',
						align : 'center',
						filter : 'select'
					}, {
						header : '자재명',
						name : 'matName',
						filter : 'select',
						align : 'center'
					},
					{
						header : '공정명', 
						name : 'prsName',
						filter : 'select',
						align : 'center'
					}, {
						header : '투입수량', 
						name : 'matOutQty',
						align : 'center',
						formatter : function (ev){
		                      return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')+ 'EA';
		                    }
					}]
				});
				//자재 투입 이력 그리드의 데이터 가져오기
				function showMihList(){
					fetch("getmihList")
					.then(res=>res.json())
					.then(obj=>{
						console.log(obj);
						mihGrid.resetData(obj);
					})
				}
			</script>

		</main>
	</article>
</body>
</html>