<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>production process</title>
<!-- 제이쿼리 -->
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- 토스트UI -->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<body>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@미사용 페이지 삭제예정@@@@@@@@@@@@@@ -->
	<article layout:fragment="content">
		<main id="main" class="main">
		<h4>생산 공정 관리</h4>
			<div style="float:right;">
				<button class="button">수정</button>
				<button class="button">삭제</button>
			</div>
			<!-- 작업 지시 DB에서 불러와가지고 grid로 띄워줌
			grid에 띄워진 list를 클릭하면 상세정보가 나오게 할 수 있는지 알아봐야함 -->
			<div id="prtProcessGrid"></div>
			<!-- 작업 지시 등록 칸 -->
			<br>
			<h4 style="display: inline-block;">생산 공정 등록</h4>
			<div style="float:right;">
			<button class="button">등록</button>
			</div>
			<form action="insert" method="post">
				<div>
				<!-- 품목코드가 등록되면 품목명이 자동으로 입력되게 -->
					<table id="insertwo">
						<tr>
							<th>공정코드</th>
								<td>
									<select>
										<option>선택</option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
										<option></option>
									</select>
								</td>
							<th>반환 사유</th>
							<td><input type="text"></td>
							<th>반환수량</th>
							<td><input type="number" min="1"></td>
							<th>신청 일자</th>
							<!-- 지시 일자일 경우 당일로 고정되게 자동으로, 터치X -->
							<!-- 납기 일자로 할 경우에는 날짜 선택 가능해야함 -->
							<td><input type="date"></td>							
						</tr>
					</table>
				</div>
			</form>

			<script type="text/javascript">
			 var prtProcessGrid = new tui.Grid({
				 el: document.getElementById('prtProcessGrid'),
				 data : [ {
						  prsCode : 'MAT_001',
				    	  prsName : '병 잠금',
				    	  lineNo : 'line_number_1',
				    	  eqmCheck : '매년 3, 5 7, 9월',
				    	  eqmYn : '가동중',
				    	  eqmCode : 'SBCODE_123456'
			      		}
			         // data 가져오는 법
			         // data: {
			         //    api: {
			         //       readData: {
			         //          url: '/api/readData',
			         //          method: 'GET'
			         //       }
			         //    }
			         // },
			      ],
			      rowHeaders: ['checkbox'],
			      
		         scrollX : false,
		         scrollY : false,
		         minBodyHeight: 30,
		         pageOptions: {
		           perPage: 5
		         },
		         columns: [
				        {
				          header: '공정 코드', //process tbl
				          name: 'prsCode'
				        },
				        {
				          header: '공정명',
				          name: 'prsName'
				        },
				        {
				          header : '라인번호',
				          name:'lineNo'
				        },
				        {
				          header: '점검주기', //eqm
				          name: 'eqmCheck'
				        },
				        {
				          header: '가동여부',
				          name: 'eqmYn',
				        },
				        {
				          header : '설비 코드',
				          name:'eqmCode'
				        }
				        ]
		      });
			   grid.on('check', ev => {
				      console.log('check!', ev);
				    });

				    grid.on('uncheck', ev => {
				      console.log('uncheck!', ev);
				    });

				    grid.on('focusChange', ev => {
				      console.log('change focused cell!', ev);
				    });
		</script>		
		
		</main>
	</article>
</body>
</html>