<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>PrtPerList</title>
<!-- 아이콘 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>
<body>
	<article layout:fragment="content">
		<main id="main" class="main">
			<h4>생산 실적</h4>
			<!-- 그리드 -->
			<div id="prtperGrid"></div>
			<br>
			<!-- 이거 회의후 띄울지 말지 결정 
			 -->
			<div>
			<h6>불량 상세 내역</h6>
			<div id="prrErrGrid"></div>			
			</div>
			
			<script type="text/javascript">
			showAll();
			
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			/*------------------------------- 
			생산 실적 내역 그리드, 최신순이 위로 올라오게 설정
			------------------------------------*/
				var prtperGrid = new tui.Grid({
					el : document.getElementById('prtperGrid'),
					scrollX : false,
					scrollY : false,
			        pageOptions: {
			            useClient: true,
			            perPage: 10
			        },
					columns : [ {
						header : '작업 지시 번호',
						name : 'preNo',
						align : 'center'
					}, {
						header : '제품명',
						name : 'prtName',
						filter : 'select',
						align : 'center'
					}, {
						header : '생산량',
						name : 'prtQty',
						align : 'center',
						formatter : function (ev){
		                      return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')+ 'EA';
		                    }
					}, {
						header : '불량 발생 개수',
						name : 'prsErrQty',
						align : 'center',
						formatter : function (ev){
		                      return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')+ 'EA';
		                    },
		                hidden : 1    
					}, {
						header : '불량 코드',
						name : 'errCode',
						filter : 'select',
						align : 'center',
		                hidden : 1 
					}, {
						header : '불량명',
						name : 'errName',
						filter : 'select',
						align : 'center',
		                hidden : 1 
					},  {
						header : '작업일자',
						name : 'prsDate',
						filter: {
				            type: 'date',
				            options: {
				              format: 'yyyy-MM-dd'
				            }
			            },
						align : 'center',
						 formatter({value}) {
						      return `${value.substring(0,10)}`;
						    } 
					},{
						header : '담당자',
						name : 'empName',
						filter : 'select',
						align : 'center'
					}]
				});
			//생산 실적 그리드에 띄워주기 위한 값을 DB에서 가져옴
				function showAll() {
				       fetch("getPrtPerList") 
				       .then(res=>res.json())
				       .then(obj=>{
				           console.log(obj);
				           prtperGrid.resetData(obj);
				       })
				}
				/* prtPerGrid 행 클릭 시 prrErrGrid그리드에 데이터를 가져오는 클릭이벤트 */
				prtperGrid.on('click', (ev)=>{
 					let preNo = ev.nativeEvent.target.innerText;
					console.log(preNo);
					
					$.ajax({
						url:'getErrList',
						data : {preNo:preNo},
						dataType:"json",
						async:false,
						success:function(data){
							prrErrGrid.resetData(data);
						},
						error:function(reject){
							console.log(reject);
						}
					}) 
				});
					
				
				/*------------------------
				생산 실적 그리드 행 클릭 시, 불량갯수와 불량사유를 보여주는 그리드
				--------------------------*/
				var prrErrGrid = new tui.Grid({
					el : document.getElementById('prrErrGrid'),
					scrollX : false,
					scrollY : false,
					columns : [ {
						header : '불량 코드',
						name : 'errCode',
						filter : 'select',
						align : 'center'
					}, {
						header : '불량명',
						name : 'errName',
						align : 'center'
					}, {
						header : '불량 발생 수',
						name : 'prsErrQty',
						align : 'center',
						formatter : function (ev){
	                      return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')+ 'EA';
	                    }
					} ]
				});
			</script>
		</main>
	</article>
</body>
</html>