<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>생산 진행 현황 조회</title>
</head>
<body>
	<article layout:fragment="content">
		<main id="main" class="main">
			<h4>생산 진행 현황</h4>
			<!-- 그리드 -->
			<div id="prtProgGrid"></div>
			<br>
			<h6 style="display:inline-block">생산 공정별 자재 상황</h6>
			<div id="matConditionGrid"></div>
			
			<script type="text/javascript">
			showProg();
			/*ㄴ실시간 공정 조회 위한 인터벌 생성*/
			setInterval(()=>showProg(), 1500);
			
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			
			/* 생산 진행 현황 그리드 */
				var prtProgGrid= new tui.Grid({
					el : document.getElementById('prtProgGrid'),
					scrollX : false,
					scrollY : false,
			        pageOptions: {
			            useClient: true,
			            perPage: 10
			        },
					columns : [ {
						header : '작업 지시 번호',
						name : 'preNo',
						align : 'center'
					}, {
						header : '제품명',
						name : 'prtName',
						filter : 'select',
						align : 'center'
					}, {
						header : '생산량',
						name : 'prtQty',
						align : 'center',
						formatter : function (ev){
		                      return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')+ 'EA';
		                    }
					}, {
						header : '지시일자',
						name : 'preDate',
						align : 'center',
				 		 formatter({value}) {
						      return `${value.substring(0,10)}`;
						    } 
					}, {
						header : '담당자',
						name : 'empName',
						filter : 'select',
						align : 'center'
					},{
						header : '제품코드',
						name : 'prtCode',
						align : 'center',
						hidden : 1
					} ]
				});
			//생산 진행 현황 그리드 데이터 가져오기 함수
				function showProg() {
				       fetch("getPrtProgList") 
				       .then(res=>res.json())
				       .then(obj=>{
				           console.log(obj);
				           prtProgGrid.resetData(obj);
				       })
			}
			
			/* 생산 진행 현황 그리드 행 클릭 시 아래 자재 상황 그리드에 맞는 데이터 불러오기 */
			prtProgGrid.on('click', (ev)=>{
				let data = prtProgGrid.getRow(ev.rowKey)
				console.log(data);
				$.ajax({
					url:'progPrtCondition',
					data : data,
					dataType:"json",
					async:false,
					success:function(data){
							toastr.success("데이터를 불러왔습니다.")
							matConditionGrid.resetData(data);
					},
					error:function(reject){
						console.log(reject);
					}
				})
			})
			/* 자재 상황 그리드
			생산 진행 중인 제품에 대한 자재 상황만 띄워줘야함 */
			var matConditionGrid = new tui.Grid({
					el : document.getElementById('matConditionGrid'),
					scrollX : false,
					scrollY : false,
			        pageOptions: {
			            useClient: true,
			            perPage: 10
			        },
					columns : [ {
						header : '자재 코드',
						name : 'matCode',
						filter: 'select',
						align : 'center'
					}, {
						header : '자재명',
						name : 'matName',
						filter: 'select',
						align : 'center'
					}, {
						header : '투입량',
						name : 'matOutQty',
						align : 'center'
					} ]
				});
			</script>
		</main>
	</article>
</body>
</html>