<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>작업지시</title>
</head>
<body>
	<article layout:fragment="content">
		<main id="main" class="main">
			<h4>
				<strong>작업 지시 관리</strong>
			</h4>
			<br>
			<h6 style="display: inline-block;">주문 신청 내역</h6>
			<div id=orderNoGrid></div>

			<!-- 작업 지시 등록 칸 -->
			<form action="insertWorkOrder" method="post">
				<h6 style="display: inline-block;">작업 지시 등록</h6>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input type="hidden" name="auth" value="ROLE_ADMIN">
				<button type="submit" id="submit" class="button" style="float: right">등록</button>
				
				<div>
					<table class="table">
						<tr>
							<th>*주문번호</th>
								<td>
									<input type="text" id="orderNo" name="orderNo" class="ibox" readonly>
								</td>
							<th>*품목명</th>
								<td>
									<input type="text" id="prtName" name="prtName" class="ibox" readonly>
									<input type="hidden" id="prtCode" name="prtCode">
								</td>
							<th>*담당자</th>
								<td>
									<select name="empId" id="empId">
										<option value=0>---선택---</option>
										<th:block th:each="e : ${idName}">
											<option th:value="${e.empId}" th:text="${e.empName}"></option>
										</th:block>
									</select>
								</td>
							<th>*지시수량</th>
								<td>
									<input type="number" name="insQty" id="insQty" class="ibox" min="1" readonly>
								</td>
							<th>*작업 시작 일자</th>
								<td>
									<input type="date" name="preDate" class="ibox" id="preDate">
								</td>
						</tr>
					</table>
				</div>
			</form>
			
			<br>
			
			<div>
				<h6 style="display: inline-block;">등록된 작업 지시 내역</h6>
				<div style="float: right">
					<button class="button" onclick="updateWorkOrder()">수정</button>
					<button class="button" onclick="selectDeleteWO()">삭제</button>
				</div>
			</div>
			<div id="workorderGrid"></div>
			<script type="text/javascript">
			
			showAll();
			showAll2();
			
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			
			/* 주문 정보 출력 그리드 */
			var workOrderGrid = new tui.Grid({
				 el: document.getElementById('workorderGrid'),
			        scrollX : false,
			        scrollY : false,
			        pageOptions: {
			            useClient: true,
			            perPage: 10
			        },
				    rowHeaders: ['checkbox'],
				    columns:
				    	[{
							header: '작업 지시 번호',
					    	name: 'preNo',
					    	filter : 'select',
							align : 'center'							
						},
						{
							header: '주문번호',
						    name: 'orderNo',
							align : 'center'
						},
						{
						 	header: '품목명',
						    name: 'prtName',
							align : 'center'
						},
						{
						 	header: '지시수량',
						    name: 'insQty',
							align : 'center',
							formatter : function (ev){
		                      return ev.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')+ 'EA';
		                    }
						}, {
							header: '작업 시작일',
						    name: 'preDate',
						    align : 'center',
						    filter: {
		                        type: 'date',
		                        options: {
		                          format: 'yyyy-MM-dd'
		                        }
		                     },
		                     formatter({value}) {
							      return `${value.substring(0,10)}`;
							    },
						}, {
						    header : '담당자',
						    name:'empName',
						    filter : 'select',
							align : 'center'
						}, {
						    header : '납기일자',
						    name:'dday',
						    filter: {
		                        type: 'date',
		                        options: {
		                          format: 'yyyy-MM-dd'
		                        }
		                     },
							align : 'center',
							formatter({value}) {
						      return `${value.substring(0,10)}`;
						    }
						}, {
							header : '제품코드',
						    name : 'prtCode',
						    hidden : 1
						}]
				      });
			
				
				var chkWorkOrder = [];
				
			   	workOrderGrid.on('click', ev => {
			   		if($('#orderNo').val()==workOrderGrid.getValue(ev.rowKey, 'orderNo')
			   				&& $('#prtName').val()==workOrderGrid.getValue(ev.rowKey, 'prtName')){
			   			$('#orderNo').val('');
					      $('#orderNo').attr('readonly', true);
					      $('#preNo').val('');
					      $('#preNo').attr('readonly', true);
					      $('#dDay').val('');
					      $('#prtName').val('');
					      $('#insQty').val('');
					      $('#prePrg').val('');
					      $('#prtCode').val('');
			   		}else{
				   		chkWorkOrder.push((workOrderGrid.getValue(ev.rowKey, 'preNo')));
					      $('#orderNo').val(workOrderGrid.getValue(ev.rowKey, 'orderNo'));
					      $('#orderNo').attr('readonly', true);
					      $('#preNo').val(workOrderGrid.getValue(ev.RowKey, 'preNo'));
					      $('#preNo').attr('readonly', true);
					      $('#prtName').val(workOrderGrid.getValue(ev.rowKey, 'prtName'));
					      $('#insQty').val(workOrderGrid.getValue(ev.rowKey, 'insQty'));
					      $('#dDay').val(workOrderGrid.getValue(ev.rowKey, 'dDay'));
					      $('#prePrg').val(workOrderGrid.getValue(ev.rowKey, 'prePrg'));
					      $('#prtCode').val(workOrderGrid.getValue(ev.rowKey, 'prtCode'));
					   	}
			    });
				 
			   	//작업 지시 그리드의 선택 행 삭제
			   	function selectDeleteWO(){
				    console.log(workOrderGrid.getCheckedRows());
					let deleteWorkOrder = [];
					let deleteOrder = [];
					let deleteCode = [];
					for(wo of workOrderGrid.getCheckedRows()){
				    	let workOrderVO = {}
				    	workOrderVO.preNo = wo.preNo
				    	workOrderVO.orderNo= wo.orderNo
				    	workOrderVO.prtCode = wo.prtCode
						deleteWorkOrder.push(workOrderVO);
					}
				   	$.ajax({
				   		url : 'selectDeleteWO',
				   		type : 'POST',
				   		contentType : "application/json", 
				   		data :JSON.stringify(deleteWorkOrder), 
				   		dataType : "json",
				   		async:false,
				   		beforeSend : function(xhr){
				   			xhr.setRequestHeader(header, token);
				   		},
				   		success : function(data){
				   			if(data > 0){
				   				toastr.success("삭제완료")
				   				showAll();
				   				showAll2();
				   				$('#orderNo').val('');
				   				$('#prtName').val('');
				   				$('#insQty').val('');
				   			}else{
				   				toastr.error("삭제 실패")				   			
				   				}
				   		},
				   		error:function(reject){
				   			console.log(reject);
				   		}
					});
				}
				//작업 지시 그리드 선택 행 수정
				function updateWorkOrder(){
					let preManager = $('#empId').val();
					let preDate = $('#preDate').val();
					let orderNo = $('#orderNo').val();
					
					let updateWorkOrder = {'preManager': preManager, 'preDate':preDate, 'orderNo':orderNo};
					
					$.ajax({
							url : 'updateWorkOrder',
							type : 'POST',
							data : JSON.stringify(updateWorkOrder),
							dataType : "json",
							contentType : 'application/json',
							async : false,
							beforeSend : function(xhr){
					   			xhr.setRequestHeader(header, token);
					   		},
					   		success : function(data){
					   			if(data > 0){
					   				toastr.success("수정 완료")
					   				showAll();
					   				$('#orderNo').val('');
					   				$('#prtName').val('');
					   				$('#insQty').val('');
					   			}else{
					   				toastr.error("수정 실패")
					   			}
					   		},
					   		error:function(reject){
					   			console.log(reject);
					   		}
						});
					}
			    	//주문 번호 그리드
				    var orderNoGrid = new tui.Grid({
						el : document.getElementById('orderNoGrid'),
						scrollX : false,
						scrollY : false,
				        pageOptions: {
				            useClient: true,
				            perPage: 10
				        },
						columns : [ {
							header : '주문 번호',
							name : 'orderNo',
							align : 'center'
						}, {
							header : '상품명',
							name : 'prtName',
							align : 'center'
						}, {
							header : '주문 수량',
							name : 'orderQty',
							align : 'center'
						}, {
							header : '납기일자',
							name : 'dday',
						    filter: {
		                        type: 'date',
		                        options: {
		                          format: 'yyyy-MM-dd'
		                        }
		                     },
							align : 'center',
					 		formatter({value}) {
						      return `${value.substring(0,10)}`;
							    }
						} ]
					});
					
				    	var chkOrderNo2 = [];
				    	orderNoGrid.on('click', ev => {
					   		if($('#orderNo').val()==orderNoGrid.getValue(ev.rowKey, 'orderNo')
					   				&& $('#prtName').val()==orderNoGrid.getValue(ev.rowKey, 'prtName')){
					   			$('#orderNo').val('');
							      $('#orderNo').attr('readonly', true);
							      $('#preNo').val('');
							      $('#preNo').attr('readonly', true);
							      $('#dDay').val('');
							      $('#prtName').val('');
							      $('#insQty').val('');
							      $('#prePrg').val('');
							      $('#prtCode').val('');
					   		}else{
			            	chkOrderNo2.push((orderNoGrid.getValue(ev.rowKey,'orderNo')));
		                   
		                   $('#orderNo').val(orderNoGrid.getRow(ev.rowKey).orderNo);
		                   $('#prtName').val(orderNoGrid.getRow(ev.rowKey)['prtName']);
		                   $('#prtCode').val(orderNoGrid.getRow(ev.rowKey).prtCode);
		                   $('#insQty').val(orderNoGrid.getRow(ev.rowKey).orderQty);
		                   let a = orderNoGrid.getRow(ev.rowKey).orderQty;
		                   $('#insQty').attr("max", a);
					   		}
		                });
					//작업 지시 내역 그리드
					function showAll() {
						       fetch("getWorkOrderList") 
						       .then(res=>res.json())
						       .then(obj=>{
						           console.log(obj);
						           workOrderGrid.resetData(obj);
						       })
					}
					//주문 신청 목록 그리드
					function showAll2() {
					       fetch("getOrderList") 
					       .then(res=>res.json())
					       .then(obj=>{
					           console.log(obj);
					           orderNoGrid.resetData(obj);
					       })
					}
					//값이 없을때 submit 방지
					$(document).ready(function(){
						$("#submit").click(function(){
						let tr = false;
						if($("#orderNo").val().length==0){toastr.error("주문 번호가 없습니다.")}
							else if($("#prtName").val().length==0){toastr.error("제품명이 없습니다.")}
							else if($("#empId").val()==0){toastr.error("담당자를 지정해 주세요.")}
							else if($("#insQty").val().length==0){toastr.error("지시 수량이 없습니다.")}
							else if($("#preDate").val().length==0){toastr.error("작업 시작 일자를 지정해 주세요.")}
							else {toastr.success("작업 지시 등록 성공");
									tr = true;
								}
							return tr;
							})
						})
					// toastr
			         toastr.options = {
			                "closeButton": false,
			                "newestOnTop": true,
			                "positionClass": "toast-top-center",
			                "preventDuplicates": true,
			                "extendedTimeOut" : 1500, 
			                "timeOut" : 2500
			         }
					 //작업지시 당일 이후 선택만 가능
			        var now_utc = Date.now()
					var timeOff = new Date().getTimezoneOffset()*60000;
					var today = new Date(now_utc-timeOff).toISOString().split("T")[0];
					document.getElementById("preDate").setAttribute("min", today);
			</script>
		</main>
	</article>

</body>

</html>