<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>workOrderList</title>
<!-- 제이쿼리 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- 토스트UI -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<style type="text/css">
.row {
	margin: 15px;
}

h4 {
	display: inline-block;
}

td {
	padding: 0;
}

input {
	padding: 0;
}
</style>
</head>
<body>
	<article layout:fragment="content">
		<main id="main" class="main">
			<h4>
				<strong>작업 지시 관리</strong>
			</h4>
			<br>
			<h6 style="display: inline-block;">주문 신청 내역</h6>
			<!-- <div style="float: right">
				<button class="button" onclick="selectDeleteOrder()">삭제</button>
			</div> -->
			<div id=orderNoGrid></div>

			<!-- DB에서 불러온 데이터 grid로 띄워줌
			grid에 띄워진 list를 클릭하면 상세정보가 나오게 할 수 있는지 알아봐야함
			 -->
			<br>
			<div>
				<h6 style="display: inline-block;">등록된 작업 지시 내역</h6>
				<div style="float: right">
					<button class="button" onclick="updateWorkOrder()">수정</button>

					<button class="button" onclick="selectDeleteWO()">삭제</button>
				</div>

			</div>
			<div id="workorderGrid"></div>
			<!-- 작업 지시 등록 칸 -->
			<br>
			<div style="float: right;"></div>
			<form action="insertWorkOrder" method="post">
				<h6 style="display: inline-block;">작업 지시 등록</h6>
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" /> <input type="hidden" name="auth"
					value="ROLE_ADMIN">
				<button type="submit" class="button" style="float: right">등록</button>
				<div>
					<table class="table">
						<tr>
							<th>주문번호</th>
							<td><input type="text" id="orderNo" name="orderNo" readonly></td>
							<th>품목명</th>
							<td><input type="text" id="prtName" name="prtName" readonly>
								<input type="hidden" id="prtCode" name="prtCode"></td>

							<!-- <select id="woPrt" name="woPrt">
										<option>---선택---</option>
										<th:block th:each="p : ${prt}">
											<option th:value="${p.prtCode}" th:text="${p.prtName}"></option>
										</th:block>
									</select> -->
							<th>담당자</th>
							<td><select name="empId" id="empId">
									<option>---선택---</option>
									<th:block th:each="e : ${idName}">
										<option th:value="${e.empId}" th:text="${e.empName}"></option>
									</th:block>
							</select></td>
							<th>지시수량</th>
							<td><input type="number" name="insQty" id="insQty" min="1"
								readonly></td>
							<th>작업 시작 일자</th>
							<td><input type="date" name="preDate" id="preDate"></td>
						</tr>
					</table>
				</div>
			</form>

			<script type="text/javascript">
			
			showAll();
			showAll2();
			
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			
			/* 주문 정보 출력 그리드 */
			var workOrderGrid = new tui.Grid({
				 el: document.getElementById('workorderGrid'),
					pagination:true,
					pageOption: {
						useClient:true,
						perPage:5
					},
			        scrollX : false,
			        scrollY : false,
				    rowHeaders: ['checkbox'],
				    columns:
				    	[{
							header: '주문번호',
						    name: 'orderNo',
							align : 'center'
						},
						{
							header: '작업 지시 번호',
					    	name: 'preNo',
					    	filter : 'select',
							align : 'center'
						},
						{
						 	header: '품목명',
						    name: 'prtName',
							align : 'center'
						},
						{
						 	header: '지시수량',
						    name: 'insQty',
							align : 'center'
						},
						{
							header: '작업 시작일',
						    name: 'preDate',
						    filter : 'select',
							align : 'center',
					 		 formatter({value}) {
							      return `${value.substring(0,10)}`;
							    } 
						},
						{
						    header : '담당자',
						    name:'preManager',
						    filter : 'select',
							align : 'center'
						},
						{
						    header : '진행상태',
						    name:'prePrg',
						    filter : 'select',
							align : 'center'
						}]
				      });
			
				
				var chkWorkOrder = [];
				
			   	workOrderGrid.on('check', ev => {
			   		chkWorkOrder.push((workOrderGrid.getValue(ev.rowKey, 'preNo')));
				      console.log($('input[name=_checked]').val());
				      
				      $('#orderNo').val(workOrderGrid.getValue(ev.rowKey, 'orderNo'));
				      $('#orderNo').attr('readonly', true);
				      $('#preNo').val(workOrderGrid.getValue(ev.RowKey, 'preNo'));
				      $('#preNo').attr('readonly', true);
				      $('#prtName').val(workOrderGrid.getValue(ev.rowKey, 'prtName'));
				      $('#insQty').val(workOrderGrid.getValue(ev.rowKey, 'insQty'));
				      $('#dDay').val(workOrderGrid.getValue(ev.rowKey, 'dDay'));
				      $('#prePrg').val(workOrderGrid.getValue(ev.rowKey, 'prePrg'));
				    });

			   	workOrderGrid.on('uncheck', ev => {
				      for(let i=0; i<chkWorkOrder.length; i++){
				    	  if(chkWorkOrder[i] == workOrderGrid.getValue(ev.rowKey, 'preNo')){
				    		  chkWorkOrder.splice(i, 1);
				    	  }
				      }
				      $('#orderNo').val('');
				      $('#orderNo').attr('readonly', true);
				      $('#preNo').val('');
				      $('#preNo').attr('readonly', true);
				      $('#dDay').val('');
				      $('#prtName').val('');
				      $('#insQty').val('');
				      $('#prePrg').val('');
				    });
				    
			   	//작업 지시 그리드의 선택 행 삭제
			   	function selectDeleteWO(){
				    console.log(workOrderGrid.getCheckedRows());
					let deleteWorkOrder = [];
					let deleteOrder = [];
					for(wo of workOrderGrid.getCheckedRows()){
						deleteWorkOrder.push(wo.preNo);
						deleteOrder.push(wo.orderNo);
					}
				   	$.ajax({
				   		url : 'selectDeleteWO',
				   		type : 'POST',
				   		data : {deleteWorkOrder:deleteWorkOrder, deleteOrder : deleteOrder},
				   		dataType : "json",
				   		async:false,
				   		beforeSend : function(xhr){
				   			xhr.setRequestHeader(header, token);
				   		},
				   		success : function(data){
				   			if(data > 0){
				   				alert("삭제완료")
				   				showAll();
				   				showAll2();
				   				
				   			}else{
				   				alert("삭제 실패")
				   			}
				   		},
				   		error:function(reject){
				   			console.log(reject);
				   		}
					});
				}
				//작업 지시 그리드 선택 행 수정
				function updateWorkOrder(){
					let preManager = $('#empId').val();
					let preDate = $('#preDate').val();
					let orderNo = $('#orderNo').val();
					
					let updateWorkOrder = {'preManager': preManager, 'preDate':preDate, 'orderNo':orderNo};
					
					$.ajax({
							url : 'updateWorkOrder',
							type : 'POST',
							data : JSON.stringify(updateWorkOrder),
							dataType : "json",
							contentType : 'application/json',
							async : false,
							beforeSend : function(xhr){
					   			xhr.setRequestHeader(header, token);
					   		},
					   		success : function(data){
					   			if(data > 0){
					   				alert("수정 완료")
					   				showAll();
					   			}else{
					   				alert("수정 실패")
					   			}
					   		},
					   		error:function(reject){
					   			console.log(reject);
					   		}
						});
					}
							
					
					/* -------------
				    	주문 번호 그리드
				      ---------------*/
				    var orderNoGrid = new tui.Grid({
						el : document.getElementById('orderNoGrid'),
						scrollX : false,
						scrollY : false,
						rowHeaders: ['checkbox'],
						columns : [ {
							header : '주문 번호',
							name : 'orderNo',
							align : 'center'
						}, {
							header : '상품명',
							name : 'prtName',
							align : 'center'
						}, {
							header : '주문 수량',
							name : 'orderQty',
							align : 'center'
						}, {
							header : '주문일자',
							name : 'orderDate',
							filter : 'select',
							align : 'center',
					 		 formatter({value}) {
							      return `${value.substring(0,10)}`;
							    } 
						} ]
					});
					
					
				    	var chkOrderNo2 = [];
		            
				    	orderNoGrid.on('check', ev => {
			            	chkOrderNo2.push((orderNoGrid.getValue(ev.rowKey,'orderNo')));
		                   
		                   $('#orderNo').val(orderNoGrid.getRow(ev.rowKey).orderNo);
		                   $('#prtName').val(orderNoGrid.getRow(ev.rowKey)['prtName']);
		                   $('#prtCode').val(orderNoGrid.getRow(ev.rowKey).prtCode);
		                   $('#insQty').val(orderNoGrid.getRow(ev.rowKey).orderQty);
		                   let a = orderNoGrid.getRow(ev.rowKey).orderQty;
		                   $('#insQty').attr("max", a);
		                });
				    var chkOrderNO = [];
				    orderNoGrid.on('uncheck', ev => {
					      for(let i=0; i<chkOrderNO.length; i++){
					    	  if(chkOrderNO[i] == orderNoGrid.getValue(ev.rowKey, 'orderNo')){
					    		  chkOrderNO.splice(i, 1);
					    	  }
					      }
					      $('#orderNo').val('');
					      $('#orderNo').attr('readonly', false);
					      $('#prtName').val('');
					      $('#insQty').val('');
					    });
				    
		                
		                /* 사용안함 */
		                //주문 신청 내역 그리드의 선택 행 삭제
			             function selectDeleteOrder(){
						let deleteOrder = [];
						
						for(on of orderNoGrid.getCheckedRows()){
							deleteOrder.push(on.orderNo);
						}
						   	$.ajax({
						   		url : 'selectDeleteOrder',
						   		type : 'POST',
						   		data : {deleteOrder:deleteOrder},
						   		dataType : "json",
						   		async:false,
						   		beforeSend : function(xhr){
						   			xhr.setRequestHeader(header, token);
						   		},
						   		success : function(data){
						   			if(data > 0){
						   				alert("삭제완료")
						   				showAll();
						   				showAll2();
						   			}else{
						   				alert("삭제 실패")
						   			}
						   		},
						   		error:function(reject){
						   			console.log(reject);
							   		}
								});
							}

				    
					//
					function showAll() {
						       fetch("getWorkOrderList") 
						       .then(res=>res.json())
						       .then(obj=>{
						           console.log(obj);
						           workOrderGrid.resetData(obj);
						       })
					}
					
					function showAll2() {
					       fetch("getOrderList") 
					       .then(res=>res.json())
					       .then(obj=>{
					           console.log(obj);
					           orderNoGrid.resetData(obj);
					       })
					}

/* 	$(function(){
		
			let data = [
				{"preNo":"aa", "prtName": "test"}
			]		
		workOrderGrid.appendRows(data);
	}) */
		</script>
		</main>
	</article>

</body>

</html>