<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>workHistory</title>
<!-- 제이쿼리 -->
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- 토스트UI -->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<body>
	<article layout:fragment="content">
		<main id="main" class="main">
		<h4>작업 이력 조회</h4>
			<!-- 그리드 -->
			<div id="whGrid"></div>

			<script type="text/javascript">
				var whGrid = new tui.Grid({
					el : document.getElementById('whGrid'),
					data : [ {
						preNo : '20221116-001',
						prtCode : 'MAT-LQ001',
						prtName : '오리지널',
						preQty : '김준형',
						preManager : '2022-11-15'
					}, {
						preNo : '20221116-002',
						prtCode : 'MAT-LQ001',
						prtName : '10000',
						preQty : '10000',
						preManager : '김두영'
					}
					// data 가져오는 법
					// data: {
					//    api: {
					//       readData: {
					//          url: '/api/readData',
					//          method: 'GET'
					//       }
					//    }
					// },
					],
					scrollX : false,
					scrollY : false,
					minBodyHeight : 30,
					pageOptions : {
						perPage : 5
					},
					columns : [ {
						header : '작업 지시 번호',
						name : 'preNo'
					}, {
						header : '제품코드', //각 자재별로 어느 공정에 투입되었는지
						name : 'prtCode',
						filter : 'select'
					}, {
						header : '제품명', //각 공정에 몇개씩 투입되었는지=이거는 필요한가? 다똑같이 투입될건데
						name : 'prtName'
					}, {
						header : '생산량',
						name : 'preQty'
					}, {
						header : '담당자',
						name : 'preManager'
					} ]
				});
			</script>
		</main>
	</article>
</body>
</html>