<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Dashboard - NiceAdmin Bootstrap Template</title>
<meta content="" name="description">
<meta content="" name="keywords">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">

<!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
	rel="stylesheet" />

<link rel="stylesheet" href="bootstrap/fonts/icomoon/style.css" />
<link rel="stylesheet" href="bootstrap/fonts/flaticon/font/flaticon.css" />

<link rel="stylesheet" href="bootstrap/css/tiny-slider.css" />
<link rel="stylesheet" href="bootstrap/css/aos.css" />
<link rel="stylesheet" href="bootstrap/css/style.css" />
<style>
input {
	width: 400px;
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #999;
	font-size: 18px;
	color: black;
	text-align: center;
}
</style>
</head>

<body>

	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">
			<a href="index.html" class="logo d-flex align-items-center"> <img
				src="assets/img/logo.png" alt=""> <span
				class="d-none d-lg-block">SSEJU</span>
			</a>

		</div>
		<!-- End Logo -->

	</header>
	<!-- End Header -->



<div class="hero">
		<div class="hero-slide">
			<div class="img overlay"
				style="background-image: url('bootstrap/images/소주1.jpg')"></div>
			
		</div>

		<div class="container">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card border-0 shadow rounded-3 my-5"
					style="background: hsla(0, 0%, 100%, 0.40); backdrop-filter: blur(5px);">
					<div class="card-body p-4 p-sm-5">
						<h5 class="card-title text-center mb-5"
							style="font-weight: bold; font-size: 25px;">회원가입</h5>
						<hr class="my-4">


					<form action="newCpAccount" method="post" id="newaccount">
						<!-- <sec:csrfInput/> -->
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<dl>
							<dt>
								<input type="text" name="id" id="id" style="width:280px;" placeholder="아이디">
								<button type="button" class="btn" style="color:white;" onclick="checkId()">중복체크</button>
								<input type="hidden" id="check" value="false">
							</dt>
							<dt>
								<input type="password" name="password" id="password1" placeholder="비밀번호">
							</dt>
							<dt>
								<input type="password" id="password2" placeholder="비밀번호확인">
							</dt>
							<dt>
								<input type="text" id="name" name="cpName" placeholder="회사명">
							</dt>
							<dt>
								<input type="text" id="ceo" name="cpCeo" placeholder="CEO명">
							</dt>
							<dt>
								<input type="text" id="tel" name="cpTel" placeholder="연락처">
							</dt>
							<dt>
								<input type="text" id="no" name="cpNo" placeholder="사업자번호">
							</dt>
							<dt>
								<input type="text" id="addr" name="cpAddr" placeholder="주소">
							</dt>
							<dt>
								<input type="hidden" name="auth" value="ROLE_COMPANY">
							</dt>
						</dl>
						<div style="text-align:center">
						<button type="button" class="btn btn-primary" onclick="newacc()">회원가입</button>
						</div>
					</form>

				</div>
			</div>
			</div>
			</div>
			</div>




	<!-- Preloader -->
	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>


<script type="text/javascript">
	function checkId() {
		let id = $('#id').val();
		$.ajax({
            url:'idCheck',
            type:'GET',
            data: {id:id},
            async: false,
            success:function(data){
                if(data == 0){
					alert("사용가능한 아이디 입니다.");
					$('#check').val('true');
                } else {
                    alert("사용중인 아이디 입니다.");
                    $('#check').val('false');
                    $('#id').val('');
                    $('#id').focus();
                }
            },
            error:function(reject){
                alert("에러입니다");
                console.log(reject);
            }
        });
	}
	
	function newacc() {
		let chk = $('#check').val();
		let id = $('#id').val();
		let pw1 = $('#password1').val();
		let pw2 = $('#password2').val();
		let name = $('#name').val();
		let ceo = $('#ceo').val();
		let tel = $('#tel').val();
		let no = $('#no').val();
		let addr = $('#addr').val();
		
		if (chk == 'false') {
			alert('아이디 중복체크를 해주세요');
		} else if (pw1 != pw2) {
			alert('비밀번호 불일치');
		} else if (id == '' || pw1 == '' || pw2 == '' || name == '' || ceo == '' || tel == '' || no == '' || addr == '') {
			alert('모든 항목을 입력해주세요');
		}else {
			$('#newaccount').submit();
		}
	}
</script>





	<!-- Vendor JS Files -->
	<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/chart.js/chart.min.js"></script>
	<script src="assets/vendor/echarts/echarts.min.js"></script>
	<script src="assets/vendor/quill/quill.min.js"></script>
	<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="assets/js/main.js"></script>

	<!-- main 부분 이미지 슬라이더  -->
	<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="bootstrap/js/tiny-slider.js"></script>
	<script src="bootstrap/js/aos.js"></script>
	<script src="bootstrap/js/navbar.js"></script>
	<script src="bootstrap/js/counter.js"></script>
	<script src="bootstrap/js/custom.js"></script>

</body>

</html>
