<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<title>workOrderList</title>
<!-- 제이쿼리 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- 토스트UI -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<style type="text/css">
.row {
	margin: 15px;
}

.button {
	display: inline-block;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	background-color: green;
	color: white;
}
h4 {
	display: inline-block;
}

</style>
</head>
<body>
	<article layout:fragment="content">
		<main id="main" class="main">
			<h4>작업 지시 관리</h4>
			<br>
			<span>전체 / 진행전 / 진행중 / 완료,</span> <span>검색창,</span> <span>검색 옵션 설정</span>
			<div style="float:right;">
				<button class="button">수정</button>
				<button class="button">삭제</button>
			</div>
			<!-- 작업 지시 DB에서 불러와가지고 grid로 띄워줌
			grid에 띄워진 list를 클릭하면 상세정보가 나오게 할 수 있는지 알아봐야함 -->
			<div id="workorderGrid"></div>
			<!-- 작업 지시 등록 칸 -->
			<br>
			<h6>작업 지시 등록</h6>
			<form action="insert" method="post">
				<div>
				<!-- 품목코드가 등록되면 품목명이 자동으로 입력되게 -->
					<table id="insertwo">
						<tr>
							<th>담당자</th>
							<td><input type="text"></td>
							<th>지시수량</th>
							<td><input type="number"></td>
							<th>생산 지시 날짜</th><!-- 당일로 고정되게 자동으로, 터치X -->
							<td><input type="date"></td>							
						</tr>
						<tr>
							<th>품목코드</th>
							<td><select>
									<option>선택</option>
									<option>PRD_001</option>
									<option>PRD_002</option>
									<option>PRD_003</option>
									<option>PRD_004</option>
									<option>PRD_005</option>
									<option>PRD_006</option>
								</select>
							</td>
							<th>품목명</th>
							<td><input type="text"></td>
						</tr>
					</table>
				</div>
			</form>

			<script type="text/javascript">
			 var eqmGrid = new tui.Grid({
				 el: document.getElementById('workorderGrid'),
				 data : [ {
			    	  preNo : '1',
			    	  dDay : '2022-11-17',
			    	  prtName : '포도맛소주',
			    	  preQty : '0',
			    	  inQty : '20000',
			    	  prePrg : '진행전'
			         },
			         {
			    	  preNo : '2',
			    	  dDay : '2022-11-16',
			    	  prtName : '자몽맛소주',
			    	  preQty : '1000',
			    	  inQty : '10000',
			    	  prePrg : '진행중'
			         },
			         {
			    	  preNo : '3',
			    	  dDay : '2022-11-16',
			    	  prtName : '프로틴맛소주',
			    	  preQty : '1000',
			    	  inQty : '10000',
			    	  prePrg : '진행중'
			         },
			         {
			    	  preNo : '4',
			    	  dDay : '2022-11-16',
			    	  prtName : '무슨맛소주',
			    	  preQty : '1000',
			    	  inQty : '10000',
			    	  prePrg : '진행중'
			         }
			         // data 가져오는 법
			         // data: {
			         //    api: {
			         //       readData: {
			         //          url: '/api/readData',
			         //          method: 'GET'
			         //       }
			         //    }
			         // },
			      ],
			      rowHeaders: ['checkbox'],
			      
		         scrollX : false,
		         scrollY : false,
		         columns: [
				        {
				          header: '작업 지시 번호',
				          name: 'preNo'
				        },
				        {
				          header: '납기일자',
				          name: 'dDay'
				        },
				        {
				          header: '품목',
				          name: 'prtName'
				        },
				        {
				          header: '생산수량',
				          name: 'preQty'
				        },
				        {
				          header: '지시수량',
				          name: 'inQty'
				        },
				        {
				          header : '진행상태',
				          name:'prePrg'
				        }]
		      });
			   grid.on('check', ev => {
				      console.log('check!', ev);
				    });

				    grid.on('uncheck', ev => {
				      console.log('uncheck!', ev);
				    });

				    grid.on('focusChange', ev => {
				      console.log('change focused cell!', ev);
				    });
		</script>
		</main>
	</article>
</body>

</html>