<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />


<title>SSEJU</title>
<meta content="" name="description">
<meta content="" name="keywords">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>

<!-- Favicons -->
<link href="assets/img/favicon.png" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- TUI -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<!-- 페이징 -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script type="text/javascript"
	src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
<!-- DatePicker -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link href="bootstrap/css/tui-grid.css" rel="stylesheet">
<script src="bootstrap/js/tui-grid.js"></script>
<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">
<!-- SweetAlert2 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
	
<!-- toastr -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
	integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
	integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- TUI -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<link href="bootstrap/css/tui-grid.css" rel="stylesheet">
<script src="bootstrap/js/tui-grid.js"></script>

<style type="text/css">
#msgScroll {
    max-height: 600px;
    overflow-y: auto;
}
</style>
<!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
<style type="text/css">
.tui-datepicker {
	z-index: 1001;
}
</style>
</head>

<body>
	<!-- ======= Header ======= -->
	<header>
		<div id="header" class="header fixed-top d-flex align-items-center">

			<th:block sec:authorize="hasRole('ROLE_ADMIN')">
			<input type="hidden" value="ROLE_ADMIN" id="role">
				<div class="d-flex align-items-center justify-content-between">
					<a href="/dashboard" class="logo d-flex align-items-center"> <img
						src="assets/img/logo.png" alt=""> <span
						class="d-none d-lg-block">SSEJU</span>
					</a> <i class="bi bi-list toggle-sidebar-btn"></i>
				</div>
			</th:block>
			<th:block sec:authorize="hasRole('ROLE_COMPANY')">
			<input type="hidden" value="ROLE_COMPANY" id="admin">
				<div class="d-flex align-items-center justify-content-between">
					<a href="/orlist" class="logo d-flex align-items-center"> <img
						src="assets/img/logo.png" alt=""> <span
						class="d-none d-lg-block">SSEJU</span>
					</a> <i class="bi bi-list toggle-sidebar-btn"></i>
				</div>
			</th:block>
			<!-- End Logo -->

			<div id="msg" class="header-nav ms-auto">
				<nav id="msgNav" class="header-nav ms-auto">
					<ul class="d-flex align-items-center">

						<th:block sec:authorize="hasRole('ROLE_ADMIN')">
							<li class="nav-item dropdown"><a class="nav-link nav-icon"
								href="#" data-bs-toggle="dropdown" onclick="showMsg()"> <i
									class="bi bi-bell" onclick="showMsg()"></i> <span
									class="badge bg-primary badge-number" onclick="showMsg()">{{ msgCount }}</span></a>
									 <!-- End Notification Icon -->

								<ul
									class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" id="msgNav">
									<li class="dropdown-header">새로운 알림이 {{ msgCount }} 개 있습니다<a
										href="#"><span
											class="badge rounded-pill bg-primary p-2 ms-2"
											onclick="deleteMsg()">전체삭제</span></a>
									</li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li id="msgScroll">
									<span id="msgA"></span>
									</li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li class="dropdown-footer"><a href="#">Show all
											notifications</a></li>

								</ul> <!-- End Notification Dropdown Items --></li>
								</th:block>
							<!-- End Notification Nav -->
							<!-- <li class="nav-item dropdown"><a class="nav-link nav-icon"
								href="#" data-bs-toggle="dropdown"> <i
									class="bi bi-chat-left-text"></i> <span
									class="badge bg-success badge-number">3</span>
							</a> End Messages Icon

								<ul
									class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
									<li class="dropdown-header">You have 3 new messages <a
										href="#"><span
											class="badge rounded-pill bg-primary p-2 ms-2">View
												all</span></a>
									</li>
									<li>
										<hr class="dropdown-divider">
									</li>

									<li class="message-item"><a href="#"> <img
											src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
											<div>
												<h4>영업관리 김OO</h4>
												<p>주문서 올렸습니다. 확인 부탁드립니다.</p>
												<p>4 hrs. ago</p>
											</div>
									</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>

									<li class="message-item"><a href="#"> <img
											src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
											<div>
												<h4>Anna Nelson</h4>
												<p>Velit asperiores et ducimus soluta repudiandae labore
													officia est ut...</p>
												<p>6 hrs. ago</p>
											</div>
									</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>

									<li class="message-item"><a href="#"> <img
											src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
											<div>
												<h4>David Muldon</h4>
												<p>Velit asperiores et ducimus soluta repudiandae labore
													officia est ut...</p>
												<p>8 hrs. ago</p>
											</div>
									</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>

									<li class="dropdown-footer"><a href="#">Show all
											messages</a></li></li>
							End Messages Nav
					</ul> -->
					<!-- End Messages Dropdown Items -->

					<li class="nav-item dropdown pe-3"><a
						class="nav-link nav-profile d-flex align-items-center pe-0"
						href="#" data-bs-toggle="dropdown"> <span
							class="d-none d-md-block dropdown-toggle ps-2"
							sec:authentication="name"></span>
					</a> <!-- End Profile Iamge Icon -->

						<ul
							class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
							<li class="dropdown-header">
								<h6>
									<span sec:authorize="hasRole('ROLE_ADMIN')">[[${session.user.empName}]]</span>
								</h6>
								<h6>
									<span sec:authorize="hasRole('ROLE_COMPANY')">[[${session.user.cpName}]]</span>
								</h6>
							</li>
							<li>
								<hr class="dropdown-divider">
							</li>

							<li><a class="dropdown-item d-flex align-items-center"
								href="users-profile.html"> <i class="bi bi-person"></i> <span>My
										Profilee</span>
							</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>

							<li><form action="logout" method="post">
									<input type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" /> <a
										class="dropdown-item d-flex align-items-center"> <i
										class="bi bi-box-arrow-right"></i> <span>
											<button type="submit"
												style="border: 0; background-color: rgba(0, 0, 0, 0); width: 200px; text-align: left;">Logout</button>
									</span>
									</a>
								</form></li>

						</ul> <!-- End Profile Dropdown Items --></li>
					<!-- End Profile Nav -->

					</ul>
				</nav>
				<!-- End Icons Navigation -->
			</div>
		</div>
		<script>
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
new Vue({
	el: '#msg',
	data : {
		msgCount: 0
	},
	mounted () {
		this.updateNow()
		setInterval(this.updateNow.bind(this) , 1000)
	},
	methods : {
		updateNow() {
			const vueObject = this;
			$.ajax({
					url:'msgCount',
					type:'GET',
					dataType:'json',
					async:false,
					success:function(data){
						vueObject.msgCount = data.no
					},
					error:function(request,status,error){
						console.log(reject);
					}
				})
		}
	}
})

// toastr
toastr.options = {
       "closeButton": false,
       "newestOnTop": true,
       "positionClass": "toast-top-center",
       "preventDuplicates": true,
       "extendedTimeOut" : 1500, 
       "timeOut" : 2500
}

let msgList = [];
let msgListNo = [];


function showMsg() {
	msgList = [];
	msgListNo = [];
	$('#msgA').empty();

	$.ajax({
	url:'msgUp',
	type:'GET',
	dataType:'json',
	async:false,
	success:function(data){
		for (let i = 0; i < data.length; i++) {
			msgList.push(data[i].msg);
			msgListNo.push(data[i].no);
		}
	},
	error:function(request,status,error){
		console.log(reject);
	}
})


for (let i = 0; i < msgList.length; i++) {
$('#msgA').prepend(`<li>
		<hr class="dropdown-divider">
		</li>
		<li class="notification-item"><i
		class="bi bi-check-circle text-success"></i>
		<div>
			<h4 onclick="msgListClick(this)">${msgList[i]}</h4>
			<input type="hidden" value="${msgListNo[i]}">
		</div></li>`);
}
}

function deleteMsg() {
	$.ajax({
		url:'deleteMsg',
		type:'GET',
		dataType:'json',
		async:false,
		success:function(data){
		},
		error:function(request,status,error){
			console.log(reject);
		}
	})
	
	showMsg();
	$('#msgA').empty();
}

let msgListB = [];
let msgListC = [];
let msgTime = 1;

if ($('#role').val() == 'ROLE_ADMIN') {
showMsgB();	
}

function showMsgB() {
	msgListB = [];
	msgListC = [];
	msgTime = 1;

	$.ajax({
	url:'msgUpA',
	type:'GET',
	dataType:'json',
	async:false,
	success:function(data){
		for (let i = 0; i < data.length; i++) {
			msgListB.push(data[i].msg);
			msgListC.push(data[i].no);
		}
	},
	error:function(request,status,error){
		console.log(reject);
	}
})

if (msgListB.length == 0) {
	msgTime = 1;
} else {
msgTime = msgListB.length;
}

if (msgListB.length != 0) {
	
for (let i = 0; i < msgListB.length; i++) {
	setTimeout(() => {toastr.info(msgListB[i])}, (i + 1) * 2000);
	let msgg = {'no':msgListC[i]};
	setTimeout(() => {
		$.ajax({
			url:'readMsg',
			type:'POST',
			data:JSON.stringify(msgg),
			dataType:"json",
			contentType: 'application/json; charset=utf-8',
			async:false,
			beforeSend : function(xhr){
				xhr.setRequestHeader(header, token);
			},
			success:function(data){
				
			},
			error:function(request,status,error){
				console.log(reject);
			}
		})
	}, (i + 1) * 2000);
}
}
	
}
setInterval(() => showMsgB(), 2000 * msgTime);


function msgListClick(a) {
	let msgContent = a.innerText;
	let msgContentNo = {'no':a.nextSibling.nextSibling.value};
	$.ajax({
		url:'deleteOneMsg',
		type:'POST',
		data:JSON.stringify(msgContentNo),
		dataType:"json",
		contentType: 'application/json; charset=utf-8',
		async:false,
		beforeSend : function(xhr){
			xhr.setRequestHeader(header, token);
		},
		success:function(data){
			
		},
		error:function(request,status,error){
			console.log(reject);
		}
	})
	if (msgContent.includes('주문')) {
		location.href = "/ordetail";
	} else if (msgContent.includes('자재발주')) {
		location.href = "/matOrd"
	} else if (msgContent.includes('자재검수')) {
		location.href = "/matRecChk"
	} else if (msgContent.includes('자재불량')) {
		location.href = "/matRecChk"
	} else if (msgContent.includes('자재창고')) {
		location.href = "/matIn"
	} else if (msgContent.includes('자재 출고')) {
		location.href = "/matOut"
	} else if (msgContent.includes('공정')) {
		location.href = "/workHistory"
	} else if (msgContent.includes('제품')) {
		location.href = "/lotTrack"
	}
}
</script>
	</header>
	<!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">

			<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				<li class="nav-item"><a class="nav-link " href="/dashboard">
						<i class="bi bi-grid"></i> <span>현황모니터링</span>
				</a></li>
				<!-- End Dashboard Nav -->
				<li class="nav-item"><a class="nav-link collapsed"
					data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-menu-button-wide"></i><span>기본정보관리</span><i
						class="bi bi-chevron-down ms-auto"></i>
				</a>
					<ul id="components-nav" class="nav-content collapse "
						data-bs-parent="#sidebar-nav">
						<li><a href="basicCode"> <i class="bi bi-circle"></i><span>공통코드</span>
						</a></li>
						<li><a href="basicProduct"> <i class="bi bi-circle"></i><span>품목정보</span>
						</a></li>

						<li><a href="basicWorker"> <i class="bi bi-circle"></i><span>작업자관리</span>
						</a></li>
						<li><a href="basicError"> <i class="bi bi-circle"></i><span>불량유형</span>
						</a></li>
						<li><a href="basicBOM"> <i class="bi bi-circle"></i><span>BOM</span>
						</a></li>
						<li><a href="basicProcess"> <i class="bi bi-circle"></i><span>공정/창고</span>
						</a></li>
						<li><a href="basicCompany"> <i class="bi bi-circle"></i><span>거래처정보</span>
						</a></li>
						<li><a href="basicEmployee"> <i class="bi bi-circle"></i><span>사원정보</span>
						</a></li>

					</ul></li>
				<!-- End Components Nav -->

				<li class="nav-item"><a class="nav-link collapsed"
					data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-journal-text"></i><span>생산관리</span><i
						class="bi bi-chevron-down ms-auto"></i>
				</a>
					<ul id="forms-nav" class="nav-content collapse "
						data-bs-parent="#sidebar-nav">
						<li><a href="/workOrder"> <i class="bi bi-circle"></i><span>작업
									지시</span>
						</a></li>
						<li><a href="/prtPer"> <i class="bi bi-circle"></i><span>생산
									실적</span>
						</a></li>
						<li><a href="/prtProg"> <i class="bi bi-circle"></i><span>생산
									진행 현황</span>
						</a></li>
						<li><a href="/matInputHistory"> <i class="bi bi-circle"></i><span>자재
									투입 내역</span>
						</a></li>
						<li><a href="/workHistory"> <i class="bi bi-circle"></i><span>작업
									이력</span>
						</a></li>
						<!-- 생산 공정 페이지 안쓰기로 11/22에 소통 -->
						<!-- <li><a href="prtProcessList"> <i class="bi bi-circle"></i><span>생산
									공정</span>
						</a></li> -->
					</ul></li>
				<!-- End Forms Nav -->

				<li class="nav-item"><a class="nav-link collapsed"
					data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-layout-text-window-reverse"></i><span>자재관리</span><i
						class="bi bi-chevron-down ms-auto"></i>
				</a>
					<ul id="tables-nav" class="nav-content collapse "
						data-bs-parent="#sidebar-nav">
						<li><a href="/matOrd"> <i class="bi bi-circle"></i><span>자재발주</span>
						</a></li>
						<li><a href="/matIn"> <i class="bi bi-circle"></i><span>입고내역</span>
						</a></li>
						<li><a href="/matOut"> <i class="bi bi-circle"></i><span>출고내역</span>
						</a></li>
						<li><a href="/matStock"> <i class="bi bi-circle"></i><span>재고조회</span>
						</a></li>
					</ul></li>
				<!-- End Tables Nav -->

				<li class="nav-item"><a class="nav-link collapsed"
					data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-bar-chart"></i><span>품질관리</span><i
						class="bi bi-chevron-down ms-auto"></i>
				</a>
					<ul id="charts-nav" class="nav-content collapse "
						data-bs-parent="#sidebar-nav">
						<li><a href="matRecChk"> <i class="bi bi-circle"></i><span>자재수입검사</span>
						</a></li>
						<li><a href="processCheckList"> <i class="bi bi-circle"></i><span>공정검사</span>
						</a></li>
						<!-- 출하검사 미사용으로 제외 -->
						<!-- <li><a href="shipmentCheckList"> <i
								class="bi bi-circle"></i><span>출하검사</span>
						</a></li> -->
						<li><a href="/lotTrack"> <i class="bi bi-circle"></i><span>제품로트</span>
						</a></li>
					</ul></li>
				<!-- End Charts Nav -->

				<li class="nav-item"><a class="nav-link collapsed"
					data-bs-target="#product-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-layout-text-window-reverse"></i><span>주문관리</span><i
						class="bi bi-chevron-down ms-auto"></i>
				</a>
					<ul id="product-nav" class="nav-content collapse "
						data-bs-parent="#sidebar-nav">


						<li><a href="ordetail"> <i class="bi bi-circle"></i><span>주문승인</span>
						</a></li>
						<li><a href="prtlist"> <i class="bi bi-circle"></i><span>배송조회</span>
						</a></li>

						<li><a href="inout"> <i class="bi bi-circle"></i><span>제품출고관리</span>
						</a></li>
					</ul></li>
				<!-- End Tables Nav -->
				<li class="nav-item"><a class="nav-link collapsed"
					data-bs-target="#abc-nav" data-bs-toggle="collapse" href="#"> <i
						class="bi bi-layout-text-window-reverse"></i><span>설비관리</span><i
						class="bi bi-chevron-down ms-auto"></i>
				</a>
					<ul id="abc-nav" class="nav-content collapse "
						data-bs-parent="#sidebar-nav">
						<li><a href="/eqmBasic"> <i class="bi bi-circle"></i><span>설비기본정보</span>
						</a></li>
						<li><a href="/eqmList"> <i class="bi bi-circle"></i><span>설비정보관리</span>
						</a></li>
						<li><a href="/eqmCheck"> <i class="bi bi-circle"></i><span>설비점검관리</span>
						</a></li>
						<li><a href="/eqmUoper"> <i class="bi bi-circle"></i><span>비가동관리</span>
						</a></li>
						<li><a href="/eqmState"> <i class="bi bi-circle"></i><span>설비가동현황</span>
						</a></li>
					</ul></li>
				<!-- End Tables Nav -->
			</th:block>
			<!-- End Tables Nav -->
		</ul>
	</aside>
	<!-- End Sidebar-->


	<article layout:fragment="content"></article>

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>SSEJU</span></strong>. All Rights
			Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
			Designed by <a href="https://bootstrapmade.com/">TEAM SSEJU</a>
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/chart.js/chart.min.js"></script>
	<script src="assets/vendor/echarts/echarts.min.js"></script>
	<script src="assets/vendor/quill/quill.min.js"></script>
	<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="assets/js/main.js"></script>
</body>

</html>