<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<style>
.menuTable {
	width: 90%;
	margin-left: 5%;
	height: 100px;
	text-align: center;
	border: 0.1px solid gray;
	background-color: white;
}

input {
	text-align: center;
}
</style>
</head>
<body>
	<article layout:fragment="content">
		<main id="main" class="main">

			<h4 style="margin-bottom: 3%;">
				<strong>BOM 관리</strong>
			</h4>
			<div></div>
			<br>
			<h3 id="title">전체</h3>
			<div>
				<div id="menuGrid"></div>
				<input type="hidden" value=0 id="menucheck"> <br>
				<div style="float: right; margin-bottom: 3%;">
					<button type="button" class="button"
						style="width: 100px; height: 30px;" onclick="put()">재료추가</button>
					<button type="button" class="button"
						style="width: 100px; height: 30px;" onclick="updateBOM()">등록/수정</button>
				</div>
				<table class="table">
					<tr>
						<th>*재료</th>
						<td><select style="width: 150px;" id="mat">
								<option value=0>---선택---</option>
								<th:block th:each="m : ${mat}">
									<option th:value="${m.matName}" th:text="${m.matName}"></option>
								</th:block>
						</select></td>
						<th>*용량</th>
						<td><input type="text" id="prc"></td>
					</tr>
				</table>
				<br>
				<div id="bomGrid"></div>
			</div>
			<script>
			// toastr
	         toastr.options = {
	                "closeButton": false,
	                "newestOnTop": true,
	                "positionClass": "toast-top-center",
	                "preventDuplicates": true,
	                "extendedTimeOut" : 1500, 
	                "timeOut" : 2500
	         }
			
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			
			menuAll();
			showAll();
			
			class MakingButtonRenderer1 {
		         constructor(props) {
		             const el = document.createElement('span');
		              el.innerHTML='<button type="button" class="btn btn-sm btn-secondary" style="width:80px">삭제</button>';
		              this.el = el;
		              this.render(props);
		          }

		          getElement() {
		             return this.el;
		          }

		          render(props) {
		             this.el.value = String(props.value);
		          }
		      }
			
			const menuGrid = new tui.Grid({
				el : document.getElementById('menuGrid'),
				pagination:true,
				pageOptions: {
					useClient:true,
					perPage:5
				},
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '제품명',
					name : 'prtName',
					align : 'center',
				}]
			});
			
			const BOMGrid = new tui.Grid({
				el : document.getElementById('bomGrid'),
				pagination:true,
				pageOptions: {
					useClient:true,
					perPage:5
				},
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '재료명',
					name : 'matName',
					align : 'center',
				}, {
					header : '용량',
					name : 'capacity',
					align : 'center',
					editor:'text'
				}, {
					header : '삭제',
					name : 'dell',
					align : 'center',
					width : 200,
					renderer: {
		                 type: MakingButtonRenderer1
		              }
				}]
			});
			
			var deleteCode = [];
			
			menuGrid.on('click', (ev) => {
				
				$('#menucheck').val(1);
				
				let prtName = ev.nativeEvent.target.innerText;
				
				$("#title").text(prtName);

				$.ajax({
					url:'bomList',
					data:{prtName:prtName},
					dataType:"json",
					async:false,
					success:function(data){
						BOMGrid.resetData(data);
					},
					error:function(request,status,error){
						console.log(reject);
					}
				})
			});
			
			BOMGrid.on('click', (ev) => {
				if (ev.nativeEvent.target.innerText == '삭제') {
					BOMGrid.removeRow(ev.rowKey);
				}
			})
			
			function updateBOM() {
				let mat = [];
				let cap = [];
				for(co of BOMGrid.getData()){
					mat.push(co.matName);
					cap.push(co.capacity);
				}
				
				let prtName1 = $('#title').html();
				let prtName = [];
				
				prtName.push(prtName1);
				$.ajax({
					url:'updateBOM',
					type:'POST',
					data:{prtName:prtName, mat:mat, cap:cap},
					dataType:"json",
					async:false,
					beforeSend : function(xhr){
						xhr.setRequestHeader(header, token);
					},
					success:function(data){
						if(data > 0) {
							toastr.success('업데이트완료')
							showAll();			
						} else {
							alert("업데이트실패");
						}
					},
					error:function(request,status,error){
						console.log(reject);
					}
				})
			}
			
			function menuAll() {
				url="bomMenu"
				       fetch(url) // 설비 단건조회 불러오는 아작스
				       .then(res=>res.json())
				       .then(obj=>{
				           menuGrid.resetData(obj);
				       })
			}
			
			function showAll() {
				$('#title').text("전체");
			}
			
			function put() {
				let prc = $('#prc').val();
				let mat = $('#mat').val();
				
				if ($('#menucheck').val() == 0) {
					toastr.warning('제품을 선택해주세요')
				} else if (mat == 0) {
					toastr.warning('재료를 선택해주세요')
				} else if (prc.length == 0) {
					toastr.warning('용량을 입력해주세요')
				} else {
					let insertRow = {matName : mat, capacity: prc, dell: '삭제'};
					BOMGrid.appendRow(insertRow);
				}
				
			}
			</script>
		</main>
	</article>

	<!-- Vendor JS Files -->
	<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/chart.js/chart.min.js"></script>
	<script src="assets/vendor/echarts/echarts.min.js"></script>
	<script src="assets/vendor/quill/quill.min.js"></script>
	<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="assets/js/main.js"></script>

</body>

</html>