<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<style>
th {
	cursor: pointer;
	border: 0.1px solid gray;
}

.menuTable {
	width: 90%;
	margin-left: 5%;
	height: 100px;
	text-align: center;
	border: 0.1px solid gray;
	background-color: white;
}
</style>
</head>
<body>
	<article layout:fragment="content">
		<main id="main" class="main">

			<h4 style="margin-bottom:3%;">
				<strong>공통코드 관리</strong>
			</h4>
			
			<div>
				<table class="menuTable"  style="margin-bottom:3%;">
					<tr>
						<th onclick="showAll()">전체</th>
						<th onclick="showCompany()">거래처</th>
						<th onclick="showMst()">설비</th>
						<th onclick="showPrs()">공정</th>
						<th onclick="showPrt()">제품</th>
						<th onclick="showMat()">자재</th>
					</tr>
					<tr>
						<th onclick="showWh()">창고</th>
						<th onclick="showMstt()">설비상태</th>
						<th onclick="showMsts()">비가동</th>
						<th onclick="showA()">진행</th>
						<th onclick="showErrPrt()">제품불량</th>
						<th onclick="showErrMat">자재불량</th>
					</tr>
				</table>
			</div>
			<div>
				<h3 id="title"></h3>
			</div>
			<div style="float: right; margin-bottom:3%;">
				<button class="button" style="width: 100px; height: 30px;"
					onclick="selectDelete()">삭제</button>
			</div>

			<div id="codeGrid" style="text-align:center;"></div>

			<script>
			
			showAll();
			       
			const codeGrid = new tui.Grid({
				el : document.getElementById('codeGrid'),
				pagination:true,
				pageOption: {
					useClient:true,
					perPage:10
				},
				scrollX : false,
				scrollY : false,
				rowHeaders: ['checkbox'],
				columns : [ {
					header : '코드',
					name : 'code',
					align : 'center'
				}, {
					header : '코드명',
					name : 'codeName',
					align : 'center'
				}, {
					header : '공통코드',
					name : 'divCode', //납기일자명 수정
					align : 'center'
				}, {
					header : '구분',
					name : 'divName',
					align : 'center'
				} ]
			});
			
			var deleteCode = [];
			
			codeGrid.on('check', ev => {
				console.log(codeGrid.getValue(ev.rowKey, 'code'));
				deleteCode.push((codeGrid.getValue(ev.rowKey, 'code')));
				
				console.log($('input[name=_checked]').val());
				
				/* $('input[name=_checked]').each(function (idx, item){
					codeGrid.getValue(i, 'code');
					console.log(codeGrid.getValue(ev.rowKey, 'code'));
				}) */
			});
			
			codeGrid.on('uncheck', ev => {
				console.log(codeGrid.getValue(ev.rowKey, 'code'));
				for(let i = 0; i < deleteCode.length; i++) {
					if(deleteCode[i] == codeGrid.getValue(ev.rowKey, 'code')) {
						deleteCode.splice(i, 1);
					}
				}
				console.log(deleteCode);
			});
			
			function selectDelete() {
				console.log(codeGrid.getCheckedRows());
				let code = [];
				for(co of codeGrid.getCheckedRows()){
					console.log(co)
					code.push(co.code)
					console.log(code);
				}
				
				$.ajax({
					url:'selectDeleteCP',
					type:'GET',
					data:{code:code},
					dataType:"json",
					async:false,
					success:function(data){
						if(data > 0) {
							alert("삭제완료");
							showAll();					
						} else {
							alert("삭제실패");
						}
					},
					error:function(request,status,error){
						alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
						console.log(code);
						console.log(reject);
					}
				})
			}
			
			function showAll() {
				$('#title').text("전체");
				
				url="codeList"
				       fetch(url) // 설비 단건조회 불러오는 아작스
				       .then(res=>res.json())
				       .then(obj=>{
				           console.log(obj);
				           codeGrid.resetData(obj);
				       })
			}
			
			function showCompany() {
				$("#title").text("거래처");

				url="codeCpList"
				       fetch(url) // 설비 단건조회 불러오는 아작스
				       .then(res=>res.json())
				       .then(obj=>{
				           console.log(obj);
				           codeGrid.resetData(obj);
				       });
			}
			function showMst() {
				$("#title").text("설비");

				url="codeCpList"
				       fetch(url) // 설비 단건조회 불러오는 아작스
				       .then(res=>res.json())
				       .then(obj=>{
				           console.log(obj);
				           codeGrid.resetData(obj);
				       });
			}
			function showPrs() {
				$("#title").text("공정");

				url="codeCpList"
				       fetch(url) // 설비 단건조회 불러오는 아작스
				       .then(res=>res.json())
				       .then(obj=>{
				           console.log(obj);
				           codeGrid.resetData(obj);
				       });
			}
			function showPrt() {
				$("#title").text("제품");

				url="codeCpList"
				       fetch(url) // 설비 단건조회 불러오는 아작스
				       .then(res=>res.json())
				       .then(obj=>{
				           console.log(obj);
				           codeGrid.resetData(obj);
				       });
			}
			function showMat() {
				$("#title").text("자재");

				url="codeCpList"
				       fetch(url) // 설비 단건조회 불러오는 아작스
				       .then(res=>res.json())
				       .then(obj=>{
				           console.log(obj);
				           codeGrid.resetData(obj);
				       });
			}
			function showWh() {
				$("#title").text("창고");

				url="codeCpList"
				       fetch(url) // 설비 단건조회 불러오는 아작스
				       .then(res=>res.json())
				       .then(obj=>{
				           console.log(obj);
				           codeGrid.resetData(obj);
				       });
			}
			function showMstt() {
				$("#title").text("설비상태");

				url="codeCpList"
				       fetch(url) // 설비 단건조회 불러오는 아작스
				       .then(res=>res.json())
				       .then(obj=>{
				           console.log(obj);
				           codeGrid.resetData(obj);
				       });
			}
			function showMsts() {
				$("#title").text("비가동");

				url="codeCpList"
				       fetch(url) // 설비 단건조회 불러오는 아작스
				       .then(res=>res.json())
				       .then(obj=>{
				           console.log(obj);
				           codeGrid.resetData(obj);
				       });
			}
			function showA() {
				$("#title").text("진행");

				url="codeCpList"
				       fetch(url) // 설비 단건조회 불러오는 아작스
				       .then(res=>res.json())
				       .then(obj=>{
				           console.log(obj);
				           codeGrid.resetData(obj);
				       });
			}
			function showErrPrt() {
				$("#title").text("제품불량");

				url="codeCpList"
				       fetch(url) // 설비 단건조회 불러오는 아작스
				       .then(res=>res.json())
				       .then(obj=>{
				           console.log(obj);
				           codeGrid.resetData(obj);
				       });
			}
			function showErrMat() {
				$("#title").text("자재불량");

				url="codeCpList"
				       fetch(url) // 설비 단건조회 불러오는 아작스
				       .then(res=>res.json())
				       .then(obj=>{
				           console.log(obj);
				           codeGrid.resetData(obj);
				       });
			}

			</script>
		</main>
	</article>

	<!-- Vendor JS Files -->
	<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/chart.js/chart.min.js"></script>
	<script src="assets/vendor/echarts/echarts.min.js"></script>
	<script src="assets/vendor/quill/quill.min.js"></script>
	<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="assets/js/main.js"></script>

</body>

</html>