<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<style>
.button {
	width: 100px;
	height: 30px;
	margin-right: 1%;
	margin-bottom: 1%;
}

th {
	width: 80px;
}

td {
	width: 250px;
}
</style>
</head>
<body>
	<article layout:fragment="content">
		<main id="main" class="main">
			<h4 style="margin-bottom: 3%;">
				<strong>불량 관리</strong>
			</h4>
			<form action="insertErr" method="POST" id="insertErr">
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
				<table class="table">
					<tr>
						<th>*구분</th>
						<td><select style="width: 150px;" id="errOption"
							name="errOption">
								<option value=0>---선택---</option>
								<option value="MAT">자재</option>
								<option value="PRS">공정</option>
						</select></td>
						<th>*불량코드</th>
						<td><input type="text" id="errCode" name="errCode"></td>
					</tr>
					<tr>
						<th>*불량명</th>
						<td><input type="text" id="errName" name="errName"></td>
						<th id="type">*자재/공정</th>
						<td><select style="width: 150px;" id="code" name="code">
								<option value=0>---선택---</option>
								<th:block th:each="e : ${err}">
									<th:block
										th:if="${#strings.contains(e.code, 'MAT')} or ${#strings.contains(e.code, 'PRS')}">
										<option th:value="${e.code}" th:text="${e.codeName}"
											class="type"></option>
									</th:block>
								</th:block>
								<th:block th:each="e : ${err}">
									<th:block id="type" th:if="${#strings.contains(e.code, 'MAT')}">
										<option th:value="${e.code}" th:text="${e.codeName}"
											class="typeMat"></option>
									</th:block>
								</th:block>
								<th:block th:each="e : ${err}">
									<th:block id="type" th:if="${#strings.contains(e.code, 'PRS')}">
										<option th:value="${e.code}" th:text="${e.codeName}"
											class="typePrs"></option>
									</th:block>
								</th:block>
						</select></td>
					</tr>
				</table>
				<input type="hidden" name="auth" value="ROLE_ADMIN">
				<button class="button" type="button" style="float: right;"
					onclick="updateErr()">수정</button>
				<button class="button" type="button" style="float: right;"
					onclick="selectDeleteCp()">삭제</button>
				<button type="button" class="button" onclick="sub()"
					style="float: right;">등록</button>
			</form>
			<div id="errGrid"></div>

			<script type="text/javascript">
			
			// toastr
	         toastr.options = {
	                "closeButton": false,
	                "newestOnTop": true,
	                "positionClass": "toast-top-center",
	                "preventDuplicates": true,
	                "extendedTimeOut" : 1500, 
	                "timeOut" : 2500
	         }
	
				showAll();
				
				$('.typeMat').hide();
				$('.typePrs').hide();

				const errGrid = new tui.Grid({
					el : document.getElementById('errGrid'),
					pagination : true,
					pageOptions : {
						useClient : true,
						perPage : 10
					},
					scrollX : false,
					scrollY : false,
					rowHeaders : [ 'checkbox' ],
					columns : [ {
						header : '불량코드',
						name : 'errCode',
						align : 'center',
						filter: 'select'
					}, {
						header : '불량명',
						name : 'errName',
						align : 'center',
						filter: 'select'
					}, {
						header : '구분',
						name : 'divName', //납기일자명 수정
						align : 'center',
						filter : 'select'
					}, {
						header : '자재/공정명',
						name : 'codeName',
						align : 'center',
						filter: 'select'
					}, {
						header : '불량률',
						name : 'errPct',
						align : 'center',
						filter: 'select'
					} ]
				});
				
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				
				var deleteCode = [];
				
				$('#errOption').change(function(){
					if($(this).val() == 'MAT') {
						$('#errCode').val('ERM_');
						$('.typeMat').show();
						$('.typePrs').hide();
						$('.type').hide();
						$('#type').text('*자재');
					} else if ($(this).val() == 'PRS') {
						$('#errCode').val('ERP_');
						$('.typeMat').hide();
						$('.typePrs').show();
						$('.type').hide();
						$('#type').text('*공정');
					} else {
						$('#errCode').val('');
						$('.typeMat').hide();
						$('.typePrs').hide();
						$('.type').show();
						$('#type').text('*자재/공정');
					}
				})
				
				$('.type').change(function(){
					let codeA = $('.type').val()
					if (codeA.substr(0,4) == 'MAT_') {
						$('#errCode').val('ERM_' + codeA.substr(4));
						$('#errCode').attr('readonly', true);
					}
					if (codeA.substr(0,4) == 'PRS_') {
						$('#errCode').val('ERP_' + codeA.substr(4));
						$('#errCode').attr('readonly', true);
					}
				});
				
				$('.typeMat').change(function(){
					let codeA = $('.typeMat').val()
					$('#errCode').val('ERM_' + codeA.substr(4));
					$('#errCode').attr('readonly', true);
				});
				
				$('.typePrs').change(function(){
					let codeA = $('.typePrs').val()
					$('#errCode').val('ERP_' + codeA.substr(4));
					$('#errCode').attr('readonly', true);
				});
				
				errGrid.on('check', ev => {
					deleteCode.push((errGrid.getValue(ev.rowKey, 'errCode')));
					
					$('#errCode').val(errGrid.getValue(ev.rowKey, 'errCode'));
					$('#errCode').attr('readonly', true);
					$('#errName').val(errGrid.getValue(ev.rowKey, 'errName'));
					let type = errGrid.getValue(ev.rowKey, 'divName');
					if (type == '자재') {
						$('#errOption').val('MAT');						
					} else if (type == '공정') {
						$('#errOption').val('PRS');
					}
					$('#code').val(errGrid.getValue(ev.rowKey, 'code'));
				});
				
				errGrid.on('click', ev => {
					deleteCode.push((errGrid.getValue(ev.rowKey, 'errCode')));
					
					$('#errCode').val(errGrid.getValue(ev.rowKey, 'errCode'));
					$('#errCode').attr('readonly', true);
					$('#errName').val(errGrid.getValue(ev.rowKey, 'errName'));
					let type = errGrid.getValue(ev.rowKey, 'divName');
					if (type == '자재') {
						$('#errOption').val('MAT');						
					} else if (type == '공정') {
						$('#errOption').val('PRS');
					}
					$('#code').val(errGrid.getValue(ev.rowKey, 'code'));
				});
				
				errGrid.on('uncheck', ev => {
					for(let i = 0; i < deleteCode.length; i++) {
						if(deleteCode[i] == errGrid.getValue(ev.rowKey, 'errCode')) {
							deleteCode.splice(i, 1);
						}
					}
					$('#errCode').val('');
					$('#errCode').attr('readonly', false);
					$('#errName').val('');
					$('#errOption').val('');
					$('#code').val('');
				});
				
				function selectDeleteCp() {
					let code = [];
					for(co of errGrid.getCheckedRows()){
						code.push(co.errCode)
					}
					
					$.ajax({
						url:'selectDeleteCP',
						type:'POST',
						data:{code:code},
						dataType:"json",
						async:false,
						beforeSend : function(xhr){
							xhr.setRequestHeader(header, token);
						},
						success:function(data){
							if(data > 0) {
								toastr.success('삭제성공')
								showAll();					
							} else {
								alert("삭제실패");
							}
						},
						error:function(reject){
							console.log(reject);
						}
					})
				}
				
				function updateErr() {
					let errCode = $('#errCode').val();
					let errName = $('#errName').val();
					let errOption = $('#errOption').val();
					let code = $('#code').val();
					
					let upData = {'errCode':errCode, 'errName':errName, 'errOption':errOption, 'code':code};
					
					$.ajax({
						url:'updateErr',
						type:'POST',
						data:JSON.stringify(upData),
						dataType:"json",
						contentType:'application/json',
						async:false,
						beforeSend : function(xhr){
							xhr.setRequestHeader(header, token);
						},
						success:function(data){
							if(data > 0) {
								toastr.success('수정완료')
								showAll();					
							} else {
								alert("수정실패");
							}
						},
						error:function(request,status,error){
							alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
							console.log(reject);
						}
					})
				}
				
				function showAll() {
					$('#title').text("전체");
					
					url="errList"
					       fetch(url) // 설비 단건조회 불러오는 아작스
					       .then(res=>res.json())
					       .then(obj=>{
					           errGrid.resetData(obj);
					       })
				}
				
				function sub() {
					if ($('#errOption').val() == 0) {
						toastr.warning('자재/공정 구분을 선택해주세요')
					} else if ($('#errCode').val().length == 0 || $('#errCode').val() == 'ERM_' || $('#errCode').val() == 'ERP_') {
						toastr.warning('불량코드 입력해주세요')
					} else if ($('#errName').val().length == 0) {
						toastr.warning('불량명 입력해주세요')
					} else if ($('#code').val() == 0) {
						toastr.warning('공정을 선택해주세요')
					} else {
						$('#insertErr').submit();
					}
				}
			</script>
		</main>
	</article>

	<!-- Vendor JS Files -->
	<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/chart.js/chart.min.js"></script>
	<script src="assets/vendor/echarts/echarts.min.js"></script>
	<script src="assets/vendor/quill/quill.min.js"></script>
	<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="assets/js/main.js"></script>

</body>

</html>