<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sseju.java.employee.mapper.EmployeeMapper">
	<select id="idCheck" resultType="Integer">
		SELECT COUNT(*) FROM login WHERE ID = #{id}
	</select>
	
	<select id="getEmpInfo" parameterType="EmployeeVO" resultType="EmployeeVO">
		SELECT * FROM employee WHERE emp_id = #{empId}
	</select>
	
	<insert id="insertEmp" parameterType="EmployeeVO">
		INSERT INTO employee values (#{empId}, #{empName}, #{empDept}, #{empRank})
	</insert>
	
	<delete id="deleteLogin" parameterType="EmployeeVO">
		DELETE FROM login WHERE id = #{id}
	</delete>
	
	<select id="getEmpList" resultType="EmployeeVO">
		SELECT * FROM employee
	</select>
	
	<delete id="deleteEmp" parameterType="EmployeeVO">
		DELETE FROM employee WHERE emp_id = #{empId}
	</delete>
	
	<update id="updateEmp" parameterType="EmployeeVO">
		UPDATE employee SET emp_name = #{empName}, emp_dept = #{empDept}, emp_rank = #{empRank} WHERE emp_id = #{empId}
	</update>
</mapper>