<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
</head>
<body>
		<article layout:fragment="content">
		<main class="main" id="main">
	<div>
		<div id="mat-od-title">
			<h2>재고관리</h2>
		</div>
		<hr>
		<!-- 탭 목록(버튼) 설정 -->
		<ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="manage-tab" data-bs-toggle="tab"
					data-bs-target="#plan" type="button" role="tab"
					aria-controls="manage" aria-selected="true">생산계획서용</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="normal-tab" data-bs-toggle="tab"
					data-bs-target="#normal" type="button" role="tab"
					aria-controls="normal" aria-selected="false">일반</button>
			</li>
		</ul>
		<!-- 탭 본문 시작 -->
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane show active" id="normal" role="tabpanel"
				aria-labelledby="normal-tab">
				<div id="input-group">
					<ul class="ul-style">
						<li><label for="matCode">발주코드</label><input id="matCode"></li>
						<li><label for="matNm">자재명</label><input id="matNm" readonly><img
							id="matNm" class="Magnifying-Glass-img" alt="image"
							data-bs-toggle="modal" data-bs-target="#matModal"
							src="../images/Magnifying_Glass.png"><input type="text"
							readonly></li>
						<li><label for="actNm">업체명</label><input id="actNm" readonly><img
							id="actNm" class="Magnifying-Glass-img" alt="image"
							data-bs-toggle="modal" data-bs-target="#actModal"
							src="../images/Magnifying_Glass.png"><input type="text"
							readonly></li>

						<!-- Date Picker -->
						<li><label for="startpicker-input">발주신청일</label>
							<div
								class="tui-datepicker-input tui-datetime-input tui-has-focus">
								<input id="startpicker-input" type="text" aria-label="Date">
								<span class="tui-ico-date"></span>
								<div id="startpicker-container" style="margin-left: -1px;"></div>
							</div> <span>-</span>
							<div
								class="tui-datepicker-input tui-datetime-input tui-has-focus">
								<input id="endpicker-input" type="text" aria-label="Date">
								<span class="tui-ico-date"></span>
								<div id="endpicker-container" style="margin-left: -1px;">
								</div>
							</div>
							<button class="btn btn-dark btn-sm">조회</button>
							<button class="btn btn-dark btn-sm">초기화</button>
					</ul>
				</div>

				<div style="text-align: right;">
					<button class="btn btn-dark btn-sm">추가</button>
					<button class="btn btn-dark btn-sm">선택삭제</button>
					<button class="btn btn-dark btn-sm">저장</button>
				</div>

				<div id="grid"></div>
			</div>

			<!-- 생산계획서용 탭 -->
			<div class="tab-pane" id="plan" role="tabpanel"
				aria-labelledby="plan-tab">
				<div align="right">
					<button class="btn btn-dark btn-sm" data-bs-toggle="modal"
						data-bs-target="#planModal" id="planBtn">신규 생산 계획서 조회</button>
					<button class="btn btn-dark btn-sm">저장</button>
				</div>
				<div>
					<table class="table">
						<tr>
							<td class="col-7"><h3>신규 생산 계획</h3>
								<div id="grid2"></div></td>
							<td class="col-1"></td>
							<td class="col-4"><h3>필요 자재</h3>
								<div id="grid3"></div></td>
						</tr>
					</table>

					<h3>자재 발주</h3>
					<div id="grid4"></div>

				</div>

			</div>
		</div>
	</div>


	<!-- 자재 목록 모달 -->
	<div class="modal" id="matModal" tabindex="-1"
		aria-labelledby="matModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="matModalLabel">자재 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid"></div>
					</div>
					<div align="center">
						<button class="btn btn-dark btn-sm">추가</button>
						<button class="btn btn-dark btn-sm">취소</button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- 업체 목록 모달 -->
	<div class="modal" id="actModal" tabindex="-1"
		aria-labelledby="actModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="actModalLabel">업체 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid2"></div>
					</div>
					<div align="center">
						<button class="btn btn-dark btn-sm">추가</button>
						<button class="btn btn-dark btn-sm">취소</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 신규 생산 계획서 목록 모달 -->
	<div class="modal" id="planModal" tabindex="-1"
		aria-labelledby="planModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="planModalLabel">신규 생산 계획서 모델</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<label for="planDateSerch">계획일자</label> <input id="planDateSerch"
						type="date"><span> - </span><input id="planDateSerch"
						type="date">
					<button class="btn btn-dark btn-sm">조회</button>
					<button class="btn btn-dark btn-sm">초기화</button>
					<div>
						<div id="modalGrid3"></div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<script>
	const manageTab = document.getElementById('normal-tab');
	manageTab.addEventListener('click',function(){
		grid.refreshLayout();
	})
	
	const insertTab = document.getElementById('manage-tab');
	insertTab.addEventListener('click',function(){
		grid2.refreshLayout();
		grid3.refreshLayout();
		grid4.refreshLayout();
	})
	
const grid = new tui.Grid({
      el: document.getElementById('grid'),
      bodyHeight: 500,
      data: [
    {
        maCode: 'OAF-20221104-011',
        mtCode: 'RML-10101',
        maNm: '얇은 만두피',
        price: 1000,
        count: 200,
        sumPrice: 2000000,
        acNm: 'YD 만두피',
        fDate: '2022-11-04',
        eDate: '2022-11-09'
    },
    {
        maCode: 'OAF-20221104-022',
        mtCode: 'RML-10102',
        maNm: '두꺼운 만두피',
        price: 1500,
        count: 200,
        sumPrice: 3000000,
        acNm: 'YD 만두피',
        fDate: '2022-11-04',
        eDate: '2022-11-09'
    }
  ],
      rowHeaders: ['checkbox', 'rowNum'],
      scrollX: false,
      scrollY: true,
      columns: [
        {
          header: '발주코드',
          name: 'maCode'
        },
        {
          header: '자재코드',
          name: 'mtCode'
        },
        {
          header: '자재명',
          name: 'maNm'
        },
        {
          header: '단가(원)',
          name: 'price'
        },
        {
          header: '발주량',
          name: 'count'
        },
        {
          header: '총액',
          name: 'sumPrice'
        },
        {
          header: '업체명',
          name: 'acNm'
        },
        {
          header: '발주신청일',
          name: 'fDate'
        },
        {
          header: '납기요청일',
          name: 'eDate'
        }
      ]
    });
	
    grid.on('check', ev => {
      console.log('check!', ev);
    });

    grid.on('uncheck', ev => {
      console.log('uncheck!', ev);
    });

    grid.on('focusChange', ev => {
      console.log('change focused cell!', ev);
    });

	const grid2 = new tui.Grid({
	      el: document.getElementById('grid2'),
	      bodyHeight: 200,
	      data: [
	    {
	    	mNo: 'PPD-20221101-001',
	    	mCode: 'MD-00100',
	    	name: '얇은피 고기만두',
	    	count: 200,
	        eDate: '2022-11-18'
	    },
	    {
	    	mNo: 'PPD-20221101-002',
	    	mCode: 'MD-00300',
	    	name: '얇은피 새우만두',
	    	count: 100,
	        eDate: '2022-11-18'
	    }
	  ],
	      rowHeaders: ['checkbox'],
	      scrollX: false,
	      scrollY: true,
	      columns: [
	        {
	          header: '상세계획번호',
	          name: 'mNo'
	        },
	        {
	          header: '제품코드',
	          name: 'mCode'
	        },
	        {
	          header: '제품명',
	          name: 'name'
	        },
	        {
	          header: '계획량',
	          name: 'count'
	        },
	        {
	          header: '주문납기일',
	          name: 'eDate'
	        }
	      ]
	    });
	
	    grid2.on('check', ev => {
	      console.log('check!', ev);
	    });

	    grid2.on('uncheck', ev => {
	      console.log('uncheck!', ev);
	    });

	    grid2.on('focusChange', ev => {
	      console.log('change focused cell!', ev);
	    });

	const grid3 = new tui.Grid({
	      el: document.getElementById('grid3'),
	      bodyHeight: 200,
	      data: [
	    {
	    	code: 'RML-10101',
	    	name: '얇은 만두피',
	    	count: 3000
	    }
	  ],
	      rowHeaders: ['checkbox'],
	      scrollX: false,
	      scrollY: true,
	      columns: [
	    	  {
		          header: '자재코드',
		          name: 'code'
		        },
		        {
		          header: '자재명',
		          name: 'name'
		        },
		        {
		          header: '소모량',
		          name: 'count'
		        }
	      ]
	    });

	    grid3.on('check', ev => {
	      console.log('check!', ev);
	    });

	    grid3.on('uncheck', ev => {
	      console.log('uncheck!', ev);
	    });

	    grid3.on('focusChange', ev => {
	      console.log('change focused cell!', ev);
	    });

	const grid4 = new tui.Grid({
	      el: document.getElementById('grid4'),
	      bodyHeight: 200,
	      data: [
	    {
	    	code: 'RML-10101',
	    	name: '얇은 만두피',
	    	sCount: 4000,
	    	price: 1000,
	    	count: 4000,
	    	sumPrice: 4000000,
	    	actNm: 'YD 만두피',
	    	sDate: '2022-11-04',
	    	eDate: '2022-11-10'
	    }
	  ],
	      rowHeaders: ['rowNum'],
	      scrollX: false,
	      scrollY: true,
	      columns: [
	    	  {
		          header: '자재코드',
		          name: 'code'
		        },
		        {
		          header: '자재명',
		          name: 'name'
		        },
		        {
		          header: '안전발주량',
		          name: 'sCount'
		        },
		        {
			      header: '단가(원)',
			      name: 'price'
			    },
			    {
				  header: '발주량',
				  name: 'count'
				},
				{
				  header: '총액',
				  name: 'sumPrice'
				},
				{
				  header: '업체명',
				  name: 'actNm'
				},
				{
				  header: '발주신청일',
				  name: 'sDate'
				},
				{
				  header: '납기요청일',
				  name: 'eDate'
				}
					        
	      ]
	    });
	
    grid4.on('focusChange', ev => {
        console.log('change focused cell!', ev);
      });

	document.addEventListener('shown.bs.modal', function (){
		modalGrid.refreshLayout();
		modalGrid2.refreshLayout();
		modalGrid3.refreshLayout();
		}, '.modal');
	
	
	var modalGrid = new tui.Grid({
		el: document.getElementById('modalGrid'),
		bodyHeight: 200,
		data: [{
			matCode: 'RML-10101',
			matNm: '얇은 만두피',
			size: 100,
			count: 200
		},
		{
			matCode: 'RML-10102',
			matNm: '굵은 만두피',
			size: 100,
			count: 200
		}],
		rowHeaders: ['checkbox'],
		scrollX: false,
		scrollY: true,
		columns: [
			{
				header: '자재코드',
				name: 'matCode',
			},
			{
				header: '자재명',
				name: 'matNm',
			},
			{
				header: '규격',
				name: 'size'
			},
			{
				header: '수량',
				name: 'count'
			}
		]
	});
	
	var modalGrid2 = new tui.Grid({
		el: document.getElementById('modalGrid2'),
		bodyHeight: 200,
		data: [{
			actCode: 'VDR-1101',
			actName: 'YD 만두피'
		}],
		rowHeaders: ['checkbox'],
		scrollX: false,
		scrollY: true,
		columns: [
			{
				header: '업체 코드',
				name: 'actCode',
			},
			{
				header: '업체명',
				name: 'actName',
			}
		]
	});
	
	var modalGrid3 = new tui.Grid({
		el: document.getElementById('modalGrid3'),
		bodyHeight: 400,
		data: [{
			code: 'VDR-1101',
			name: 'YD 만두피',
			pDate: '2022-11-12',
			eDate: '2023-11-18'
		}],
		rowHeaders: ['rowNum'],
		scrollX: false,
		scrollY: true,
		columns: [
			{
				header: '생산 계획 코드',
				name: 'code',
			},
			{
				header: '계획명',
				name: 'name',
			},
			{
				header: '계획일자',
				name: 'pDate',
			},
			{
				header: '납기일자',
				name: 'eDate',
			}
		]
	});
	
	   // Date Picker
	   var today = new Date();
	    var picker = tui.DatePicker.createRangePicker({
	        startpicker: {
	            date: today,
	            input: '#startpicker-input',
	            container: '#startpicker-container'
	        },
	        endpicker: {
	            date: today,
	            input: '#endpicker-input',
	            container: '#endpicker-container'
	        },
	        selectableRanges: [
	            [today, new Date(today.getFullYear() + 1, today.getMonth(), today.getDate())]
	        ]
	    });
	</script>
</main>
</article>
</body>
</html>