<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>InOut</title>
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
<style>
.tui-datepicker {
	z-index: 1001;
}

.tui-select-box {
	z-index: 1001;
}

/* ul 스타일 */
.ul-style {
	list-style: none;
	padding: 0px;
}

.ul-style li>label {
	width: 100px;
	text-align: center;
}

.ul-style li {
	padding: 5px;
}
</style>
</head>
<body>
	<article layout:fragment="content">
		<main class="main" id="main">
			<h3>미입고내역</h3>
			<div>
				<ul class="ul-style">
					<li><label>품목</label><input type="text" data-bs-toggle="modal"
						data-bs-target="#prtModal"> <i class="bi bi-search"
						data-bs-toggle="modal" data-bs-target="#prtModal"></i> <input
						type="text" readonly></li>
					<li><label>입고일</label>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input type="text" id="datepicker-input" aria-label="Date-Time">
							<span class="tui-ico-date"></span>
							<div id="wrapper" style="margin-top: -1px;"></div>
						</div>
						<button type="button" class="button" onclick="insertNotin()">등록</button>
						<button class="button">삭제</button></li>
				</ul>
				<div id="grid"></div>
			</div>


			<!-- whNameGrid -->
			<div class="modal fade" id="whNameModal" tabindex="-1"
				aria-labelledby="prtModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div>
								<div id="whNameGrid"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save
								changes</button>
						</div>
					</div>
				</div>
			</div>

			<script>
			
			
			//미입고 내역 => 수정 기능 외엔 없음 (수정으로 입고를 시킴)
			
			matNotinList();
			whName();
			
			//발주번호,자재코드,자재명,입고수량(합격수량),입고일,창고,LOT번호
				const grid = new tui.Grid({
					el : document.getElementById('grid'),
					bodyHeight: 500,
					rowHeaders : [ 'checkbox' ],
					scrollX : false,
					scrollY : true,
					columns : [{
						header : '발주 번호',
						name : 'matOrdNo',
						align : 'center'
					}, {
						header : '자재 코드',
						name : 'matCode',
						align : 'center'
					}, {
						header : '자재명',
						name : 'matName',
						align : 'center'
					}, {
						header : '확인번호',
						name : 'matChkCode',
						align : 'center'
					},{
						header : '미검수 수량',
						name : 'matInQty',
						editor: 'text',
						align : 'center'
					}, {
						header : '창고 코드',
						name : 'whCode',
						align : 'center'
					}, {
						header : '창고',
						name : 'whName',
						align : 'center'
					}, {
						header : '입고일', 
						name : 'matChkDate',
						align : 'center',
		                editor: 'datePicker',
		                validation: {
		                   dataType: 'datePicker',
		                   required: true
		                   }
/* 							,
		                    formatter({value}) {
		                     return `${value.substring(0,10)}`;
		                   } */
					},{
						header : '진행사항',
						name : 'matOrdYn',						
						align : 'center',
		                  editor: {
		                      type: 'select',
		                  	  options: {
		                      listItems: [
		                        { text: '확인', value: '확인' },
		                        { text: '입고', value: '입고' },
		                      ]
		                    }
		                  }
					}]
				});

				var datepicker = new tui.DatePicker('#wrapper', {
					date : new Date(),
					input : {
						element : '#datepicker-input',
						format : 'yyyy-MM-dd'
					}
				});
				
				/*------------
	            // 함수
	            ----------------*/
	            
	            function matNotinList(){
					$.ajax({
						url : '/matNotinList',
						dataType : "json",
						success : function(data) {
							grid.resetData(data);
							console.log(data);
						},
						error : function(reject) {
							console.log(reject);
						}
					})
				};
				
				function whName(){
					$.ajax({
						url : '/whList',
						dataType : "json",
						success : function(data){
							whNameGrid.resetData(data);
						},
						error : function (reject){
							console.log(reject);
						}
					})
				}
	            /*------------
	            // 모달창 띄우기
	            ----------------*/
	            grid.on('click',function(ev){
	                  if(ev.columnName =='whName'){
	                     $('#whNameModal').modal('show');
	                     whNameGrid.refreshLayout();
	                  }
	               });
				
	            /*------------
	            // 모달 데이터 가져오기
	            ----------------*/
	            
	            var whNameGrid = new tui.Grid({
	            	el : document.getElementById('whNameGrid'),
	            	bodyHeight : 200,
	            	rowHeaders : [],
	            	scrollX : false,
	                scrollY : true,
	                columns : [{
	                   		header : '창고코드',
	                   		name : 'whCode'
	                },{
	                   		header : '창고',
	                   		name : 'whName'
	                },{
		               		header : '창고위치',
		                    name : 'whLocation'
					},{
		                    header : '담당자',
		                    name : 'whManager'
					}]
	             });
	            
	            /*------------
	            // 모달 데이터 넣기
	            ----------------*/
	            whNameGrid.on('click', ev => {
	            	let val = whNameGrid.getRow(ev.rowKey); // 거래처클릭한 그리드
	                
	                let val2 = grid.getFocusedCell().rowKey; // 진짜 큰 그리드
	                 
	                   console.log(whNameGrid.getValue(ev.rowKey,ev.columnName));
	                 const amg = whNameGrid.getValue(ev.rowKey,ev.columnName);
	                 grid.setValue(val2, 'whName', val.whName);
	                 grid.setValue(val2, 'whCode', val.whCode);
	          
	                 $('#whNameModal').modal("hide");
	            })

				document.addEventListener('shown.bs.modal', function() {
					whNameGrid.refreshLayout();
				}, '.modal');
	            
	            
	             var token = $("meta[name='_csrf']").attr("content");
				 var header = $("meta[name='_csrf_header']").attr("content");
	            
	            
	            /*------------
	            // 등록
	            ----------------*/
	            
	            
	            
				function insertNotin() {
	            	console.log("눌렸음");
	            	let rowData = grid.getCheckedRows();
	            	console.log(rowData);
		            		 
		     		let header = $("meta[name='_csrf_header']").attr('content');
		    	    let token = $("meta[name='_csrf']").attr('content');
		    	    
		    	    for(let i=0; i<rowData.length; i++){
		    	    	
		    	    	rowData[i].matErrQty = (rowData[i].matInQty * 5/100);
		    	    	console.log(rowData[i].matErrQty)
		    	    	rowData[i].matPassQty = (rowData[i].matInQty-rowData[i].matErrQty);
		    	    	
			    	    if(rowData[i].matOrdYn == "입고"){
					    	console.log(rowData[i].matOrdYn)
					    	console.log(rowData[i].matChkDate)					    	
					    	console.log("입고아작스실행")
			    	        $.ajax({
				    		url : "/insertLot",
				    		method: "post",
				    		contentType: "application/json",
					        data:JSON.stringify(rowData),
					        dataType : "json",
					        async: false,
					         beforeSend : function(xhr) {
					            xhr.setRequestHeader(header, token);
					         },
					         success : function(data) {
					      	   if(data > 0) {
					            	console.log(data);
					            	matNotinList();
					      	   }else {
					      		   alert("실패")
					      	   }
					         },
					         error : function(request,status,error) {
					      	  alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
					          alert("왜이러냐 진짜") 
					      	  console.log(reject);
					         }
					      });
					 } else {
						 	console.lot("업데이트")
				         	$.ajax({
				         	url : "/updateMatnotIn",
				         	method : "post",
				         	contentType : "application/json",
				         	data:JSON.stringify(rowData),
				         	dataType:"json",
				         	async:false,
				         	beforeSend : function(xhr) {
						    	xhr.setRequestHeader(header, token);
						        },
							success : function(data) {
							   if(data > 0) {
									console.log(data);
						            matNotinList();
							   }else {
						       	   alert("실패")
						       }
						     },
					         error : function(reject) {
						      	  //alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
						         alert("와우")  
						      	  console.log(reject);			         		
				         	}
				         	});
					 }
		    	}
	          }
			</script>
		</main>
	</article>
</body>
</html>