<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta charset="UTF-8">
<title>Insert title here</title>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
<script src="bootstrap/js/tui-grid.js"></script>

<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
<style>
.tui-datepicker {
	z-index: 1001;
}

.tui-select-box {
	z-index: 1001;
}

/* ul 스타일 */
.ul-style {
	list-style: none;
	padding: 0px;
}

.ul-style li>label {
	width: 100px;
	text-align: center;
}

.ul-style li {
	padding: 5px;
}

.button {
	display: inline-block;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	background-color: green;
	color: white;
}
</style>
</head>
<body>
	<article layout:fragment="content">
		<main class="main" id="main">
			<div>
				<h3>발주 정보</h3>
			</div>
			<hr>
			<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			<div id="input-group">
<!-- 				<ul class="ul-style">
					<li><label>품목</label><input type="text" data-bs-toggle="modal"
						data-bs-target="#matCodeModal2" id="matCode1"> <i
						class="bi bi-search" data-bs-toggle="modal"
						data-bs-target="#matCodeModal2"></i> <input type="text"
						style="background-color: #E9E9E9" id="matCode2" readonly></li>
					<li><label>거래처</label><input type="text"
						data-bs-toggle="modal" data-bs-target="#cpCodeModal2" id="cpCode1">
						<i class="bi bi-search" data-bs-toggle="modal"
						data-bs-target="#cpCodeModal2"></i> <input type="text"
						style="background-color: #E9E9E9" id="cpCode2" readonly></li>
					<li><label>발주일자</label>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input type="text" id="datepicker-input" aria-label="Date-Time">
							<span class="tui-ico-date"></span>
							<div id="wrapper" style="margin-top: -1px;"></div>
						</div> -->
						<!-- <button class="button" id="searchBtn" onclick="searchBtnHandler()">조회</button> -->
						<button class="button" id="insertBtn" onclick="insert()">등록</button>
						<button class="button" id="updateBtn" onclick="update()">수정</button>
						<button class="button" id="deletetBtn" onclick="deleteMat()">삭제</button></li>
				<!-- </ul> -->
			</div>
			<!-- <form action="insertMatbuy" method="post"> -->
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
				<div id="insert" style="display: none;">
					<div id="insertGrid"></div>
					<button type="button" class="button" onclick="ordAdd()">추가</button>
					<button type="submit" class="button" onclick="insertMatbuy()">등록</button>
				</div>
			<!-- </form>-->
			<hr>
			<div class="row">
				<div id="grid" class="col"></div>

			</div>

			<!-- matCodeModal -->
			<div class="modal" id="matCodeModal" tabindex="-1"
				aria-labelledby="matCodeModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div>
								<div id="matCodeGrid"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save
								changes</button>
						</div>
					</div>
				</div>
			</div>

			<!-- cpCodeModal -->
			<div class="modal" id=cpCodeModal tabindex="-1"
				aria-labelledby="cpCodeModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div>
								<div id="cpCodeGrid"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save
								changes</button>
						</div>
					</div>
				</div>
			</div>

			<!-- empModal2 -->
			<div class="modal" id="empModal2" tabindex="-1"
				aria-labelledby="empModal2Label" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div>
								<div id="empGrid2"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save
								changes</button>
						</div>
					</div>
				</div>
			</div>


			<!-- matCodeModal2 -->
			<div class="modal fade" id="matCodeModal2" tabindex="-1"
				aria-labelledby="matCodeModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div>
								<div id="matCodeGrid2"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save
								changes</button>
						</div>
					</div>
				</div>
			</div>

			<!-- cpCodeModal2 -->
			<div class="modal" id="cpCodeModal2" tabindex="-1"
				aria-labelledby="cpCodeModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div>
								<div id="cpCodeGrid2"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save
								changes</button>
						</div>
					</div>
				</div>
			</div>
			<script>


            matOrdList();            
            company();
            material();
            emp();


            const grid = new tui.Grid({
               el : document.getElementById('grid'),
               bodyHeight: 500,
               rowHeaders : [ 'checkbox' ],
               scrollX : false,
               scrollY : true,
               columns : [ {
                  header : '발주 번호',
                  name : 'matOrdNo',
                  align : 'center',
               }, {
                  header : '수량',
                  name : 'matOrdQty',
                  align : 'center',
                  editor: 'text',
                  validation: {
                       dataType: 'text',
                       required: true
                        }
               }, {
                  header : '품목 코드',
                  name : 'matCode',
                  align : 'center'
               }, {
                  header : '품목명',
                  name : 'matName',
    			  filter: 'select',
    			  align : 'center'
               }, {
                  header : '일자',
                  name : 'matOrdDate',
                  align : 'center',
				  filter: 'select',
                  editor: 'datePicker',
                  validation: {
                     dataType: 'datePicker',
                     required: true
                      },
                  formatter({value}) {
                       return `${value.substring(0,10)}`;
                      }
                     
               }, {
                  header : '거래처 코드',
                  align : 'center',
                  name : 'cpCode',
               }, {
                  header : '거래처명',
                  name : 'cpName',
                  align : 'center',
				  filter: 'select'
               }, {
                  header : '금액',
                  align : 'right',
                  name : 'matPrice',
                  editor: 'text'
               }, {
                  header : '담당자',
                  name : 'matOrdEmp',
                  align : 'center'
               }, {
                  header : '진행 상황',
                  name : 'matOrdYn',
                  align : 'center',
				  filter: 'select',
                  editor: {
                      type: 'select',
                  	  options: {
                      listItems: [
                        { text: '진행', value: '진행' },
                        { text: '미확인', value: '미확인' },
                      ]
                    }
                  },
                 validation: {
                	 regExp:/진[가-힣]/
                    }
               } ]
            });
            
            function insert(){               
               if($('#insert').css('display') == 'none'){
                     $('#insert').show();
                     insertGrid.refreshLayout();
                  }else{
                        $('#insert').hide();
                  }
               }; 
               
               function ordAdd(){
                  var rowData = [{matOrdQty: "", matCode: "", matName: "", matOrdDate: "", cpCode: "", cpName : "" , matPrice: "", matOrdEmp: ""}]
                   insertGrid.appendRow(rowData); 
               }
               
            const insertGrid = new tui.Grid({
               el : document.getElementById('insertGrid'),
               rowHeaders : [ 'checkbox' ],
               scrollX : false,
               scrollY : false,
               columns : [{
                  header : '수량',
                  name : 'matOrdQty',
                  editor: 'text',
                  validation: {
                       dataType: 'text',
                       required: true
                        }
                  }, {
                  header : '품목 코드',
                  name : 'matCode'
               }, {
                  header : '품목명',
                  name : 'matName'
               }, {
                  header : '일자',
                  name : 'matOrdDate',
                    editor: 'datePicker',
                    validation: {
                       dataType: 'datePicker',
                       required: true
                        },
					formatter({value}) {
                        return `${value.substring(0,10)}`;
                       }
                  }, {
                  header : '거래처 코드',
                  name : 'cpCode'
               }, {
                  header : '거래처명',
                  name : 'cpName'
               }, {
                  header : '금액',
                  name : 'matPrice',
                  editor: 'text'  //값이...자동계산...되어야하는데...
               }, {
                  header : '담당자',
                  name : 'matOrdEmp'
               }]
            });
            
            
            function matOrdList() {
               $.ajax({
                  url : '/matordList',
                  dataType : "json",
                  success : function(data) {
                     grid.resetData(data);
                  },
                  error : function(reject) {
                     console.log(reject);
                  }
               })
            }
            
            function company() {
               $.ajax({
                  url : '/company',
                  dataType : "json",
                  success : function(data) {
                     cpCodeGrid.resetData(data);
                     cpCodeGrid2.resetData(data);
                  },
                  error : function(reject) {
                     console.log(reject);
                  }
               })
            }
            
            function material() {
               $.ajax({
                  url : '/material',
                  dataType : "json",
                  success : function(data) {
                     matCodeGrid.resetData(data);
                     matCodeGrid2.resetData(data);
                  },
                  error : function(reject) {
                     console.log(reject);
                  }
               })
            }
            
            function emp() {
               $.ajax({
                  url : '/emp',
                  dataType : "json",
                  success : function(data) {
                     empGrid2.resetData(data);
                  },
                  error : function(reject) {
                     console.log(reject);
                  }
               })
            };
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            
            
             /*------------
             // 모달 클릭
             ----------------*/
             
             document.addEventListener('shown.bs.modal', function() {
                matCodeGrid2.refreshLayout();
               }, '.modal');
             
             document.addEventListener('shown.bs.modal', function() {
                cpCodeGrid2.refreshLayout();
               }, '.modal');
             
             /*------------
               // 해당하는 header의 모달창 띄우기
               ----------------*/
               grid.on('click',function(ev){
                   /*if(!ev.rowKey) {
                    return;
                 } */
                  if(ev.columnName =='matCode'){
                     $('#matCodeModal').modal('show');
                   matCodeGrid.refreshLayout();
                  }else if (ev.columnName =='cpCode'){
                           $('#cpCodeModal').modal('show');
                         cpCodeGrid.refreshLayout();
               }else if (ev.columnName == 'matOrdEmp'){
                  $('#empModal2').modal('show');
                  empGrid2.refreshLayout();
               }
               });
               
               
               insertGrid.on('click',function(ev){
                      /*if(!ev.rowKey) {
                       return;
                    } */
                     if(ev.columnName =='matCode'){
                        $('#matCodeModal').modal('show');
                      matCodeGrid.refreshLayout();
                     }else if (ev.columnName =='cpCode'){
                              $('#cpCodeModal').modal('show');
                            cpCodeGrid.refreshLayout();
                  }else if (ev.columnName == 'matOrdEmp'){
                     $('#empModal2').modal('show');
                     empGrid2.refreshLayout();
                  }
                  });
             
             
            /*------------
            // matCode 모달 데이터 가져오기
            ----------------*/
               var matCodeGrid = new tui.Grid({
               el : document.getElementById('matCodeGrid'),
               bodyHeight : 200,
               rowHeaders : [],
               scrollX : false,
               scrollY : true,
               columns : [{
                  header : '자재코드',
                  name : 'matCode'
               },{
                  header : '자재명',
                  name : 'matName'
               },{
                  header : '단가',
                  name : 'matUnitPrc'
               }]
            });
            
            
               var matCodeGrid2 = new tui.Grid({
                  el : document.getElementById('matCodeGrid2'),
                  bodyHeight : 200,
                  rowHeaders : [],
                  scrollX : false,
                  scrollY : true,
                  columns : [{
                     header : '자재코드',
                     name : 'matCode'
                  },{
                     header : '자재명',
                     name : 'matName'
                  }]
               });
            
            
            /*------------
            // cpCode 모달 데이터 가져오기
            ----------------*/
            var cpCodeGrid = new tui.Grid({
               el : document.getElementById('cpCodeGrid'),
               bodyHeight : 200,
               rowHeaders : [],
               scrollX : false,
               scrollY : true,
               columns : [{
                  header : '거래처 코드',
                  name : 'cpCode'
               },{
                  header : '거래처명',
                  name : 'cpName'
               }]
            
            });
            
            var cpCodeGrid2 = new tui.Grid({
               el : document.getElementById('cpCodeGrid2'),
               bodyHeight : 200,
               rowHeaders : [],
               scrollX : false,
               scrollY : true,
               columns : [{
                  header : '거래처 코드',
                  name : 'cpCode'
               },{
                  header : '거래처명',
                  name : 'cpName'
               }]
            
            });
            
            /*------------
            // empModal2 모달 데이터 가져오기
            ----------------*/
               var empGrid2 = new tui.Grid({
               el : document.getElementById('empGrid2'),
               bodyHeight : 200,
               rowHeaders : [],
               scrollX : false,
               scrollY : true,
               columns : [{
                  header : '사원 ID',
                  name : 'empId'
               },{
                  header : '사원명',
                  name : 'empName'
               }]
            });
            
            /*------------
            // matCode 모달 데이터 가져오기
            ----------------*/
             matCodeGrid2.on('click', ev => {
               let rowData = matCodeGrid2.getRow(ev.rowKey); // 거래처클릭한 그리드
               
               let mcVal = rowData['matCode'];
               let mnVal = rowData['matName'];
               
               $('#matCode1').val(mcVal);
               $('#matCode2').val(mnVal);
               
               $('#matCodeModal2').modal("hide");
               
            });
            
             cpCodeGrid2.on('click', ev => {
                let rowData = cpCodeGrid2.getRow(ev.rowKey); // 거래처클릭한 그리드
                
                let ccVal = rowData['cpCode'];
                let cnVal = rowData['cpName'];
                
                $('#cpCode1').val(ccVal);
                $('#cpCode2').val(cnVal);
                
                $('#cpCodeModal2').modal("hide");
                
             });
            
               /*------------
            // 거래처 모달에서 가져온 데이터 행에 넣어주기
            ----------------*/
            matCodeGrid.on('click', ev => {
               let val = matCodeGrid.getRow(ev.rowKey); // 거래처클릭한 그리드
              
               let val2 = insertGrid.getFocusedCell().rowKey; // 진짜 큰 그리드
                
                  console.log(matCodeGrid.getValue(ev.rowKey,ev.columnName));
                const amg = matCodeGrid.getValue(ev.rowKey,ev.columnName);
                insertGrid.setValue(val2, 'matCode', val.matCode);
                insertGrid.setValue(val2, 'matName', val.matName);
         
                $('#matCodeModal').modal("hide");
            });
               
            matCodeGrid.on('click', ev => {
                let val = matCodeGrid.getRow(ev.rowKey); // 거래처클릭한 그리드
               
                let val2 = grid.getFocusedCell().rowKey; // 진짜 큰 그리드
                 
                   console.log(matCodeGrid.getValue(ev.rowKey,ev.columnName));
                 const amg = matCodeGrid.getValue(ev.rowKey,ev.columnName);
                 grid.setValue(val2, 'matCode', val.matCode);
                 grid.setValue(val2, 'matName', val.matName);
          
                 $('#matCodeModal').modal("hide");
             })
            
            
             /*------------
            // 거래처 모달에서 가져온 데이터 행에 넣어주기
            ----------------*/
            cpCodeGrid.on('click', ev => {
               let val = cpCodeGrid.getRow(ev.rowKey); // 거래처클릭한 그리드
              
               let val2 = insertGrid.getFocusedCell().rowKey; // 진짜 큰 그리드
                
                  console.log(cpCodeGrid.getValue(ev.rowKey,ev.columnName));
                const cmg = cpCodeGrid.getValue(ev.rowKey,ev.columnName);
                insertGrid.setValue(val2, 'cpCode', val.cpCode);
                insertGrid.setValue(val2, 'cpName', val.cpName);
         
                $('#cpCodeModal').modal("hide");
            });
            
            cpCodeGrid.on('click', ev => {
                let val = cpCodeGrid.getRow(ev.rowKey); // 거래처클릭한 그리드
               
                let val2 = grid.getFocusedCell().rowKey; // 진짜 큰 그리드
                 
                   console.log(cpCodeGrid.getValue(ev.rowKey,ev.columnName));
                 const cmg = cpCodeGrid.getValue(ev.rowKey,ev.columnName);
                 grid.setValue(val2, 'cpCode', val.cpCode);
                 grid.setValue(val2, 'cpName', val.cpName);
          
                 $('#cpCodeModal').modal("hide");
             })
            
            /*------------
            // 거래처 모달에서 가져온 데이터 행에 넣어주기
            ----------------*/
            empGrid2.on('click', ev => {
               let val = empGrid2.getRow(ev.rowKey); // 거래처클릭한 그리드
              
               let val2 = insertGrid.getFocusedCell().rowKey; // 진짜 큰 그리드
                
                  console.log(empGrid2.getValue(ev.rowKey,ev.columnName));
                const cmg = empGrid2.getValue(ev.rowKey,ev.columnName);
                insertGrid.setValue(val2, 'matOrdEmp', val.empName);
         
                $('#empModal2').modal("hide");
            });
            
            empGrid2.on('click', ev => {
                let val = empGrid2.getRow(ev.rowKey); // 거래처클릭한 그리드
               
                let val2 = grid.getFocusedCell().rowKey; // 진짜 큰 그리드
                 
                   console.log(empGrid2.getValue(ev.rowKey,ev.columnName));
                 const cmg = empGrid2.getValue(ev.rowKey,ev.columnName);
                 grid.setValue(val2, 'matOrdEmp', val.empName);
          
                 $('#empModal2').modal("hide");
             });
            
            /*------------
			// 조회
			----------------*/
			function searchBtnHandler(){
			      $('#searchBtn').on('click',function(){
			         //let getOdSts = $("input[name=flexRadioDefault]:checked").val();
			         let getmatCd = $("#actCd").val();
			         let getcpCd = $("#prdCd").val();
			         let getStartDate = $("#datepicker-input").val();
			         //let getEndDate = $("#endpicker-input").val();
/* 			         if(getOdSts == '전체') {
			            $.ajax({
			                url : '/ordList',
			                contentType: 'application/json',
			                   dataType : "json",
			                   method: "GET",
			                   success : function(data) {
			                      grid.resetData(data);
			                   },
			                   error : function(reject) {
			                      console.log(reject);
			                   }
			            })
			         }else if(getOdSts != '전체') {
			            $.ajax({
			               url:'/detailList',
			               contentType: 'application/json',
			               dataType: "json",
			               method: "GET",
			               data : {
			                  "odSts" : getOdSts, "actCd" : getActCd, "prdCd" : getPrdCd,
			                  "startDate" : getStartDate, "endDate" : getEndDate
			               },
			               success : function(data) {
			                  grid.resetData(data);
			               },
			               error : function(reject) {
			                  console.log(reject);
			               }
			            })
			         } */
			         $.ajax({
			               url:'/detailList',
			               contentType: 'application/json',
			               dataType: "json",
			               method: "GET",
			               data : {
			                  "odSts" : getOdSts, "actCd" : getActCd, "prdCd" : getPrdCd,
			                  "startDate" : getStartDate, "endDate" : getEndDate
			               },
			               success : function(data) {
			                  grid.resetData(data);
			               },
			               error : function(reject) {
			                  console.log(reject);
			               }
			            })
			         
			      });
			   }
             
               
               /*------------
				// 등록
				----------------*/
			    function insertMatbuy() {

           	let Qty = [];
           	let mc = [];
           	let cd = [];
           	let mp = [];
           	let moe = [];
           	let obj = insertGrid.getCheckedRows()
					console.log(obj);
           	for (key of insertGrid.getCheckedRows()) {
           		Qty.push(key.matOrdQty);
           		mc.push(key.matCode);
           		cd.push(key.cpCode);
           		mp.push(key.matPrice);
           		moe.push(key.matOrdEmp);
           		console.log(obj[0].matOrdEmp);
         	  	}
           	console.log(Qty);            	
	            // debugger
	            let header = $("meta[name='_csrf_header']").attr('content');
	            let token = $("meta[name='_csrf']").attr('content');
	            $.ajax({
	               url : "/insertMatbuy",
	               method : "POST",
	               data : { Qty : Qty, mc : mc,cd : cd, mp : mp, moe : moe },
	               dataType:'json',
	               async: false,
	               beforeSend : function(xhr) {
	                  xhr.setRequestHeader(header, token);
	               },
	               success : function(data) {
	            	   if(data > 0) {
	                  	console.log(data);
	                  	matOrdList();
	                  	insertGrid.clear();
	            	   }else {
	            		   alert("실패")
	            	   }
	               },
	               error : function(reject) {
	                  console.log(reject);
	               }
	            })
        		};
        		
        		/*------------
				// 수정 ( 체크한 수 만큼 update )
				----------------*/
			    function update() {
					
        			let mon = [];
           			let Qty = [];
           			let mc = [];
           			let cd = [];
           			let mp = [];
           			let moe = [];
           			let yn = [];
           			let obj = grid.getCheckedRows()
					console.log(obj);
         		  	
           			for (key of grid.getCheckedRows()) {
           				mon.push(key.matOrdNo);
           				Qty.push(key.matOrdQty);
           				mc.push(key.matCode);
         		  		cd.push(key.cpCode);
         		  		mp.push(key.matPrice);
         		  		moe.push(key.matOrdEmp);
         		  		yn.push(key.matOrdYn);
         			  		console.log(mon);
         			  	}
         			  	console.log(Qty);
         			  	
		            // debugger
		            let header = $("meta[name='_csrf_header']").attr('content');
		            let token = $("meta[name='_csrf']").attr('content');
		            $.ajax({
		               url : "/updateMatbuy",
		               method : "POST",
		               data : { mon : mon, Qty : Qty, mc : mc,cd : cd, mp : mp, moe : moe, yn : yn },
		               dataType:'json',
		               async: false,
		               beforeSend : function(xhr) {
		                  xhr.setRequestHeader(header, token);
		               },
		               success : function(data) {
		            	   if(data > 0) {
		                  	console.log(data);
		                  	matOrdList();
		            	   }else {
		            		   alert("실패")
		            	   }
		               },
		               error : function(reject) {
		                  console.log(reject);
		               }
		            })
	        		};
	        		
    		/*------------
			// 삭제 ( 체크한 수 만큼 deleteMat )
			----------------*/
		    function deleteMat() {
				
    			let delno = [];
       			let obj = grid.getCheckedRows()
				console.log(obj);
     		  	
				/*for (key of grid.getCheckedRows()) {
       				delno.push(key.matOrdNo);
     			  	} */
       			for (key in obj) {
       				delno.push(obj[key].matOrdNo);
                 }

     			  	
	            // debugger
	            let header = $("meta[name='_csrf_header']").attr('content');
	            let token = $("meta[name='_csrf']").attr('content');
	            $.ajax({
	               url : "/deleteMat",
	               method : "POST",
	               contentType : "application/json",
	               data : JSON.stringify(  { "delno" : delno} ),
	               async: false,
	               beforeSend : function(xhr) {
	                  xhr.setRequestHeader(header, token);
	               },
	               success : function(data) {
	            	   if(data > 0) {
	            			alert("삭제완료");
	                  		console.log(data);
	                  		matOrdList();
	            	   }else {
	            		   alert("실패")
	            	   }
	               },
	               error : function(reject) {
	            	   alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	                  console.log(reject);
	               }
	            })
        		};
         </script>
			<script>
            var datepicker = new tui.DatePicker('#wrapper', {
               date : new Date(),
               input : {
                  element : '#datepicker-input',
                  format : 'yyyy-MM-dd'
               }
            });
         </script>
		</main>
	</article>
</body>
</html>