<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sseju.java.code.mapper.CodeMapper">
  	<select id="getCodeList" resultType="CodeVO">
  		SELECT * FROM code
  	</select>
  	
  	<select id="getCodeInfo" parameterType="CodeVO" resultType="CodeVO">
  		SELECT * FROM code WHERE code = #{code}
  	</select>
  	
  	<insert id="insertCode" parameterType="CodeVO">
  		INSERT INTO code values(#{code}, #{divName}, #{codeName}, #{divCode})
  	</insert>
  	
	<delete id="deleteCode" parameterType="CodeVO">
		DELETE FROM code WHERE code = #{code}
	</delete>
	
	<delete id="selectDelete" parameterType="list">
		DELETE FROM code WHERE code in(
		<foreach collection="list" item="item" separator=",">
			#{item}
		</foreach>
		)
	</delete>
	
	<delete id="deleteBOM" parameterType="CodeVO">
		DELETE FROM bom WHERE prt_code = #{prtCode}
	</delete>
	
	<select id="getBomList" parameterType="CodeVO" resultType="CodeVO">
		SELECT p.prt_name, b.prt_code, b.capacity, b.mat_code, m.mat_name FROM bom b, product p, material m WHERE p.prt_name = #{prtName} AND p.prt_code = b.prt_code AND b.mat_code = m.mat_code
	</select>
	
	<select id="getBomMenu" resultType="CodeVO">
		SELECT prt_code, prt_name FROM product
	</select>
	
	<select id="getBOMMatList" resultType="CodeVO">
		SELECT * FROM material
	</select>
	
	<select id="getMatCode" parameterType="CodeVO" resultType="CodeVO">
		SELECT mat_code FROM material WHERE mat_name = #{matName}
	</select>

	<select id="getPrtCode" parameterType="CodeVO" resultType="CodeVO">
		SELECT prt_code FROM product WHERE prt_name = #{prtName}
	</select>
	
	<insert id="insertBOM" parameterType="CodeVO">
		<selectKey keyProperty="no" resultType="Integer" order="BEFORE">
			SELECT NVL(MAX(no),0) + 1 FROM bom
		</selectKey>
		INSERT INTO bom VALUES (#{no}, #{prtCode}, #{capacity}, #{matCode})
	</insert>
	
	<select id="getBOMPrtList" resultType="CodeVO">
		SELECT * FROM product
	</select>
	
	<select id="getDept" resultType="EmployeeVO">
		SELECT DISTINCT emp_dept FROM employee
	</select>
	
  </mapper>