<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sseju.java.prtper.mapper.PrtPerMapper">
	
	<!-- Create 등록 관련 쿼리 -->
	<!-- 등록 -->
	<insert id="insertPrtPer" parameterType="ppVO">
		INSERT ALL
			INSERT INTO produce(pre_qty, ins_qty, prd_err, pre_manager)
			INSERT INTO orders(order_no ,prt_name)
	</insert>
	
	<!-- Read 조회 쿼리 모음 -->
	<!-- 실적 전체 조회 -->
	<select id="getPrtPerList" resultType="ppVO">
		SELECT pe.pre_no,(SELECT pt.prt_name
		                  FROM produce pe JOIN product pt
		                  ON pe.prt_code = pt.prt_code
		                  JOIN process_run prr
		                  ON prr.pre_no = pe.pre_no
		                  GROUP BY pt.prt_name) AS prt_name,
		        pe.pre_qty, pi.prs_err_qty,
		        pe.pre_manager, prr.prs_date
		FROM produce pe JOIN process_run prr
		ON pe.pre_no = prr.pre_no
		JOIN process_inf pi
		ON prr.prs_no = pi.prs_no
		ORDER BY pe.pre_no DESC
	</select>
	
	<!-- 실적 한 행 클릭 시 아래 그리드에 불량코드, 불량명 상세조회 띄워주기 -->
	<select id="getErrList" resultType="ppVO">
		SELECT er.err_code, er.err_name, prer.prs_err_qty
		FROM error er JOIN process_err prer
			ON er.err_code = prer.err_code
		JOIN process_inf pi
			ON prer.prs_pf_no = pi.prs_pf_no
		JOIN process_run prr
			ON pi.prs_no = prr.prs_no
		JOIN produce pe
			ON prr.pre_no = pe.pre_no
	</select>
	<!-- Update 쿼리 모음 -->
	<!-- 수정 ㅡ 실적칸 수정 필요없을것 같아서 추가X -->
	
	<!-- Delete 쿼리 모음 -->
	<!-- 삭제 -->
	<delete id="deletePrtPer" parameterType="ppVO">
		DELETE FROM produce
		WHERE pre_no = #{preNo}
	</delete>
</mapper>