<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sseju.java.workorder.mapper.WorkOrderMapper">

	<!-- Create -->
	<!-- 작업 지시 등록 -->
	<insert id="insertWorkOrder" parameterType="woVO">
		<selectKey keyProperty="preNo" resultType="String" order="BEFORE">
			SELECT 'PRE'||TO_CHAR(SYSDATE,'YYYYMMDD')||LPAD(NVL(MAX(SUBSTR(pre_no, -3)),0)+1,3,0) 
			FROM	produce
		</selectKey>
		INSERT INTO produce( pre_no
						    ,pre_date
						    ,pre_manager
						    ,ins_qty
						    ,pre_qty
						    ,prt_code
						    ,order_no)
				   VALUES(  #{preNo}
						   ,#{preDate}
						   ,#{empId}
						   ,#{insQty}
						   ,0 <!-- 생산 지시 등록 시 기본값 0이 들어가게 -->
						   ,#{prtCode}
						   ,#{orderNo}
						   )
	</insert>
	
	<!-- Read -->
	<!-- 주문 번호, 주문한 상품명, 주문수량, 주문일자 불러오기(주문 신청 내역 그리드에 대한 쿼리) -->
	<select id="getOrderList" resultType="woVO">
		SELECT odi.order_no, 
		       pt.prt_code, 
		       pt.prt_name, 
		       odi.order_qty, 
		       ods.d_day
		
		  FROM orders ods
		  JOIN order_inf odi
		    ON ods.order_no = odi.order_no
		  JOIN product pt
		    ON pt.prt_code= odi.prt_code
		
		 WHERE odi.order_yn = 'O'
		 ORDER BY odi.order_no ASC
	</select>
	
		<!-- 등록된 작업 지시 내역 그리드에 띄우는 쿼리 -->
	<select id="getWorkOrderList" resultType="woVO">
		SELECT pe.order_no,
			   pe.pre_no, 
			   pt.prt_name, 
			   pt.prt_code, 
			   pe.ins_qty,
		       pe.pre_date  + 9/24 as pre_date, 
		       pe.pre_manager, 
		       ee.emp_name, 
		       ods.d_day
		
		FROM orders ods 
		 JOIN produce pe
		   ON ods.order_no = pe.order_no
		 JOIN order_inf odi
		   ON odi.order_no = ods.order_no
		 JOIN product pt
		   ON pt.prt_code = odi.prt_code
		 JOIN employee ee
		   ON ee.emp_id = pe.pre_manager
		WHERE  odi.order_yn ='W'
		  AND  pe.prt_code = odi.prt_code
		ORDER BY ods.order_no ASC
	</select>
	
	<!-- 직원 아이디, 이름 가져오기 -->
	<select id="getWoEmpList" resultType="woVO">
		SELECT *
		FROM employee
		ORDER BY emp_id
	</select>
	
	<!-- 상품 코드, 이름 가져오기 -->
	<select id="getPrtList" resultType="woVO">
		SELECT *
		FROM product
		ORDER BY prt_code
	</select>
	
	<!-- Update -->
	<!-- 주문 -> 작업지시로 등록 시 주문 그리드에 있던 주문정보
		 order_yn 삭제/등록시마다 'O', 'W' 변경 -->
	<update id="updateOrderYn" parameterType="woVO">
			UPDATE order_inf set
			order_yn = CASE
		                WHEN order_yn = 'O' THEN 'W' ELSE 'O'
					   END
			where
			 order_no = #{orderNo}
			 AND prt_code = #{prtCode}
	</update>
	
	<update id="updateWorkOrder" parameterType="woVO">
				UPDATE produce
			<set>
				pre_date = #{preDate},
				pre_manager = #{preManager}
			</set>
				where order_no = #{orderNo}
	</update>
	
	
	<!-- Delete : 삭제에 관련된 쿼리 모음 -->
	<!-- 작업 지시 내역에서 삭제 -->
	<delete id="deleteWorkOrder" parameterType="woVO">
		DELETE FROM produce
		WHERE pre_no = #{preNo}
	</delete>
	
	<!-- 주문 내역 삭제 -->
	<delete id="deleteOrder" parameterType="woVO">
		DELETE FROM order
		WHERE order_no = #{orderNo}
	</delete>
	
</mapper>