<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 제이쿼리 -->
<script   src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- 토스트UI -->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<body>
   <article layout:fragment="content">
      <main id="main" class="main">
         <h4>
            <strong>설비정보 관리</strong>
         </h4>

         <br>
         <hr>

         <div class="row">
               <div>
                  <h5 style="width: 200px">
                     <b>라인정보 관리</b>
                  </h5>
                  <div style="float:right;">
                  
                     <button class="button" style="width: 30px"
                        onclick="dis()">+</button>
                     <button type="button" class="button" id="deleteBt"
                              onclick="deleteLine()">삭제</button>
                  </div>
                  
                  <div id="lineGrid"></div>
               </div>
               <!-- 라인 등록 폼 : show/hidden  -->
               <div id='dis' style="display:none">
                  <br>
                 
                     <input type="hidden" th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}" />
                     <form>
                        <input type="hidden" name="auth" value="ROLE_ADMIN">
                        <div style="float:right;">
                        <button type="button" class="button" onclick="insertLine()" id="ins">등록</button>
                        <button type="button" class="button" onclick="updateLine()" id="upd">수정</button>
                        <button type="reset" class="button" >초기화</button>   
                        </div>
                        
                     	<table class="table">
                        <tr>
                           <th>라인명</th>
                           <td><input type="text" name="lineNo" id="lineNo"></td>
                           <th>담당자</th>
                           <td><input type="text" name="empNo" id="empNo"></td>
                        </tr>
                        <tr>
                           <th>총생산량</th>
                           <td><input type="number" name="totPrc" id="totPrc" min="1"></td>
                           <th>UPH</th>
                           <td><input type="number" name="uph" id="uph" min="1"></td>
                        </tr>
                        <tr>
                           <th>사용여부</th>
                           <td><input type="radio" name="lineYn" id="lineYn"
                              value="Y" style="vertical-align: 0px;">Y <input
                              type="radio"  name="lineYn" value="N" 
                              style="vertical-align: 1px;">N</td>
                        </tr>
                     </table>
                     </form>
                 
               </div>
               <!-- 등록 폼 end  -->
               <!-- 라인정보관리 등록 폼 : show/hide -->
         <script type="text/javascript">
            function dis() {
               if ($('#dis').css('display') == 'none') {
                  $('#dis').show();
               } else {
                  $('#dis').hide();
               }
            };
            
               
         </script>

         <script type="text/javascript">
         
            showAll();

            var lineGrid = new tui.Grid({
               el : document.getElementById('lineGrid'),
               scrollX : false,
               scrollY : true,
               rowHeaders : [ 'checkbox' ],
               columns : [ {
                  header : '라인명',
                  name : 'lineNo',
                  align : 'center'
               },
               {
                  header : '총생산량',
                  name : 'totPrc',
                  align : 'right'
               },{
                  header : 'UPH',
                  name : 'uph',
                  align : 'right'
               }, {
                  header : '사용여부',
                  name : 'lineYn',
                  align : 'center'
               }, {
                  header : '담당자',
                  name : 'empNo',
                  align : 'center'
               } ]
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            
            var chkLine = [];
            
            lineGrid.on('check', ev => {
               chkLine.push((lineGrid.getValue(ev.rowKey,'lineNo')));
               
               $('#lineNo').val(lineGrid.getValue(ev.rowKey,'lineNo'));
               $('#lineNo').attr('readonly',true);
               $('#totPrc').val(lineGrid.getValue(ev.rowKey,'totPrc'));
               $('#uph').val(lineGrid.getValue(ev.rowKey,'uph'));
               $('#lineYn').val([lineGrid.getValue(ev.rowKey,'lineYn')]);  // select/option, radio, checkbox는 배열로 묶어준다.
               $('#empNo').val(lineGrid.getValue(ev.rowKey,'empNo'));
               
            });
            
            lineGrid.on('uncheck', ev => {
               for(let i=0; i<chkLine.length; i++){
                  if(chkLine[i] == lineGrid.getValue(ev.rowKey,'lineNo')){
                     chkLine.splice(i,1);
                  }
               }
               $('#lineNo').val('');
               $('#lineNo').attr('readonly',false);
               $('#totPrc').val('');
               $('#uph').val('');
               $('#lineYn').val([]);
               $('#empNo').val('');   
            });
            
            function insertLine(){
            	let lineNo = $('#lineNo').val();
            	let totPrc = $('#totPrc').val();
            	let uph = $('#uph').val();
            	let lineYn = $('#lineYn').val();
            	let empNo = $('#empNo').val();
            	
            	
            	$.ajax({
            		url:'insertLine',
            		type : 'POST',
            		data : {'lineNo':lineNo, 'totPrc' : totPrc , 'uph':uph, 'lineYn':lineYn,'empNo':empNo},
            		dataType : "json",
                    
                    async : false,
                    beforeSend : function(xhr){
                       xhr.setRequestHeader(header, token);
                    },
                    success:function(data){
                       if(data > 0) {
                          alert("입력완료");
                          showAll();   
                         
                       } else {
                          alert("입력실패");
                          
                       }
                    },error : function(reject){
                    	console.log(reject);
                    }
            		
            		
            	});
            }
            
            function deleteLine(){
               let line = [];
               for(li of lineGrid.getCheckedRows()){
                  line.push(li.lineNo);
               }
            	console.log(line);
               $.ajax({
                  url : 'deleteLine',
                  type : 'POST',
                  data : {line:line},
                  dataType:"json",
                  async:false,
                  beforeSend : function(xhr){
                     xhr.setRequestHeader(header, token);
                  },
                  success:function(data){
                     if(data > 0) {
                        alert("삭제완료");
                        showAll();
                        
                     } else {
                        alert("삭제실패");
                     }
                  },
                  error : function(reject){
                     console.log(reject);
                  }
               })
            }
            
            function updateLine(){
               let lineNo = $('#lineNo').val();
               let totPrc = $('#totPrc').val();
               let UPH = $('#UPH').val();
               let lineYn = $('#lineYn').val();
               let empNo = $('#empNo').val();
               
               let updLine={'lineNo':lineNo, 'totPrc':totPrc, 'UPH':UPH, 'lineYn':lineYn, 'empNo':empNo}
               
               $.ajax({
                  url : 'updateLine',
                  type : 'POST',
                  data : JSON.stringify(updLine),
                  dataType : "json",
                  contentType: 'application/json',
                  async : false,
                  beforeSend : function(xhr){
                     xhr.setRequestHeader(header, token);
                  },
                  success:function(data){
                     if(data > 0) {
                        alert("수정완료");
                        showAll();   
                        console.log(UPH);
                        
                     } else {
                        alert("수정실패");
                        
                     }
                  },
                  error:function(reject){
                     console.log(reject);
                  }
               })
            }
                  
               
            
            function showAll(){
               
               fetch("lineList")
               .then(res=>res.json())
               .then(obj=>{
                  lineGrid.resetData(obj);
               })
            }
            
           
        	   
          
            $('#ins').on('click',function(){
        	  document.getElementById('lineNo').value=''; 
        	  document.getElementById('totPrc').value='';
        	  document.getElementById('uph').value='';
        	  document.getElementById('empNo').value='';
        	  document.getElementById('lineYn').value='';
           });
            $('#upd').on('click',function(){
          	  document.getElementById('lineNo').value=''; 
          	  document.getElementById('totPrc').value='';
          	  document.getElementById('uph').value='';
          	  document.getElementById('empNo').value='';
          	  document.getElementById('lineYn').value='';
             });
            $('#deleteBt').on('click',function(){
            	  document.getElementById('lineNo').value=''; 
            	  document.getElementById('totPrc').value='';
            	  document.getElementById('uph').value='';
            	  document.getElementById('empNo').value='';
            	  document.getElementById('lineYn').value='';
               });
             
           

         </script>
      </main>
   </article>
</body>
</html>