<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<title>eqmList</title>

<!--jquery  -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!--toast grid  -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
<!--부트스트랩 아이콘  -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

<style>
.row {
	margin: 15px;
}

.button {
	display: inline-block;
	cursor: pointer;
	border: none;
	border-radius: 4px;
}

h4 {
	display: inline-block;
}

table {
	margin: auto;
}

table  input {
	margin: 8px;
}

.col1 {
	background-color: #e8e8e8;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 0.9em;
}

#regEqm td {
	padding-left: 10px;
}
.showModal{
/* 커서 손모양 */
 cursor : pointer;  

}
</style>






</head>

<body>
	<br>

	<article layout:fragment="content">
		<main id="main" class="main">



			<div>

				<h5 style="width: 200px">
					<b>설비 전체조회</b>
				</h5>
				<div>
					<div>
						<label for="eqmCodeInput" style="width: 100px">설비코드</label> <input
							type="text" class="form-control"
							style="width: 200px; display: inline" id="eqmCodeInput">&nbsp;
						<label for="eqmNameSearch">설비구분</label> <select name="eqmName"
							id="eqmNameSearch"> 
							<option value=''>--전체--</option>
							<th:block th:each="e : ${eqm}">
								<option th:value="${e.eqmName}" th:text="${e.eqmName}"></option>
							</th:block>
						</select>
						<button type="button" class="button" id="eqmSearch">검색</button>
						&nbsp;
						<button type="button" class="button" id="eqmReset">초기화</button>

					</div>



				</div>
				<div style="float: right">
					
					<button class="button" type="button" onclick="dis()">등록</button>
					<button class="button" onclick="deleteEqm()">삭제</button>
					<button type="button" class="button download" id="excelDownload">Excel</button>
				</div>
				<br> <br>
				<div id="eqmGrid"></div>

			</div>


			<div id="dis" style="display: none">
				<br>
				<h5 style="width: 200px">
					<b>설비정보 등록/수정</b>
				</h5>
				<input type="hidden" name="auth" value="ROLE_ADMIN">
				<div style="float: right">
					<button class="button" type="button" onclick="insertEqm()">추가</button>
					<button class="button" onclick="updateEqm()">수정</button>
				</div>
				<br>

				<form action="insertEqm" method="POST">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
					<table id="regEqm" style="width: 100%">

						<tr>
							<th class="col1">설비코드</th>
							<td><input type="text" name="eqmCode" id="eqmCode"
								value="EQM_"></td>
							<th class="col1">설비명</th>
							<td><input type="text" name="eqmName" id="eqmName"></td>
							<th class="col1">모델명</th>
							<td><input type="text" name="eqmModel" id="eqmModel"></td>
							<th class="col1">라인</th>
							<td><select id="lineNo" name="lineNo">
									<option>--선택--</option>
									<th:block th:each="li : ${line}">
										<option th:value="${li.lineNo}" th:text="${li.lineNo}"></option>
									</th:block>

							</select></td>
						</tr>

						<tr>
							<th class="col1">설치장소</th>
							<td><select id="eqmLoc" name="eqmLoc">
									<option value=''>--선택--</option>
									<option value="team1">생산1팀</option>
									<option value="team2">생산2팀</option>
									<option value="team3">생산3팀</option>
							</select></td>
							<th class="col1">최고온도</th>
							<td><input type="number" name="eqmMaxTemp" id="eqmMaxTemp"></td>
							<th class="col1">최저온도</th>
							<td><input type="number" name="eqmMinTemp" id="eqmMinTemp"></td>
							<th class="col1">규격</th>
							<td><input type="text" name="eqmSize" id="eqmSize"></td>
						</tr>

						<tr>
							<th class="col1">구입업체</th>
							<td><input type="text" name="eqmPurcName" id="eqmPurcName" data-bs-toggle="modal" class="showModal"
								data-bs-target="#eqmPurcModal"></td>
							<th class="col1">비상연락망</th>
							<td><input type="tel" name="eqmPurcTel" id="eqmPurcTel"></td>
							<th class="col1">입고일</th>
							<td><input type="date" name="eqmPurcDate" id="eqmPurcDate"></td>
							<th class="col1">사용여부</th>
							<td><input type="radio" class="form-check-input" id="eqmYn"
								name="eqmYn" value="Y">Y <input type="radio"
								class="form-check-input" name="eqmYn" value="N">N</td>
						</tr>

						<tr>
							<th class="col1">점검주기</th>

							<td id="check"><input type="text" name="eqmChk" id="eqmChk"> <select
								name="">
									<option value='' selected>--선택--</option>
									<option value="week">주</option>
									<option value="month">달</option>
									<option value="year">년</option>
							</select></td>
							<th class="col1">이미지</th>
							<td><input type="file" id="eqmImg" name="eqmImg"></td>
						</tr>
					</table>
					<div>
						<div id="imgDiv" style="width:300px; height:300px">
							<img src = "" alt ="설비이미지" id="imgTag" name="imgTag"> 
						
						</div>
					
					</div>
				</form>
				
			</div>



			<br> <br>



			<!--설비코드 모달 : 그리드  -->
			<div class="modal" tabindex="-1" role="dialog" id="eqmPurcModal">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">
								<b>거래처 리스트</b>
							</h5>
							<button type="button" class="close" data-bs-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<!-- 거래처 리스트  -->
							<div id="cpGrid"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">취소</button>
						</div>
					</div>
				</div>
			</div>

			<script type="text/javascript">
         function dis(){
         if ($('#dis').css('display') == 'none') {
            $('#dis').show();
         } else {
            $('#dis').hide();
         }
      };

         
         </script>




			<script>
   
            showAll();
            cp();
            
            //거래처 그리드(모달)
			var cpGrid = new tui.Grid({
               el : document.getElementById('cpGrid'),
               bodyHeight : 200,
               rowHeaders : [],
               scrollX : false,
               scrollY : false,
               columns : [{
                  header : '거래처 코드',
                  name : 'cpCode'
               },{
                  header : '거래처명',
                  name : 'cpName'
               },{
                   header : '연락처',
                   name : 'cpTel'
                },{
                    header : '비고',
                    name : '' //'설비거래처'만 뜨게
                 }]
            
            });            
            
            // 클릭한 거래처 정보 input 태그에 넣기
            cpGrid.on('click',ev => {
            	let rowData = cpGrid.getRow(ev.rowKey);
            	
            	let cpName = rowData['cpName'];
            	let cpTel = rowData['cpTel'];
            	
            	$('#eqmPurcName').val(cpName);
            	$('#eqmPurcTel').val(cpTel);
            	
            	$('#eqmPurcModal').modal("hide");
            });
            
            
            const eqmGrid = new tui.Grid({
               el : document.getElementById('eqmGrid'),
            
               scrollX : false,
               scrollY : false,
               rowHeaders : [ 'checkbox' ],
               
               columns : [ {
                  header : '설비코드',
                  name : 'eqmCode',
                  align : 'center',
                  filter: 'text'
               }, {
                  header : '설비명',
                  name : 'eqmName',
                  align : 'center'
                  
               }, {
                  header : '모델명',
                  name : 'eqmModel', 
                  align : 'center'
                  
               }, {
                  header : '라인',
                  name : 'lineNo', 
                  align : 'center'
                  
               }, {
                  header : '설치장소',
                  name : 'eqmLoc', 
                  align : 'center'
                
               }, {
                  header : '최고온도',
                  name : 'eqmMaxTemp', 
                  align : 'center'
                 
               }, {
                  header : '최저온도',
                  name : 'eqmMinTemp',
                  align : 'center'
                  
               }, {
                  header : '구입업체',
                  name : 'eqmPurcName',
                  align : 'center'
                  
               }  ]
               
            });
            
            //이미지 관련 js
            function img(){
            	img.addEventListner('change',function(ev){
            		 // 파일명 가져오기
                    let index = document.getElementById('img').value.lastIndexOf('\\');
                    let fileStr = document.getElementById('img').value.substring(index + 1);
                    
                    // img태그 생성
                    let newImgTag = document.createElement('img');
                    newImgTag.setAttribute('id', 'imgTag');
                    newImgTag.setAttribute('name', 'imgTag');
                    newImgTag.setAttribute('alt', '설비사진');
                    newImgTag.setAttribute('width', '300px');
                    newImgTag.setAttribute('height', '300px');
                    
                    // 이미 document에 img태그 존재시 삭제. 미존재시 src 속성 만들어 넣기
                    if (document.getElementById('imgTag') != null) {
                       document.getElementById('imgTag').remove();
                       
                       // 새 파일을 고른 경우
                       if (fileStr != '') {
                          newImgTag.setAttribute('src', 'images/' + fileStr);
                       }
                    } else {
                       newImgTag.setAttribute('src', 'images/' + fileStr);
                    }
                    
                    // document에 삽입
                    imgDiv.prepend(newImgTag);
                 });
                 
              }
              
              
              
              /* ---------------
              초기화 버튼 눌렀을때 img태그 src도 같이 초기화
              --------------- */
              function imgTagReset() {
                 reset.addEventListener('click', function () {
                    document.getElementById('imgTag').src = '';
                
            	});
            }
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            
             var chkEqm = []; 
            
            eqmGrid.on('check', ev => {
               chkEqm.push((eqmGrid.getValue(ev.rowKey,'eqmCode')));
               
               $('#eqmCode').val(eqmGrid.getValue(ev.rowKey,'eqmCode'));
               $('#eqmCode').attr('readonly',true);
               $('#eqmName').val(eqmGrid.getValue(ev.rowKey,'eqmName'));
               $('#eqmModel').val(eqmGrid.getValue(ev.rowKey,'eqmModel'));
               $('#lineNo').val(eqmGrid.getValue(ev.rowKey,'lineNo'));
               $('#eqmLoc').val(eqmGrid.getValue(ev.rowKey,'eqmLoc')); 
               $('#eqmMaxTemp').val(eqmGrid.getValue(ev.rowKey,'eqmMaxTemp'));
               $('#eqmMinTemp').val(eqmGrid.getValue(ev.rowKey,'eqmMinTemp'));
               /* $('#eqmCheck').val(eqmGrid.getValue(ev.rowKey,'eqmCheck')); 
               $('#eqmPurcDate').val(eqmGrid.getValue(ev.rowKey,'eqmPurcDate'));*/
               $('#eqmDiv').val(eqmGrid.getValue(ev.rowKey,'eqmDiv'));
               /* $('#eqmImg').val(eqmGrid.getValue(ev.rowKey,'eqmImg')); */
               $('#eqmPurcName').val(eqmGrid.getValue(ev.rowKey,'eqmPurcName')); 
               /*  $('#eqmPurcTel').val(eqmGrid.getValue(ev.rowKey,'eqmPurcTel'));*/
               /* $('#eqmYn').val(eqmGrid.getValue(ev.rowKey,'eqmYn')); */
               /*  $('#eqmSize').val(eqmGrid.getValue(ev.rowKey,'eqmSize'));*/
               

               
            });
            
            eqmGrid.on('uncheck', ev => {
               for(let i=0; i<chkEqm.length; i++){
                  if(chkEqm[i] == eqmGrid.getValue(ev.rowKey,'eqmCode')){
                     chkEqm.splice(i,1);
               }
            }
            
               $('#eqmCode').val('');
               $('#eqmCode').attr('readonly',false);
               $('#eqmName').val('');
               $('#eqmModel').val('');
               $('#lineNo').val('');
               $('#eqmLoc').val('');
               $('#eqmMaxTemp').val('');
               $('#eqmMinTemp').val('');
               /*  $('#eqmCheck').val('');
               $('#eqmPurcDate').val('');*/
               $('#eqmDiv').val('');
               /*  $('#eqmImg').val('');*/
               $('#eqmPurcName').val('');
               /*  $('#eqmPurcTel').val('');
               $('#eqmYn').val('');
               $('#eqmSize').val('');*/

               
            });
            
            //등록 insert ajax
            function insertEqm(){
            	let eqmCode = $('#eqmCode').val();
            	let eqmName = $('#eqmName').val();
            	let eqmModel = $('#eqmModel').val();
            	let eqmSize = $('#eqmSize').val();
            	let eqmLoc = $('#eqmLoc').val();
            	let eqmMaxTemp = $('#eqmMaxTemp').val();
            	let eqmMinTemp = $('#eqmMinTemp').val();
            	let eqmCheck = $('#eqmCheck').val();
            	let eqmPurcDate = $('#eqmPurcDate').val();
            	let eqmImg = $('#eqmImg').val();
            	let eqmPurcName = $('#eqmPurcName').val();
            	let eqmPurcTel = $('#eqmPurcTel').val();
            	let eqmYn = $('#eqmYn').val();
            	let lineNo = $('#lineNo').val();
            	
            	console.log(eqmCode);
            	console.log(eqmImg);
            	console.log(eqmName);
            	
            	$.ajax({
            		url:'insertEqm',
            		type : 'POST',
            		data : {'eqmCode':eqmCode, 'eqmName' : eqmName , 'eqmModel':eqmModel, 'eqmSize':eqmSize,'eqmLoc':eqmLoc,'eqmMaxTemp':eqmMaxTemp,'eqmMinTemp':eqmMinTemp,'eqmCheck':eqmCheck,'eqmPurcDate':eqmPurcDate,'eqmImg':eqmImg,'eqmPurcName':eqmPurcName ,'eqmPurcTel' : eqmPurcTel,'eqmYn':eqmYn,'lineNo':lineNo},
            		dataType : "json",
                    async : false,
                    beforeSend : function(xhr){
                       xhr.setRequestHeader(header, token);
                    },
                    success:function(data){
                       if(data > 0) {
                          alert("입력완료");
                          showAll();   
                         
                       } else {
                          alert("입력실패");
                          
                       }
                    },error : function(reject){
                    	console.log(reject);
                    }
            		
            		
            	});
            }
            
            function deleteEqm(){
               
               let deleteEqm = [];
               for(eq of eqmGrid.getCheckedRows()){
                  deleteEqm.push(eq.eqmCode);
               }
               $.ajax({
                  url:'deleteEqm',
                  type:'POST',
                  data : {deleteEqm:deleteEqm},
                  dataType:"json",
                  async:false,
                  beforeSend : function(xhr){
                     xhr.setRequestHeader(header, token);
                  },
                  success:function(data){
                     if(data > 0) {
                        alert("삭제완료");
                        showAll();               
                     } else {
                        alert("삭제실패");
                     }
                  },
                  error:function(reject){
                     console.log(reject);
                  }
               });
            }
            
            function updateEqm(){
               let eqmName = $('#eqmName').val();
               let eqmModel = $('#eqmModel').val();
               let lineNo = $('#lineNo').val();
               let eqmLoc = $('#eqmLoc').val();
               let eqmDiv = $('#eqmDiv').val();
               let eqmMaxTemp = $('#eqmMaxTemp').val();
               let eqmMinTemp = $('#eqmMinTemp').val();
               let eqmPurcName = $('#eqmPurcName').val();
               let eqmPurcDate = $('#eqmPurcDate').val();
               let eqmPurcTel = $('#eqmPurcTel').val();
               let eqmYn = $('#eqmYn').val();
               let eqmChk = $('#eqmChk').val();
               let eqmImg = $('#eqmImg').val();
               
               let updateEqm = {'eqmName':eqmName,'eqmModel':eqmModel,'lineNo':lineNo,'eqmLoc':eqmLoc,'eqmDiv':eqmDiv,'eqmMaxTemp':eqmMaxTemp,'eqmMinTemp':eqmMinTemp,'eqmPurcName':eqmPurcName,'eqmPurcDate':eqmPurcDate,'eqmPurcTel':eqmPurcTel,'eqmYn':eqmYn,'eqmChk':eqmChk,'eqmImg':eqmImg};
               
               $.ajax({
                  url :'updateEqm',
                  type:'POST',
                  data : JSON.stringify(updateEqm),
                  dataType : "josn",
                  contentType:'application/json',
                  async:false,
                  beforeSend : function(xhr){
                     xhr.setRequestHeader(header, token);
                  },
                  success:function(data){
                     if(data > 0) {
                        alert("수정완료");
                        showAll();               
                     } else {
                        alert("수정실패");
                     }
                  },
                  error:function(reject){
                     console.log(reject);
                  }
      
               });
               
            }
            
            function showAll() {
               
                   fetch("getEqmList") 
                   .then(res=>res.json())
                   .then(obj=>{
                       eqmGrid.resetData(obj);
                   })
            }
            
            function cp(){
            	$.ajax({
            		url : '/cpList',
            		dataType:"json",
            		success : function(data){
            			cpGrid.resetData(data);
            		},
            		error : function(reject){
            			console.log(reject);
            		}
            	});
            }
            
            //모달클릭
            document.addEventListener('shown.bs.modal', function() {
                cpGrid.refreshLayout();
               }, '.modal');
            
            // filter기능
            eqmSearch.addEventListener('click', () => {
                eqmGrid.filter('eqmCode' , [{code:'contain', value:$('#eqmCodeInput').val()}])
                eqmGrid.filter('eqmDiv' , [{code:'eq', value:$('#eqmDivSearch').val()}])
               
             });

                
            eqmReset.addEventListener('click', () => {
                document.getElementById('eqmCodeInput').value = '';
                eqmGrid.unfilter('eqmCode');
                document.getElementById('eqmDivSearch').value = '';
                eqmGrid.unfilter('eqmDiv');
               
             })   
            
            </script>

			<!-- 본문 끝 -->
		</main>

	</article>

</body>

</html>