<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<title>eqmList</title>

<!--jquery  -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!--toast grid  -->
<link rel="stylesheet"
   href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<!--부트스트랩 아이콘  -->
<link rel="stylesheet"
   href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

<style>
.row {
   margin: 15px;
}

.button {
   display: inline-block;
   cursor: pointer;
   border: none;
   border-radius: 4px;
}

h4 {
   display: inline-block;
}

table {
   margin: auto;
}

table  input {
   margin: 8px;
}
</style>






</head>

<body>
   <br>

   <article layout:fragment="content">
      <main id="main" class="main">


         <h4>
            <strong>설비정보 관리</strong>
         </h4>

         <br>
         <hr>

         <div class="row">
            <div class="col-6">
               <div>
                  <h5 style="width: 200px">
                     <b>라인정보 관리</b>
                  </h5>
                  <button data-bs-toggle="modal" data-bs-target="#lineModal"
                     class="button" style="width: 60px; float: right">등록</button>
                  <div id="lineGrid"></div>
               </div>
               <div>
                  <br> <br>
                  <h5 style="width: 200px">
                     <b>설비 전체조회</b>
                  </h5>
                  <div style="float: right">
                     <button class="button">삭제</button>
                  </div>
                  <br> <br>
                  <div id="eqmGrid"></div>

               </div>
            </div>

            <div class="col-6">
               <br>
               <h5 style="width: 200px">
                  <b>설비정보 상세보기</b>
               </h5>
               <div style="float: right">
                  <button class="button" type="submit">등록</button>
                  <button class="button">수정</button>
               </div>
               <br>
            
               <table class="table">
         
                  <tr>
                     <td>설비코드</td>
                     <td><input type="text" name="eqmCode"><i
                        class="bi bi-search" data-bs-toggle="modal" data-bs-target="#eqmModal"></i></td>
                     <td>설비명</td>
                     <td><input type="text" name="eqmName"></td>
                  </tr>
                  <tr>
                     <td>모델명</td>
                     <td><input type="text" name="eqmModel"></td>
                     <td>라인</td>
                     <td><input type="text" name=""><i
                        class="bi bi-search"></i></td>
                  </tr>
                  <tr>
                     <td>설치장소</td>
                     <td><input type="text" name=""></td>
                     <td>공정코드</td>
                     <td><input type="text" name=""><i
                        class="bi bi-search"></i></td>
                  </tr>
                  <tr>
                     <td>최고온도</td>
                     <td><input type="number" name=""></td>
                     <td>최저온도</td>
                     <td><input type="number" name=""></td>
                  </tr>
                  <tr>
                     <td>구입업체</td>
                     <td><input type="text" name=""></td>
                     <td>입고일</td>
                     <td><input type="date" name=""></td>
                  </tr>
                  <tr>
                     <td>비상연락망</td>
                     <td><input type="text" name=""></td>
                     <td>공정코드</td>
                     <td><input type="text" name=""><i
                        class="bi bi-search"></i></td>
                  </tr>
                  <tr>
                     <td>점검주기</td>

                     <td id="check"><input type="text" name=""> <select
                        name="">
                           <option value='' selected>--선택--</option>
                           <option value="week">주</option>
                           <option value="month">달</option>
                           <option value="year">년</option>
                     </select></td>
                  </tr>
               </table>
               <div style="text-align:center;">
                  <img src="assets/img/설비1.jpg" alt="설비1이미지" width="500px" height="300px;">
               </div>
               </div>
               </div>
            
         


         <!-- <div >
                  <input type="file" accept="image/*" multiple>
               </div> -->

         <br> <br>

         <div class="modal" tabindex="-1" id="lineModal">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title"><b>라인정보 등록/수정</b></h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="text-align:center;">
                     <form method="post" action="lineList">

                        <div>
                           <label for="lineNo">라인</label> <input type="text" name="lineNo"
                              id="lineNo">
                        </div>
                        <div>
                           <label for="totPrc">총생산량</label> <input type="number"
                              name="totPrc" id="totPrc">
                        </div>
                        <div>
                           <label for="uph">UPH</label> <input type="number" name="uph"
                              id="uph">
                        </div>
                        <div>
                           <label for="empNo">담당자</label> <input type="text" name="empNo"
                              id="empNo">
                        </div>
                        <div>
                           <label for="lineYn">사용여부</label> <input type="radio"
                              name="lineYn" id="lineYn" value="Y"
                              style="vertical-align: 0px;">Y <input type="radio"
                              id="lineYn" name="lineYn" value="N"
                              style="vertical-align: 1px;">N
                        </div>

                        <div class="modal-footer">
                           <input type="submit" class="btn btn-primary"
                              data-bs-dismiss="modal" value="등록/수정"> <input
                              type="reset" class="btn btn-secondary" value="초기화">
                        </div>
                     </form>
                  </div>
               </div>
            </div>

            <!--설비코드 모달 : 그리드  -->
            <div class="modal" tabindex="-1" role="dialog" id="eqmModal">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title"><b>설비코드</b></h5>
                     <button type="button" class="close" data-bs-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <div id=""></div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-primary">선택</button>
                     <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">취소</button>
                  </div>
               </div>
            </div>
         </div>




            <script>
               var eqmGrid = new tui.Grid({
                  el : document.getElementById('eqmGrid'),
                  // 임시 데이터
                  data : [ {
                     eqmNo : '1',
                     eqmCode : 'eqm_1538',
                     eqmName : '주입기',
                     prsCode : 'pro_123456',
                     eqmModel : 'ist_20054281'
                  }, {
                     eqmNo : '2',
                     eqmCode : 'eqm_2746',
                     eqmName : '검사기',
                     prsCode : 'pro_123456',
                     eqmModel : 'isp_2016458'
                  }

                  ],
                  // data 가져오는 법
                  // data: {
                  //    api: {
                  //       readData: {
                  //          url: '/api/readData',
                  //          method: 'GET'
                  //       }
                  //    }
                  // },
                  rowHeaders : [ 'checkbox' ],
                  scrollX : false,
                  scrollY : false,
                  columns : [ {
                     header : 'No',
                     name : 'eqmNo',
                  }, {
                     header : '설비코드',
                     name : 'eqmCode',
                  }, {
                     header : '설비명',
                     name : 'eqmName', //납기일자명 수정
                  }, {
                     header : '공정',
                     name : 'prsCode'
                  }, {
                     header : '모델명',
                     name : 'eqmModel'
                  } ]
               });
            </script>
            <script>
               //실행시 전체조회
               document.addEventListener("DOMContentLoaded", lineList);

               function lineList() {
                  $.ajax({
                     url : '/lineList',
                     success : function(result) {
                        console.log(result);
                        lineGrid.resetData(result);
                     },
                     error : function(reject) {
                        console.log(reject);
                     }
                  })

               };

               var lineGrid = new tui.Grid({
                  el : document.getElementById('lineGrid'),

                  scrollX : false,
                  scrollY : false,
                  columns : [ {
                     header : '라인명',
                     name : 'lineNo',
                  }, {
                     header : 'UPH',
                     name : 'uph',
                  }, {
                     header : '사용여부',
                     name : 'lineYn',
                  }, {
                     header : '담당자',
                     name : 'empNo'
                  } ]
               });
            </script>
            
            
         </div>



         <!-- 본문 끝 -->
      </main>

   </article>

</body>

</html>