<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 제이쿼리 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- 토스트UI -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<!-- 토스트 UI 그리드 페이징 cdn -->
<script type="text/javascript"
	src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
<script
	src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
<!-- 차트  -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
<script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
<!-- loader.js  -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<style>
      .chart{
        border: 1px solid orange;
        float: left;
        margin: 30px;
      }
    </style>

</head>
<body>
	<article layout:fragment="content">
		<main id="main" class="main">
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">설비별 온도변화</h5>
							 <div id="chart-area"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
						</div>
					</div>
				</div>
			</div>

			
		  
		    <script>
		    const el = document.getElementById('chart-area');
		      const data = {
		        categories: [getNowTime()],
		        series: [
		          {
		            name: 'A',
		            data: [10, 100, 50, 40, 70, 55, 33, 70, 90, 110],
		          },
		          {
		            name: 'B',
		            data: [60, 40, 10, 33, 70, 90, 100, 17, 40, 80],
		          },
		        ],
		      };
		      const options = {
		        chart: {  width: 1000, height: 500 },
		        xAxis: {
		          title: '시간',
		          
		        },
		        yAxis: {
		          title: '온도',
		        },
		        tooltip: {
		          formatter: (value) => `${value}°C`,
		        },
		        legend: {
		          align: 'bottom',
		        },
		        series: {
		          shift: true,
		        },
		      };

		      const chart = toastui.Chart.lineChart({ el, data, options });

		      let index = 11;
		      const intervalId = setInterval(() => {
		        const random = Math.round(Math.random() * 100);
		        const random2 = Math.round(Math.random() * 100);
		        chart.addData([random, random2], index.toString());
		        index += 1;
		        if (index === 30) {
		          clearInterval(intervalId);
		        }
		      }, 1500);
		      
		      function getNowTime(){
		          var d = new Date();
		          var sep = ":";
		          var hh = d.getHours();
		          var mm = d.getMinutes();
		          var ss = d.getSeconds();
		          return hh + sep + mm + sep + ss;
		        }
		   
            



         </script>
		</main>
	</article>
</body>
</html>