<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>설비 비가동관리</title>
<style>
#endBtn, #strBtn {
	width: 180px;
	height: 180px;
	border: none;
	border-radius: 20px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

#endBtn {
	background-color: red;
}

#strBtn {
	background-color: blue;
}

img {
	width: 30px;
}

.time>input {
	width: 30px;
	margin: 0 auto;
}

.col1 {
	background-color: #e8e8e8;
	padding: 10px;
	text-align: left;
	font-weight: bold;
	font-size: 0.9em;
}

.table  td  input {
	width: 150px;
}
</style>
<!-- 제이쿼리 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- 토스트UI -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<body>
	<article layout:fragment="content">
		<main id="main" class="main">
			<h4>
				<strong>비가동 관리</strong>
			</h4>
			<div class="row">
				<div class="col-6">
					<h5>
						<b>설비조회</b>
					</h5>
					<hr>
					<div>
						<label style="padding-right: 15px;">설비현황</label> <input
							type="radio" name="eqmState" class="form-check-input"
							value="uoper">비가동 내역 <input type="radio" name="eqmState"
							class="form-check-input" value="eqm"> 설비전체
					</div>
					<div>
						<label style="padding-right: 15px;">설비구분</label> <select name="">
							<option selected>전체</option>
							<option value="">설.구1</option>
							<option value="">2</option>
							<option value="">3</option>
						</select>
					</div>
					<hr>
					<br> <div>비가동내역</div>
					<div id="uoperGrid"></div>

					<div>설비전체</div>
					<div id="eqmGrid"></div>
				</div>
				<div class="col-6" id="regForm" style="display:none;">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" /> <span style="font-size: 18px;"><b>비가동
								등록</b></span>
						<div style="float: right;">
						    <input type="hidden" name="auth" value="ROLE_ADMIN">
							<button class="button" type="button" onclick="insertUoper()">등록</button>
							<button class="button" type="button" onclick="deleteUoper()">삭제</button>
							<button class="button" type="reset">초기화</button>
						</div>
						<br>
						<hr>
						<table class="table">
							<tr>
								<th class="col1">설비코드</th>
								<td><input type="text" name="eqmCode" id="eqmCode" ></td>
								<th class="col1">설비명</th>
								<td><input type="text" name="eqmName" id="eqmName" ></td>
							</tr>
							<tr>
								
								<th class="col1">비가동사유</th>
								<td><select name="uoperRsn">
									<option value='' selected>--선택--</option>
									<option value='chk'>점검</option>
									<option value='fix'>수리</option>
									<option value='matQty'>자재부족</option>
								</select></td>
							</tr>
							<tr>
								
								<th class="col1">작업자</th>
								<td><input type="text" name="empId" id="empId" data-bs-toggle="modal" data-bs-target="#empModal" readonly></td>
							</tr>

							<tr>
								<th>
								<button type="button" id="endBtn">
										<img src="assets/img/stop.png" alt="stop이미지">
										<p>비가동</p>
								</button>
								</th>
								<td><input type="text" id="uoperEndTime" name="uoperEndTime"></td>
								
								<th><button type="button" id="strBtn" disabled>
										<img src="assets/img/play-button.png" alt="play이미지">
										<p>재가동</p>
									</button></th>
								<td><input type="text" id="uoperStartTime" name="uoperStartTime"></td>
							</tr>
							<tr id="work" style="display:none;">
								<th class="col1">작업내용</th>
								<td><textarea placeholder="종료 누른 후에 입력가능.." id="uoperWork"
										name="uoperWork" style="width:250px;"></textarea></td>
							</tr>
							<tr>
						</table>

				</div>

			</div>
			<!-- 사원 모달  -->
			<div class="modal" tabindex="-1" role="dialog" id="empModal">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">
								<b>사원 코드</b>
							</h5>
							<button type="button" class="close" data-bs-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div id="empgrid"></div>
						</div>

					</div>
				</div>
			</div>
			<br> <br>
			<script type="text/javascript">
			 	  // 사원 모달-그리드
				   var empgrid = new tui.Grid({
		               el : document.getElementById('empgrid'),
		               scrollX : false,
		               scrollY : true,
		               pageOptions: {
		            	    useClient: true, 
		            	    perPage: 5
		            	  },
		               columns : [{
		                  header : '아이디',
		                  name : 'empId',
		                  align : 'center'
		                  
		               }, {
		                  header : '이름',
		                  name : 'empName',	
		                  align : 'center'
		               }, {
			               header : '부서',
			               name : 'empDept',
			               align : 'center'
			               }]
		            }); 
				   
				    function emp(){
					   
					       fetch("eList") 
					       .then(res=>res.json())
					       .then(obj=>{
					           empgrid.resetData(obj);
					           console.log(obj);
					       })
				   } 
				   
				   // 사원 그리드 클릭하면 input 태그에 뿌려주기
				    empgrid.on('click',ev => {
					  let rowData=empgrid.getRow(ev.rowKey);
					  console.log(rowData);
					  let a = rowData['empName'];
					  
					  $('#empId').val(a);
					  
					  $('#empModal').modal("hide");
				   }); 
				   
				   
				    const myModalEl = document.getElementById('empModal')
				    myModalEl.addEventListener('shown.bs.modal', event => {
				     empgrid.refreshLayout();
				    })
			
			$('#endBtn').on('click', function(){
				var date = new Date();         //오늘 날짜
				let yyyy = date.getFullYear();  // 년
				let mm = date.getMonth() + 1 ;  // 월 0부터 시작 +1 해줌.
				let dd = date.getDate();
				let hh = date.getHours();
				let mn = date.getMinutes();  //분
				
				let se = date.getSeconds();  //초
				
				$('#uoperEndTime').val(yyyy +"-"+mm+"-"+dd+" "+hh+":"+mn+":"+se);
				
				
				// let hh = (date.getHours()<10?'0':'') + date.getMinutes();;
			});
			$('#strBtn').on('click', function(){
				var date = new Date();         //오늘 날짜
				let yyyy = date.getFullYear();  // 년
				let mm = date.getMonth() + 1 ;  // 월 0부터 시작 +1 해줌.
				let dd = date.getDate();
				let hh = date.getHours();
				let mn = date.getMinutes();  //분
				let se = date.getSeconds();  //초
				
				$('#uoperStartTime').val(hh+":"+mn+":"+se);
				
			});
			
				// 타이머
				/* function displayDate1(){
				  var now = new Date();
					document.getElementById('hour1').value = now.getHours();
					document.getElementById('min1').value = now.getMinutes();
				} */
				
			// 재가동(strBtn)버튼이 선택되어야만 => 작업내용(uoperWork) placeholder 가 선택된다
			
			
			function show(){
				$('#work').css("display","block");
			}
			//sBtn.addEventListener("click",show);
			
			// 비가동 버튼을 선택하지 않고 재가동버튼을 선택했다면 경고창 뜨게 => <button disabled>사용하기
			$('#endBtn').on('click',function() {
				var result = confirm("가동을 중지하시겠어요???");
					if(result){
						$('#strBtn').attr("disabled",false); //활성화
						$('#endBtn').attr("disabled",true); //비활성화
						if($('#endBtn').on('click',function(){
							alert("이미 비가동중입니다.");
						}));
					}else{
						$('#endDate').val('');
					}	
			});
			
			$('#strBtn').click(function(){
				show();
			})
				

			</script>

	<script type="text/javascript">
			uoperShow();
			showEqm();
			emp();
			
			
				/* radio버튼 누를때 */
				$('input[type=radio][name=eqmState]').on(
						'click',
						function() {
							var chkValue = $(
									'input[type=radio][name=eqmState]:checked')
									.val();

							if (chkValue == 'eqm') {
								$('#eqmGrid').css('display', 'block');
								$('#uoperGrid').css('display', 'none');
							} else if (chkValue == 'uoper') {
								$('#eqmGrid').css('display', 'none');
								$('#uoperGrid').css('display', 'block');
							}
						});

	            /* 설비(eqm) 그리드  */
	            
	           
	            const eqmGrid = new tui.Grid({
	               el : document.getElementById('eqmGrid'),      
	               scrollX : false,
	               scrollY : false,
	               rowHeaders : [ 'checkbox' ],
	               columns : [ {
	                  header : '설비코드',
	                  name : 'eqmCode',
	                  align : 'center',
	                  filter: 'select'
	               }, {
	                  header : '설비명',
	                  name : 'eqmName',
	                  align : 'center',
	                  filter: 'select'
	               }, {
	                  header : '라인',
	                  name : 'lineNo', 
	                  align : 'center',
	                  filter : 'select'
	               },
	               {
		              header : '설치장소',
		              name : 'eqmLoc', 
		              align : 'center',
		              filter : 'select'
		            },
	                {
	                  header : '설비상태',
	                  name : 'eqmYn',
	                  align : 'center',
	                  filter: 'select'
	               } ]
	            });
	            
	            function showEqm(){
	            $.ajax({
	            	url : 'getEqmList',
	            	dataType : "json",
	            	success: function(data){
	            		eqmGrid.resetData(data);
	            	}
	            });
	            }
	          //console.log(event.nativeEvent.target.innerText);  td값. 셀값
                //rowKey : 인덱스 번호
                
                
	            eqmGrid.on("click", event => {
	                // 설비가 가동중('Y')일때만 등록 input 태그에다 뿌려주기 & 등록 폼 보여주기
	                if(eqmGrid.getRow(event.rowKey).eqmYn == 'Y'){
	                $('#regForm').css("display","block");
	                	$('#eqmCode').val(eqmGrid.getRow(event.rowKey).eqmCode);
	 	                $('#eqmName').val(eqmGrid.getRow(event.rowKey)['eqmName']);
	                }
	                
	               
	                
	             })
	          
	            
	           
	            
	                  
	           
	            
	            var token = $("meta[name='_csrf']").attr("content");
	            var header = $("meta[name='_csrf_header']").attr("content");
	            
	            // 비가동 등록
	            function insertUoper(){
	            	let eqmCode = $('#eqmCode').val();
	            	let eqmName = $('#eqmName').val();
	            	//let uoperCode = $('#uoperCode').val();
	            	let uoperRsn = $('#uoperRsn').val(); // 비가동사유
	            	let empId = $('#empId').val();
	            	let uoperStartTime = $('#uoperStartTime').val();
	            	let uoperEndTime = $('#uoperEndTime').val();
	            	let uoperWork = $('#uoperWork').val(); // 작업내용
	            	
	            	console.log(eqmCode);
	            	
	            	$.ajax({
	            		url:'insertUoper',
	            		type : 'POST',
	            		data : {'eqmCode':eqmCode, 'eqmName' : eqmName , 'uoperRsn':uoperRsn,'empId':empId,'uoperStartTime':uoperStartTime,'uoperEndTime':uoperEndTime,'uoperWork':uoperWork},
	            		dataType : "json",
	                    
	                    async : false,
	                    beforeSend : function(xhr){
	                       xhr.setRequestHeader(header, token);
	                    },
	                    success:function(data){
	                       if(data > 0) {
	                          alert("입력완료");
	                          uoperGrid.resetData(data); 
	                         
	                       } else {
	                          alert("입력실패");
	                          
	                       }
	                    },error : function(reject){
	                    	console.log(reject);
	                    }
	            		
	            		
	            	});
	            
	            }
	            

				/* 비가동(uoper)내역 그리드 */
				var uoperGrid = new tui.Grid({
					el : document.getElementById('uoperGrid'),
		            rowHeaders : [ 'checkbox' ],
					scrollX : false,
					scrollY : false,
					columns : [ {
						header : '비가동',
						name : 'uoperCode'
					}, {
						header : '설비코드',
						name : 'eqmCode',
						align : 'center'
					}, {
						header : '설비명',
						name : 'eqmName',
						align : 'center'
					}, {
						header : '시작시간',
						name : 'uoperStartTime',
		                  formatter({value}){
		                	  return `${value.substring(0,10)}`;
		                  }
					}, {
						header : '종료시간',
						name : 'uoperEndTime',
		                  formatter({value}){
		                	  return `${value.substring(0,10)}`;
		                  }
					}, {
						header : '상태',
						name: 'uoperRsn',
						align : 'center'
					}, {
						header : '담당자',
						name : 'empName',
						align : 'center'
					}, {
						header : '작업내용',
						name : 'uoperWork',
						align : 'center'
					} ]
				});
				
				
				
			     function uoperShow() {
		                
	                   fetch("uoperList") 
	                   .then(res=>res.json())
	                   .then(obj=>{
	                	   console.log(obj);
	                       uoperGrid.resetData(obj);
	                       
	
	                   })
	            }
			     
			     
				     
				     
			            
				     
				    
			</script>

		</main>
	</article>
</body>
</html>