<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>설비 비가동관리</title>
<style>
#endBtn, #strBtn {
	width: 180px;
	height: 180px;
	border: none;
	border-radius: 20px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

#endBtn {
	background-color: red;
}

#strBtn {
	background-color: blue;
}

img {
	width: 30px;
}

.time>input {
	width: 30px;
	margin: 0 auto;
}

.col1 {
	background-color: #e8e8e8;
	padding: 10px;
	text-align: left;
	font-weight: bold;
	font-size: 0.9em;
}

.table  td  input {
	width: 150px;
}
</style>
<!-- 제이쿼리 -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- 토스트UI -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<body>
	<article layout:fragment="content">
		<main id="main" class="main">
			<h4>
				<strong>비가동 관리</strong>
			</h4>
			<div class="row">
				<div class="col-6">
					<h5>
						<b>설비조회</b>
					</h5>
					<hr>
					<div>
						<label style="padding-right: 15px;">설비현황</label> <input
							type="radio" name="eqmState" class="form-check-input"
							value="uoper">비가동 내역 <input type="radio" name="eqmState"
							class="form-check-input" value="eqm"> 설비전체
					</div>
					<div>
						<label style="padding-right: 15px;">설비구분</label> <select name="">
							<option selected>전체</option>
							<option value="">설.구1</option>
							<option value="">2</option>
							<option value="">3</option>
						</select>
					</div>
					<hr>
					<br> <div>비가동내역</div>
					<div id="uoperGrid"></div>

					<div>설비전체</div>
					<div id="eqmGrid"></div>
				</div>
				<div class="col-6">
					<form action="insertUoper" method="post">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" /> <span style="font-size: 18px;"><b>비가동
								등록</b></span>
						<div style="float: right;">
						    <input type="hidden" name="auth" value="ROLE_ADMIN">
							<button class="button" type="submit">등록</button>
							<button class="button" type="button" onclick="deleteUoper()">삭제</button>
							<button class="button" type="reset">초기화</button>
						</div>
						<br>
						<hr>
						<table class="table">
							<tr>
								<th class="col1">설비코드</th>
								<td><input type="text" name="eqmCode" id="eqmCode" readonly><i
									class="bi bi-search" data-bs-toggle="modal"
									data-bs-target="#eqmModal"></i></td>
								<th class="col1">설비명</th>
								<td><input type="text" name="eqmName" id="eqmName" readonly></td>
							</tr>
							<tr>
								<th class="col1">비가동코드</th>
								<td><input type="text" name="uoperCode" id="uoperCode" th:value="${uoperCode}" readonly>
								</td>
								<th class="col1">비가동사유</th>
								<td><select name="uoperName">
									<option value='' selected>--선택--</option>
									<option value='chk'>점검</option>
									<option value='fixed'>수리</option>
									<option value=''>재고부족?</option>
								</select></td>
							</tr>
							<tr>
								<th class="col1">일자</th>
								<td><input type="date" name="uoperStartTime"
									id="uoperStartTime"></td>
								<th class="col1">작업자</th>
								<td><input type="text" name="empNo" id="empNo"></td>
							</tr>

							<tr>
								<th>
								<button type="button" id="endBtn">
										<img src="assets/img/stop.png" alt="stop이미지">
										<p>비가동</p>
								</button>
								</th>
								<td><input type="text" id="endDate"></td>
								
								<th><button type="button" id="strBtn">
										<img src="assets/img/play-button.png" alt="play이미지">
										<p>재가동</p>
									</button></th>
								<td><input type="text" id="strDate"></td>
							</tr>
							<tr>
								<th class="col1">작업내용</th>
								<td><textarea placeholder="종료 누른 후에 입력가능.." id="uoperWork"
										name="uoperWork"></textarea></td>
							</tr>
							<tr>
						</table>

					</form>
				</div>

			</div>

		

			<br> <br>
			<script type="text/javascript">
			
			$('#endBtn').on('click', function(){
				var date = new Date();         //오늘 날짜
				let yyyy = date.getFullYear();  // 년
				let mm = date.getMonth() + 1 ;  // 월 0부터 시작 +1 해줌.
				let dd = date.getDate();
				let hh = date.getHours();
				let mn = date.getMinutes();  //분
				let se = date.getSeconds();  //초
				
				$('#endDate').val(hh+":"+mn+":"+se);
				
			});
			$('#strBtn').on('click', function(){
				var date = new Date();         //오늘 날짜
				let yyyy = date.getFullYear();  // 년
				let mm = date.getMonth() + 1 ;  // 월 0부터 시작 +1 해줌.
				let dd = date.getDate();
				let hh = date.getHours();
				let mn = date.getMinutes();  //분
				let se = date.getSeconds();  //초
				
				$('#strDate').val(hh+":"+mn+":"+se);
				
			});
			
				// 타이머
				/* function displayDate1(){
				  var now = new Date();
					document.getElementById('hour1').value = now.getHours();
					document.getElementById('min1').value = now.getMinutes();
				} */
				
				
				
				
			
			</script>

			<script type="text/javascript">
			
			showAll();
			showAll1();
			
				/* radio버튼 누를때 */
				$('input[type=radio][name=eqmState]').on(
						'click',
						function() {
							var chkValue = $(
									'input[type=radio][name=eqmState]:checked')
									.val();

							if (chkValue == 'eqm') {
								$('#eqmGrid').css('display', 'block');
								$('#uoperGrid').css('display', 'none');
							} else if (chkValue == 'uoper') {
								$('#eqmGrid').css('display', 'none');
								$('#uoperGrid').css('display', 'block');
							}
						});

	            /* 설비(eqm) 그리드  */
	            
	           
	            const eqmGrid = new tui.Grid({
	               el : document.getElementById('eqmGrid'),      
	               scrollX : false,
	               scrollY : false,
	               rowHeaders : [ 'checkbox' ],
	               columns : [ {
	                  header : '설비코드',
	                  name : 'eqmCode',
	                  align : 'center',
	                  filter: 'select'
	               }, {
	                  header : '설비명',
	                  name : 'eqmName',
	                  align : 'center',
	                  filter: 'select'
	               }, {
	                  header : '라인',
	                  name : 'lineNo', 
	                  align : 'center',
	                  filter : 'select'
	               },
	               {
		              header : '설치장소',
		              name : 'eqmLoc', 
		              align : 'center',
		              filter : 'select'
		            },
	                {
	                  header : '설비상태',
	                  name : 'eqmYn',
	                  align : 'center',
	                  filter: 'select'
	               } ]
	               // 설비상태가 '비가동(N)'중인 것만 모달창에 보여주기
	            });
	            
	            eqmGrid.on("click", event => {
	               
	                // getRow : 그리드 row(tr) 전체 가져오기.
	                //console.log(event.nativeEvent.target.innerText);  td값. 셀값
	                  //rowKey : 인덱스 번호  
	                // input 태그에 값 넣어주기.
	                
	                if(eqmGrid.getRow(event.rowKey).eqmYn == 'Y'){
	                	$('#eqmCode').val(eqmGrid.getRow(event.rowKey).eqmCode);
	 	                $('#eqmName').val(eqmGrid.getRow(event.rowKey)['eqmName']);
	                }
	                
	               
	                
	             })
	          
	            
	            function showAll() {
	                
	                   fetch("getEqmList") 
	                   .then(res=>res.json())
	                   .then(obj=>{
	                       eqmGrid.resetData(obj);
		                   console.log(Object.values(obj) == 'Y');
		                   for(i of Object.values(obj)){
		                	   console.log(i);
		                	   if (i == 'Y'){
		                		   i = '가동중';
		                	   }
		                	   
		                
		                   }
	                   })
	            }
	            
	            /* 설비 모달에서 한 행 클릭하면 input에 값 들어감 */
	                  
	           
	            
	            var token = $("meta[name='_csrf']").attr("content");
	            var header = $("meta[name='_csrf_header']").attr("content");
	            

				/* 비가동(uoper)내역 그리드 */
				var uoperGrid = new tui.Grid({
					el : document.getElementById('uoperGrid'),
		            rowHeaders : [ 'checkbox' ],
					scrollX : false,
					scrollY : false,
					columns : [ {
						header : '비가동',
						name : 'uoperNo',
					}, {
						header : '설비코드',
						name : ' eqmCode',
					}, {
						header : '설비명',
						name : 'eqmName',
					}, {
						header : '시작시간',
						name : 'uoperStartTime',
					}, {
						header : '종료시간',
						name : 'uoperEndTime'
					}, {
						header : '상태',
						name : 'uoperName',
					} ]
				});
				
				
				
			     function showAll1() {
		                
	                   fetch("uoperList") 
	                   .then(res=>res.json())
	                   .then(obj=>{
	                	   console.log(obj);
	                       uoperGrid.resetData(obj);
	                       
	
	                   })
	            }
			     
			     
				     
				     
			            
				     
				    
			</script>

		</main>
	</article>
</body>
</html>