<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>inout</title>

<style>
body {
	margin-top: 60px;
	padding: 20px 30px;
	transition: all 0.3s;
}
</style>
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
</head>
<body>
	<article class="container" layout:fragment="content">
		<main id="main" class="main">
			<div id="mat-od-title">
				<h2>제품출고관리</h2>
			</div>
			<hr>
			<div id="aGrid">
				<h3>제품별</h3>
			</div>
			<br>
			<hr>
			<div id="pGrid">
				<h3>거래처별</h3>
			</div>
			<script>
			var token = $("meta[name='_csrf']").attr("content");
			 var header = $("meta[name='_csrf_header']").attr("content");

			AllA();
			const aGrid = new tui.Grid({
			el : document.getElementById('aGrid'),
			pagination:true,
			pageOption: {
				useClient:true,
				perPage:10
			},
			scrollX : false,
			scrollY : false,
/* 			rowHeaders: ['checkbox'],
 */			columns : [
				{
					header : '품목',
					name : 'prtName',
					align : 'center',
					filter: 'select'
				}, 
				{
					header : '총출고량',
					name : 'orderOutQty',
					align : 'center',
					filter: 'select'
				},
				{
					header : '주문량',
					name : 'orderQty',
					align : 'center',
					filter: 'select'
				},
				{
					header : '재고량',
					name : 'lotQty',
					align : 'center',
					filter: 'select'
				}
		          ]
		});
		function AllA() {
	        url="selectPrtManager"
			fetch(url) 
	        .then(res=>res.json())
	        .then(obj=>{
	           console.log(obj);
	           aGrid.resetData(obj);
	        })
		}	
		</script>
			<script>
		AllA1();
		const pGrid = new tui.Grid({
			el : document.getElementById('pGrid'),
			pagination:true,
			pageOption: {
				useClient:true,
				perPage:10
			},
			scrollX : false,
			scrollY : false,
/* 			rowHeaders: ['checkbox'],
 */			columns : [
				{
					header : '거래처코드',
					name : 'cpCode',
					align : 'center',
					filter: 'select'
				}, 
				{
					header : '거래처이름',
					name : 'cpName',
					align : 'center',
					filter: 'select'
				}, 
				{
					header : '주문번호',
					name : 'orderNo',
					align : 'center',
					filter: 'select'
				}, 
				{
					header : '품목',
					name : 'prtName',
					align : 'center',
					filter: 'select'
				}, 
				{
					header : '주문량',
					name : 'orderQty',
					align : 'center',
					filter: 'select'
				},
				{
					header : '재고량',
					name : 'lotQty',
					align : 'center',
					filter: 'select'
				}
		          ]
		});
		function AllA1() {
	        url="selectPrtList2"
			fetch(url) 
	        .then(res=>res.json())
	        .then(obj=>{
	           console.log(obj);
	           pGrid.resetData(obj);
	        })
		}
    		</script>
		</main>
	</article>
</body>