<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>inout</title>

<style>
body {
	margin-top: 60px;
	padding: 20px 30px;
	transition: all 0.3s;
}
</style>
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<script type="text/javascript"
	src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
</head>
<body>
	<article class="container" layout:fragment="content">
		<main id="main" class="main">
			<div id="mat-od-title">
				<h2>제품출고관리</h2>
			</div>
			<hr>
			<div id="aGrid">
				<h3>제품별</h3>
			</div>
			<br>
			<hr>
			<div id="pGrid">
				<h3>제품별</h3>
				<div class="modal" id="prModal" tabindex="-1"
					aria-labelledby="prModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">출고상세리스트</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
							<div id="aGrid1"></div>
							</div>
							<div class="modal-footer">
								<button type="button" class="button" data-bs-dismiss="modal">닫기</button>
								<button type="submit" class="button" onclick="updateOrderNy()">출고하기</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="AllA1" class="tui-pagination"></div>
			<script>
			var token = $("meta[name='_csrf']").attr("content");
			 var header = $("meta[name='_csrf_header']").attr("content");

			AllA();
			const aGrid = new tui.Grid({
			el : document.getElementById('aGrid'),
			pagination:true,
			pageOptions: {
			    useClient: true,
			    perPage: 5
			  },
			scrollX : false,
			scrollY : false,
 			rowHeaders: ['checkbox'],
			columns : [
				{
					header : '제품명',
					name : 'prtName',
					align : 'center',
					filter: 'select'
				}, 
				{
					header : '총주문량',
					name : 'orderQty',
					align : 'center',
					filter: 'select'
				},
				{
					header : '총출고량',
					name : 'orderOutQty',
					align : 'center',
					filter: 'select'
				},
				{
					header : '재고량',
					name : 'lotQty',
					align : 'center',
					filter: 'select'
				}
		          ]
		});
			const aGrid1 = new tui.Grid({
			el : document.getElementById('aGrid1'),
			pagination:true,
			pageOptions: {
			    useClient: true,
			    perPage: 5
			  },
			scrollX : false,
			scrollY : false,
 			rowHeaders: ['checkbox'],
			columns : [
				{
					header : '제품명',
					name : 'prtName',
					align : 'center',
					filter: 'select'
				}, 
				{
					header : '총주문량',
					name : 'orderQty',
					align : 'center',
					filter: 'select'
				},
				{
					header : '총출고량',
					name : 'orderOutQty',
					align : 'center',
					filter: 'select'
				},
				{
					header : '재고량',
					name : 'lotQty',
					align : 'center',
					filter: 'select'
				}
		          ]
		});
		function AllA() {
	        url="selectPrtManager"
			fetch(url) 
	        .then(res=>res.json())
	        .then(obj=>{
	           console.log(obj);
	           aGrid.resetData(obj);
	        })
		}	
		function AllA1
		() {
	        url="selectPrtManager"
			fetch(url) 
	        .then(res=>res.json())
	        .then(obj=>{
	           console.log(obj);
	           aGrid.resetData(obj);
	        })
		}	
		</script>
			<script>
		AllA1();
		const pGrid = new tui.Grid({
			el : document.getElementById('pGrid'),
			pagination:true,
			pageOptions: {
			    useClient: true,
			    perPage: 5
			  },
			scrollX : false,
			scrollY : false,
			rowHeaders: ['checkbox'],
 		columns : [
				{
					header : '제품코드',
					name : 'prtCode',
					align : 'center',
					filter: 'select'
				}, 
				{
					header : '제품명',
					name : 'prtName',
					align : 'center',
					filter: 'select'
				}, 
				{
					header : '주문번호',
					name : 'orderNo',
					align : 'center',
					filter: 'select'
				}, 
				
				{
					header : '주문량',
					name : 'orderQty',
					align : 'center',
					filter: 'select'
				},
			
		          ]
		});

		function AllA1() {
	        url="selectPrtList2"
			fetch(url) 
	        .then(res=>res.json())
	        .then(obj=>{
	           console.log(obj);
	           pGrid.resetData(obj);
	        })
		}	
		 document.addEventListener('shown.bs.modal', function() {
			 pGrid.refreshLayout();
              }, '.modal');
		  
		 pGrid.on('click',function(ev){
           
            if(ev.columnName =='prtCode'){
               $('#prModal').modal('show');
               pGrid.refreshLayout();
         }
         });
    		</script>
		</main>
	</article>
</body>