<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<article class="container" layout:fragment="content">
		<div id="mat-od-title">
			<h2>제품출고 관리</h2>
		</div>
		<hr>
		<!-- 탭 목록(버튼) 설정 -->
		<ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
			
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="matOut-tab" data-bs-toggle="tab"
					data-bs-target="#matOut" type="button" role="tab"
					aria-controls="matOut" aria-selected="false">출고 조회</button>
			</li>
		</ul>
		<!-- 탭 본문 시작 -->
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="matIn" role="tabpanel"
				aria-labelledby="matIn-tab">
				<ul class="ul-style">
					<li><label for="matNm">자재명</label><input id="matNm" readonly><img
						class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
						data-bs-target="#matModal" src="../images/Magnifying_Glass.png">
						<input type="text" readonly></li>
					<li><label for="empNm">담당자</label><input id="empNm" readonly><img
						class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
						data-bs-target="#empModal" src="../images/Magnifying_Glass.png">
						<input type="text" readonly></li>
					<li><label for="chkDate">검사일자</label><input type="date"
						id="chkDate"><span> - </span><input type="date"
						id="chkDate">
						<button class="btn btn-dark btn-sm">조회</button>
						<button class="btn btn-dark btn-sm">초기화</button></li>
				</ul>

				<div style="text-align: right;">
					<button class="btn btn-dark btn-sm" data-bs-toggle="modal"
						data-bs-target="#addModal">추가</button>
					<button class="btn btn-dark btn-sm">선택삭제</button>
					<button class="btn btn-dark btn-sm">저장</button>
				</div>

				<div id="grid"></div>
			</div>

			<!-- 출고 관리 탭 -->
			<div class="tab-pane fade" id="matOut" role="tabpanel"
				aria-labelledby="matOut-tab">
				<ul class="ul-style">
					<li><label for="matNm">자재명</label><input id="matNm" readonly><img
						class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
						data-bs-target="#matModal" src="../images/Magnifying_Glass.png">
						<input type="text" readonly></li>
					<li><label for="actNm">업체명</label><input id="actNm" readonly><img
						class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
						data-bs-target="#actModal" src="../images/Magnifying_Glass.png">
						<input type="text" readonly></li>
					<li><label for="outDate">출고일자</label><input type="date"
						id="outDate"><span> - </span><input type="date"
						id="outDate">
						<button class="btn btn-dark btn-sm">조회</button>
						<button class="btn btn-dark btn-sm">초기화</button></li>
				</ul>

				<div style="text-align: right;">
					<button class="btn btn-dark btn-sm">추가</button>
					<button class="btn btn-dark btn-sm">선택삭제</button>
					<button class="btn btn-dark btn-sm">저장</button>
				</div>

				<div id="grid2"></div>
			</div>
		</div>

		<script>
const grid = new tui.Grid({
      el: document.getElementById('grid'),
      data: [
    {
        maCode: 'OAF-20221104-011',
        mtCode: 'RML-10101',
        maNm: '얇은 만두피',
        actNm: 'YD 만두피',
        count: 999,
        inDate: '2022-11-12',
        maLot: 'OAF-20221104-011',
        eDate: '2023-11-30'
    },
    {
        maCode: 'OAF-20221105-011',
        mtCode: 'RML-10101',
        maNm: '두꺼운 만두피',
        actNm: 'SJ 만두피',
        count: 1000,
        inDate: '2022-11-12',
        maLot: 'OAF-20221104-012',
        eDate: '2023-11-30'
    }
  ],
      rowHeaders: ['checkbox'],
      scrollX: false,
      scrollY: false,
      columns: [
        {
          header: '발주코드',
          name: 'maCode'
        },
        {
          header: '자재코드',
          name: 'mtCode'
        },
        {
          header: '자재명',
          name: 'maNm'
        },
        {
          header: '업체명',
          name: 'actNm'
        },
        {
          header: '입고량',
          name: 'count'
        },
        {
          header: '입고일',
          name: 'inDate'
        },
        {
          header: '자재LOT번호',
          name: 'maLot'
        },
        {
          header: '유통기한',
          name: 'eDate'
        }
      ]
    });

    grid.on('check', ev => {
      console.log('check!', ev);
    });

    grid.on('uncheck', ev => {
      console.log('uncheck!', ev);
    });

    grid.on('focusChange', ev => {
      console.log('change focused cell!', ev);
    });
    </script>

		<script>
const grid2 = new tui.Grid({
      el: document.getElementById('grid2'),
      data: [
    {
    	maLot: 'RML-10000-20221112001',
    	mtCode: 'RML-10101',
        maNm: '얇은 만두피',
        actNm: 'YD 만두피',
        outCount: 999,
        outDate: '2022-11-12',
        eDate: '2023-11-30',
        outD: '출고'
    },
    {
    	maLot: 'RML-10000-20221112002',
    	mtCode: 'RML-10101',
        maNm: '두꺼운 만두피',
        actNm: 'YD 만두피',
        outCount: 1200,
        outDate: '2022-11-12',
        eDate: '2023-11-30',
        outD: '출고'
    }
  ],
      rowHeaders: ['checkbox'],
      scrollX: false,
      scrollY: false,
      columns: [
        {
          header: '자재LOT번호',
          name: 'maLot'
        },
        {
          header: '자재코드',
          name: 'mtCode'
        },
        {
          header: '자재명',
          name: 'maNm'
        },
        {
          header: '업체명',
          name: 'actNm'
        },
        {
          header: '출고량',
          name: 'outCount'
        },
        {
          header: '출고일',
          name: 'outDate'
        },
        {
          header: '유통기한',
          name: 'eDate'
        },
        {
            header: '출고구분',
            name: 'outD'
          }
      ]
    });

    grid2.on('check', ev => {
      console.log('check!', ev);
    });

    grid2.on('uncheck', ev => {
      console.log('uncheck!', ev);
    });

    grid2.on('focusChange', ev => {
      console.log('change focused cell!', ev);
    });
    </script>
	</article>
</body>
</html>