<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>OrderList</title>

<style>
body {
	margin-top: 60px;
	padding: 20px 30px;
	transition: all 0.3s;
}
</style>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<article class="container" layout:fragment="content">
		<main id="main" class="main">
			<div id="mat-od-title">
				<h2>제품 주문</h2>
			</div>
		
			<form action="insertOrder" method="post">
				<div style="text-align: right;">
				<button class="button" onclick="clearA()">초기화</button>
					<button type="submit" class="button" style="float: right;">주문하기</button>
				</div>

				<div id="prtGrid"></div>
				<hr>

				<table class="table">
					<tr>
						<th>거래처</th>
						<td><input type="text" name="cpCode" id="cpCode"
							th:value="${session.user.cpName}"></td>
						<td><input type="hidden" id="cpCode" name="cpCode"
							value="${session.user.cpCode}"></td>
						<th>납기 일자</th>
						<td><input type="date" name="ordDate" id="ordDate"></td>
						<td><input type="hidden" id="prtCode" name="prtCode"></td>
						<td><input type="hidden" id="prtName" name="prtName"></td>
						<td><input type="hidden" id="prtStandard" name="prtStandard"></td>
						<td><input type="hidden" id="orderQty" name="orderQty"></td>
						<td><input type="hidden" id="unitPrice" name="unitPrice"></td>
						<td><input type="hidden" id="orderPrice" name="orderPrice"></td>
					</tr>
				</table>

				<div id="prtGrid1"></div>
			</form>
			<script>
			console.log('#cpCode')
			prtl();
			ord1();
			const prtGrid = new tui.Grid({
				el : document.getElementById('prtGrid'),
				pagination:true,
				pageOption: {
					useClient:true,
					perPage:10
				},
				scrollX : false,
				scrollY : false,
				rowHeaders: ['checkbox'],
				columns : [ 
					{
					header : '제품코드',
					name : 'prtCode',
					align : 'left',
				}, 
					{
					header : '제품',
					name : 'prtName',
					align : 'left',
				}, 
				{
					header : '규격',
					name : 'prtStandard', //납기일자명 수정
					align : 'center',
				},
				{
					header : '가격',
					name : 'prtPrice',
					align : 'right',
				},
				]
			});
			    function prtl() {
					url="/user/selectPrtList"
			        fetch(url) 
			        .then(res=>res.json())
			        .then(obj=>{
			           console.log(obj);
			           prtGrid.resetData(obj);
			        })
				}
			    const prtGrid1 = new tui.Grid({
					el : document.getElementById('prtGrid1'),
					pagination:true,
					pageOption: {
						useClient:true,
						perPage:10
					},
					scrollX : false,
					scrollY : false,
					rowHeaders: ['checkbox'],
					columns : [ 
						{
						header : '제품코드',
						name : 'prtCode',
						align : 'left',
					}, 
						{
						header : '제품',
						name : 'prtName',
						align : 'left',
					}, 
					{
						header : '규격',
						name : 'prtStandard', 
						align : 'center',
					},
					{
						header : '주문량',
						name : 'orderQty', 
						editor: 'text',
						align : 'right',
						onAfterChange : function(ev) {
				            //console.log(ev.value,this)   
				            let row = prtGrid1.getRow(ev.rowKey)
				            let sum = row.unitPrice * ev.value
				            prtGrid1.setValue(ev.rowKey, 'orderPrice', sum)
				         }
					},
					{
						header : '단가',
						name : 'unitPrice', 
						align : 'right',
					},
					{
						header : '총가격',
						name : 'orderPrice',
						align : 'right',
					}
					]
				}); 
			var token = $("meta[name='_csrf']").attr("content");
			 var header = $("meta[name='_csrf_header']").attr("content");
			
			 prtGrid.on("click", event => {
	        		var prt = {prtCode : prtGrid.getRow(event.rowKey).prtCode,prtName:prtGrid.getRow(event.rowKey).prtName, prtStandard: prtGrid.getRow(event.rowKey).prtStandard,
	        			unitPrice:prtGrid.getRow(event.rowKey).prtPrice, orderQty:'', orderPrice:''}; //json 형태로 지정해도 됩니다.
	        			console.log(prt)
	        			prtGrid1.appendRow(prt);
	                })
	         function clearA() {
				 console.log("aaa")
				 prtGrid1.clear()
			 }
			 function ord1() {
					url="selectOrder"
			        fetch(url) 
			        .then(res=>res.json())
			        .then(obj=>{
			           console.log(obj);
			           prtGrid1.resetData(obj);
			        })
				}
			 
			</script>
		</main>
	</article>
</body>
</html>