<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>OrderList</title>

<style>
body {
	margin-top: 60px;
	padding: 20px 30px;
	transition: all 0.3s;
}
</style>
</head>
<body>

	<article class="container" layout:fragment="content">
		<main id="main" class="main">
			<div id="mat-od-title">
				<h2>주문 상세</h2>
			</div>
			<div style="text-align: right;">

				<button class="button" id="orUpdate">수정</button>
				<button class="button" id="delete">삭제</button>
				<button class="button">저장</button>
			</div>

			<div id="ordGrid"></div>
			<script>
			
			ordALl();
			const ordGrid = new tui.Grid({
				el : document.getElementById('ordGrid'),
				pagination:true,
				pageOption: {
					useClient:true,
					perPage:10
				},
				scrollX : false,
				scrollY : false,
				rowHeaders: ['checkbox'],
				columns : [{
					header : '거래처명',
					name : 'cpName',
					align : 'center',
					filter: 'select'
				},
				 {
					header : '주문번호',
					name : 'orderNo',
					align : 'center',
					filter: 'select'
				}, 
				{
					header : '주문일자',
					name : 'orderDate', //납기일자명 수정
					align : 'center',
					filter: 'select'
				}, {
					header : '품목',
					name : 'prtName',
					align : 'center',
					filter: 'select'
				}, 
				{
					header : '납기일자',
					name : 'dday',
					align : 'center',
					filter: 'select'
				},
				{
					header : '주문량',
					name : 'orderQty',
					align : 'center',
					filter: 'select'
				},
				{
					header : '진행상태',
					name : 'orderPrg',
					align : 'center',
					filter: 'select'
				}
				 ]
			});
			    function ordALl() {
					url="selectPrtInfoList"
			        fetch(url) 
			        .then(res=>res.json())
			        .then(obj=>{
			           console.log(obj);
			           ordGrid.resetData(obj);
			        })
				}
			    function orUpdate() {
					url="selectOrderList"
			        fetch(url) 
			        .then(res=>res.json())
			        .then(obj=>{
			           console.log(obj);
			           ordGrid.resetData(obj);
			        })
				}
			    
			    
    </script>


		</main>
	</article>
</body>
</html>