
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>주문납품 대비출고 조회</title>

<style>
.tui-datepicker {
	z-index: 1001;
}

.tui-select-box {
	z-index: 1001;
}

/* ul 스타일 */
.ul-style {
	list-style: none;
	padding: 0px;
}

.ul-style li>label {
	width: 100px;
	text-align: center;
}

.ul-style li {
	padding: 5px;
}

#od-title {
	font-weight: bold;
}

#od-btn {
	display: inline-block;
	margin: 0 5px;
	float: right;
}
</style>

<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<script type="text/javascript"
	src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>

</head>
<body>
	<article layout:fragment="content">
		<main class="main" id="main">
			<div id="od-title">
				<h3>주문납품 대비출고 조회</h3>
			</div>
			<br> <br>
			<h4>진행중인 주문서 현황</h4>
			<div id="allGrid"></div>
			<br>
			<h4>출고 등록 현황 리스트</h4>
			<div id="ordGrid"></div>
			<script>
			var token = $("meta[name='_csrf']").attr("content");
			 var header = $("meta[name='_csrf_header']").attr("content");

			all();
			
				const allGrid = new tui.Grid({
					el : document.getElementById('allGrid'),
					pagination:true,
					pageOptions: {
					    useClient: true,
					    perPage: 5
					  },
					scrollX : false,
					scrollY : false,
/* 					rowHeaders: ['checkbox'],
 */					columns : [
					    {
						    header : '주문일자',
							name : 'orderDate', //납기일자명 수정
							align : 'center',
							filter: 'select'
						},
						{
							header : '주문번호',
							name : 'orderNo',
							align : 'center',
							filter: 'select'
						}, 
						{
							header : '거래처명',
							name : 'cpName',
							align : 'center',
							filter: 'select'
						},
						{
							header : '제품명',
							name : 'prtName',
							align : 'center',
							filter: 'select'
						},
						{
							header : '주문량',
							name : 'orderQty',
							align : 'center',
							filter: 'select'
						},
						{
							header : '출고량',
							name : 'orderOutQty',
							align : 'center',
							filter: 'select'
						}
				           
				           
				          ]
				});
				
				function all() {
					url="selectOrdeIng"
			        fetch(url) 
			         .then(res=>res.json())
			        .then(obj=>{
			           console.log(obj);
			           allGrid.resetData(obj);
			        })
				}
				</script>

			<script>
				ordAll();
				
				const ordGrid = new tui.Grid({
					el : document.getElementById('ordGrid'),
					pagination:true,
					pageOptions: {
					    useClient: true,
					    perPage: 5
					  },
					scrollX : false,
					scrollY : false,
/* 					rowHeaders: ['checkbox'],
 */					columns : [ {
						header : '주문번호',
						name : 'orderNo',
						align : 'center',
						filter: 'select'
					}, {
						header : '주문일자',
						name : 'orderDate', //납기일자명 수정
						align : 'center',
						filter: 'select'
					}, {
						header : '품목',
						name : 'prtName',
						align : 'center',
						filter: 'select'
					}, 
					{
						header : '납기일자',
						name : 'dday',
						align : 'center',
						filter: 'select'
					},
					{
						header : '주문량',
						name : 'orderQty',
						align : 'center',
						filter: 'select'
					},
					{
						header : '진행상태',
						name : 'orderPrg',
						align : 'center',
						filter: 'select'
					}
					 ]
				});
				    function ordAll() {
						url="selectOrderList"
				        fetch(url) 
				        .then(res=>res.json())
				        .then(obj=>{
				           console.log(obj);
				           ordGrid.resetData(obj);
				        })
					}
	   	 </script>
		</main>
	</article>
</body>
</html>