<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>공정 검사 페이지</title>

<style>
.tui-datepicker {
	z-index: 1001;
}

.tui-select-box {
	z-index: 1001;
}

/* ul 스타일 */
.ul-style {
	list-style: none;
	padding: 0px;
}

.ul-style li>label {
	width: 100px;
	text-align: center;
}

.ul-style li {
	padding: 5px;
}

#od-title {
	font-weight: bold;
}

#od-btn {
	display: inline-block;
	margin: 0 5px;
	float: right;
}
</style>

<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
</head>
<body>
	<article layout:fragment="content">
		<main class="main" id="main">
			<div id="od-title">
				<h3>자재 수입 검사</h3>
			</div>

			<div id="od-content">
				<div id="input-group">
					<ul class="ul-style">
						<li><label for="prtName">거래처별</label><input type="text">
							<i class="bi bi-search" data-bs-toggle="modal"
							data-bs-target="#exampleModal" id="prtName"></i> <input
							type="text" readonly><br></li>

						<li><label for="">출고창고</label><input type="text"></li>

						<li><label>출고일자</label>
							<div
								class="tui-datepicker-input tui-datetime-input tui-has-focus">
								<input id="startpicker-input" type="text" aria-label="Date">
								<span class="tui-ico-date"></span>
								<div id="startpicker-container" style="margin-left: -1px;"></div>
							</div> <span>-</span>
							<div
								class="tui-datepicker-input tui-datetime-input tui-has-focus">
								<input id="endpicker-input" type="text" aria-label="Date">
								<span class="tui-ico-date"></span>
								<div id="endpicker-container" style="margin-left: -1px;"></div>
							</div> <!-- 버튼 -->
							<button class="btn btn-dark btn-sm">조회</button>
							<button class="btn btn-dark btn-sm">초기화</button></li>
					</ul>
				</div>

				<!-- Modal 내용 -->
				<div class="modal fade" id="exampleModal" tabindex="-1"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">거래처 목록</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<button type="button" class="btn btn-dark btn-sm"
									data-bs-dismiss="modal">조회</button>
								<button type="button" class="btn btn-dark btn-sm">초기화</button>
								<div id="modalGrid1"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="od-content-2">
				<h4>진행중인 주문서 현황</h4>

				<div id="grid"></div>

			</div>
			<br>
			<div id="od-content-3">
				<h4>출고 등록 현황 리스트</h4>
				<div id="od-btn">
					<button class="btn btn-dark btn-sm" id="insertBtn">추가</button>
					<button class="btn btn-dark btn-sm" id="deleteBtn">선택삭제</button>
					<button class="btn btn-dark btn-sm">저장</button>
				</div>
				<div id="grid2"></div>
			</div>



			<script>
			
				var today = new Date();
				var picker = tui.DatePicker.createRangePicker({
					startpicker : {
						date : today,
						input : '#startpicker-input',
						container : '#startpicker-container'
					},
					endpicker : {
						date : today,
						input : '#endpicker-input',
						container : '#endpicker-container'
					},
					selectableRanges : [ [
							today,
							new Date(today.getFullYear() + 1, today.getMonth(),
									today.getDate()) ] ]
				});

				const grid11 = new tui.Grid({
					el : document.getElementById('grid'),
					data : [ {
				    	orderNo: '00001',
				    	orderDate: '2022-11-11',
				    	cpName : '삼겹살맛집',
				    	prtName: '참이슬',
				    	prtUnit:'Ex',
				    	orderOutQty : 100,
				       
				    }, ],
					rowHeaders : [ 'rowNum' ],
					scrollX : false,
					scrollY : false,
					columns : [
				            {
				              header: '주문일자',
				              name: 'orderDate'
				            },
   				            {
				            	header: '주문번호',
				              name: 'orderNo'
				            },
				            {
				              header: '거래처명',
				              name: 'cpName'
				            },
				            {
				              header: '제품명',
				              name: 'prtName'
				            },
				            {
				              header: '단위',
				              name: 'prtUnit'
				            },
				            {
				              header: '출고량',
				              name: 'orderOutQty'
				            }
				           
				          ]
				});

				const grid22 = new tui.Grid({
					el : document.getElementById('grid2'),
					data : [ {
				    	orderNo: '00001',
				    	orderDate: '2022-11-11',
				    	prtName: '참이슬',
				    	orderQty: 999,
				    	dDay: '2022-11-15',
				    	orderPrg: '대기중',
				       
				    } ],
					 rowHeaders: ['checkbox'],
				      scrollX: false,
				      scrollY: false,
				      columns: [
				          {
				              header: '주문번호',
				              name: 'orderNo'
				            },
				            {
				              header: '주문일자',
				              name: 'orderDate'
				            },
				            {
				              header: '품목',
				              name: 'prtName'
				            },
				            {
				              header: '납기일자',
				              name: 'dDay'
				            },
				            {
				              header: '주문량',
				              name: 'orderQty'
				            },
				            {
				              header: '진행상태',
				              name: 'orderPrg'
				            }
				           
				          ]
				    });
				const modalGrid = new tui.Grid({
					el : document.getElementById('modalGrid1'),
					data : [ {
						actCd : 'VDR-1001',
						actNm : 'AA 마트',
						actNum : '791-10-000',
						tel : '053-514-4512'
					} ],
					rowHeaders : [ 'rowNum' ],
					scrollX : false,
					scrollY : false,
					columns : [ {
						header : '거래처 코드',
						name : 'actCd'
					}, {
						header : '거래처명',
						name : 'actNm'
					}, {
						header : '사업자 등록번호',
						name : 'actNum'
					}, {
						header : '전화번호',
						name : 'tel'
					} ]
				})
/* 				modalGrid.addEventListener('click', function() {
					Grid.refreshLayout();
				}) */
				/* 
				homeTab.addEventListener('click', () => {
       				setInterval(()=>{grid11.refreshLayout()},1);
       				setInterval(()=>{grid22.refreshLayout()},1);
   				 });
				 */
				exampleModal.addEventListener('shown.bs.modal', () => {
					modalGrid.refreshLayout();
				   });
			
			</script>

		</main>
	</article>
</body>
</html>