<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<title>eqmList</title>

<!--jquery  -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!--toast grid  -->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<style>
.row {
   margin: 15px;
}

.button {
 display : inline-block;
 cursor : pointer;
 border: none;
  border-radius: 4px;
}

h4{
   display: inline-block;
}

.button{
   border :none;
   background-color : green;
   color : white;
}

</style>

</head>

<body>
    
   <br>

   <article layout:fragment="content">
      <main id="main" class="main">
      
      
         <h4><strong>설비정보 관리</strong></h4>
      <div style="float:right;">
         <button class="button" type="submit">등록</button>
         <button class="button">수정</button>
         <button class="button">삭제</button>
      </div>
         <br>
         <hr>
      
      <div class="row">
      <table>
         <tr>
            <td>설비코드</td>
            <td><input type="text" name="eqmCode"></td>
            <td>설비명</td>
            <td><input type="text" name="eqmName"></td>
         </tr>
         <tr>
            <td>모델명</td>
            <td><input type="text" name="eqmModel"></td>
            <td>라인</td>
            <td><input type="text" name=""></td>
         </tr>
         <tr>
            <td>설치장소</td>
            <td><input type="text" name=""></td>
            <td>공정코드</td>
            <td><input type="text" name=""></td>
         </tr>
         <tr>
            <td>최고온도</td>
            <td><input type="text" name=""></td>
            <td>최저온도</td>
            <td><input type="text" name=""></td>
         </tr>
         <tr>
            <td>구입업체</td>
            <td><input type="text" name=""></td>
            <td>입고일</td>
            <td><input type="text" name=""></td>
         </tr>
         <tr>
            <td>비상연락망</td>
            <td><input type="text" name=""></td>
            <td>공정코드</td>
            <td><input type="text" name=""></td>
         </tr>
         <tr>
            <td>점검주기</td>
            
            <td id="check"><input type="text" name=""></td>
            <td><select name="">
                  <option value='' selected>--선택--</option>
                  <option value="week">주</option>
                  <option value="month">달</option>
                  <option value="year">년</option>
            </select></td>
            

         </tr>
      </table>
      </div>
      <br>
      <br>
      <h4>설비 전체조회</h4>
      <br>
      <br>
      <div id="eqmGrid"></div>
         
      
   
      

   <script>
      var eqmGrid = new tui.Grid({
         el : document.getElementById('eqmGrid'),
         // 임시 데이터
         data : [ {
            eqmNo : '1',
            eqmCode : 'eqm_1538',
            eqmName : '주입기',
            prsCode : 'pro_123456',
            eqmModel : 'ist_20054281'
         },{
            eqmNo : '2',
            eqmCode : 'eqm_2746',
            eqmName : '검사기',
            prsCode : 'pro_123456',
            eqmModel : 'isp_2016458'
         }
         
         ],
         // data 가져오는 법
         // data: {
         //    api: {
         //       readData: {
         //          url: '/api/readData',
         //          method: 'GET'
         //       }
         //    }
         // },
         scrollX : false,
         scrollY : false,
         columns : [ {
            header : 'No',
            name : 'eqmNo',
         }, {
            header : '설비코드',
            name : 'eqmCode',
         }, {
            header : '설비명',
            name : 'eqmName', //납기일자명 수정
         }, {
            header : '공정',
            name : 'prsCode'
         }, {
            header : '모델명',
            name : 'eqmModel'
         } ]
      });
   </script>


   <!-- 본문 끝 -->

      </main>
      
   </article>

</body>

</html>